openapi: 3.2.0
info:
  description: WorldCat Metadata API
  version: 2.0.0
  title: WorldCat Metadata Search Bibliographic Resources API
servers:
- url: https://metadata.api.oclc.org
  description: PROD
security:
- worldcat_metadata_auth:
  - WorldCatMetadataAPI
tags:
- name: Search Bibliographic Resources
paths:
  /worldcat/search/brief-bibs:
    get:
      tags:
      - Search Bibliographic Resources
      summary: Search Brief Bibliographic Resources
      description: Search Brief Bibliographic Resources
      operationId: search-brief-bibs
      parameters:
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/deweyNumber'
      - $ref: '#/components/parameters/datePublished'
      - $ref: '#/components/parameters/heldByGroup'
      - $ref: '#/components/parameters/heldBy'
      - $ref: '#/components/parameters/heldBySymbol'
      - $ref: '#/components/parameters/heldByInstitutionID'
      - $ref: '#/components/parameters/inLanguage'
      - $ref: '#/components/parameters/inCatalogLanguage'
      - $ref: '#/components/parameters/materialType'
      - $ref: '#/components/parameters/catalogSource'
      - $ref: '#/components/parameters/itemType'
      - $ref: '#/components/parameters/itemSubType'
      - $ref: '#/components/parameters/retentionCommitments'
      - $ref: '#/components/parameters/spProgram'
      - $ref: '#/components/parameters/genre'
      - $ref: '#/components/parameters/topic'
      - $ref: '#/components/parameters/subtopic'
      - $ref: '#/components/parameters/audience'
      - $ref: '#/components/parameters/content'
      - $ref: '#/components/parameters/openAccess'
      - $ref: '#/components/parameters/peerReviewed'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/groupRelatedEditions'
      - $ref: '#/components/parameters/groupVariantRecords'
      - $ref: '#/components/parameters/preferredLanguage'
      - $ref: '#/components/parameters/showHoldingIndicators'
      - $ref: '#/components/parameters/lat'
      - $ref: '#/components/parameters/lon'
      - $ref: '#/components/parameters/distance'
      - $ref: '#/components/parameters/unit'
      - $ref: '#/components/parameters/orderBy'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/success-brief-bib-search'
        '206':
          $ref: '#/components/responses/success-brief-bib-search'
        '400':
          $ref: '#/components/responses/bib_query_error'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
      - worldcat_metadata_auth:
        - WorldCatMetadataAPI:view_brief_bib
  /worldcat/search/brief-bibs/{oclcNumber}:
    get:
      tags:
      - Search Bibliographic Resources
      summary: Retrieve specific Brief Bibliographic Resource
      description: Retrieve specific Bibliographic Resource
      operationId: retrieve-brief-bib
      parameters:
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/parameters-oclcNumberAsId'
      responses:
        '200':
          $ref: '#/components/responses/success-single-brief-bib'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                invalid-oclc-number:
                  $ref: '#/components/examples/invalid-oclc-number'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
      - worldcat_metadata_auth:
        - WorldCatMetadataAPI:view_brief_bib
  /worldcat/search/brief-bibs/{oclcNumber}/other-editions:
    get:
      tags:
      - Search Bibliographic Resources
      summary: Retrieve Other Editions related to a particular Bibliographic Resource
      description: Retrieve Other Editions related to a particular Bibliographic Resource
      operationId: retrieve-other-editions
      parameters:
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/parameters-oclcNumberAsId'
      - $ref: '#/components/parameters/deweyNumber'
      - $ref: '#/components/parameters/datePublished'
      - $ref: '#/components/parameters/heldByGroup'
      - $ref: '#/components/parameters/heldBy'
      - $ref: '#/components/parameters/heldBySymbol'
      - $ref: '#/components/parameters/heldByInstitutionID'
      - $ref: '#/components/parameters/inLanguage'
      - $ref: '#/components/parameters/inCatalogLanguage'
      - $ref: '#/components/parameters/materialType'
      - $ref: '#/components/parameters/catalogSource'
      - $ref: '#/components/parameters/itemType'
      - $ref: '#/components/parameters/itemSubType'
      - $ref: '#/components/parameters/retentionCommitments'
      - $ref: '#/components/parameters/spProgram'
      - $ref: '#/components/parameters/genre'
      - $ref: '#/components/parameters/topic'
      - $ref: '#/components/parameters/subtopic'
      - $ref: '#/components/parameters/audience'
      - $ref: '#/components/parameters/content'
      - $ref: '#/components/parameters/openAccess'
      - $ref: '#/components/parameters/peerReviewed'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/groupVariantRecords'
      - $ref: '#/components/parameters/preferredLanguage'
      - $ref: '#/components/parameters/showHoldingIndicators'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/editionOrderBy'
      responses:
        '200':
          $ref: '#/components/responses/success-other-editions'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                invalid-oclc-number:
                  $ref: '#/components/examples/invalid-oclc-number'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
      - worldcat_metadata_auth:
        - WorldCatMetadataAPI:view_brief_bib
  /worldcat/search/classification-bibs/{oclcNumber}:
    get:
      tags:
      - Search Bibliographic Resources
      summary: Retrieve classification reccomendations for an oclcNumber
      description: Retrieve classification reccomendations for an oclcNumber
      operationId: get-classifications
      parameters:
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/parameters-oclcNumberAsId'
      responses:
        '200':
          $ref: '#/components/responses/success-get-classifications'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                invalid-oclc-number:
                  $ref: '#/components/examples/invalid-oclc-number'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
      - worldcat_metadata_auth:
        - WorldCatMetadataAPI:view_brief_bib
components:
  parameters:
    heldByGroup:
      name: heldByGroup
      in: query
      description: Restrict to holdings held by Group Symbol
      required: false
      schema:
        type: string
      example: ASRL
    spProgram:
      name: spProgram
      in: query
      description: Limiter to restrict the response to bibliographic records associated with a particular shared print program (l8 index).
      required: false
      schema:
        type: string
      example: WEST
    heldBySymbol:
      name: heldBySymbol
      in: query
      description: Institution Symbol
      required: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/OCLCSymbol'
        minItems: 1
        maxItems: 5
      explode: false
      examples:
        single:
          value:
          - TXH
        multiple:
          value:
          - TXH
          - YSM
    facets:
      name: facets
      in: query
      description: The requested list of facets requested in the response
      required: false
      schema:
        type: array
        items:
          type: string
          enum:
          - subject
          - creator
          - datePublished
          - genre
          - itemType
          - itemSubTypeBrief
          - itemSubType
          - language
          - topic
          - subtopic
          - content
          - audience
          - databases
        minItems: 1
        maxItems: 13
      explode: false
      examples:
        single:
          value:
          - creator
        multiple:
          value:
          - creator
          - itemType
    query:
      name: q
      in: query
      description: query in the form of a keyword search or fielded search, for example  (au:gazihan OR au:womacka) AND kw:java See - https://help.oclc.org/Librarian_Toolbox/Searching_WorldCat_Indexes/Bibliographic_records/Bibliographic_record_indexes/Bibliographic_record_index_lists
      required: true
      schema:
        type: string
      example: 'ti: Simon''s Cat'
    limit:
      name: limit
      in: query
      description: maximum number of records to return, maximum 50, default 10
      required: false
      schema:
        type: integer
        format: int32
        default: 10
      example: 50
    heldByInstitutionID:
      name: heldByInstitutionID
      in: query
      description: Institution registryId
      required: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/RegistryId'
        minItems: 0
        maxItems: 5
      explode: false
      examples:
        single:
          value:
          - 128807
        multiple:
          value:
          - 128807
          - 91475
    heldBy:
      name: heldBy
      in: query
      description: Institution Symbol
      deprecated: true
      required: false
      schema:
        type: string
      example: TXH
    preferredLanguage:
      name: preferredLanguage
      in: query
      description: language user would prefer metadata description in
      required: false
      schema:
        description: three character MARC code for language to prefer records in
        type: string
        example: fre
    accept:
      name: Accept
      in: header
      description: Content Type the client supports and is requesting (application/json currently supported)
      schema:
        type: string
        default: application/json
      required: false
    unit:
      name: unit
      in: query
      description: distance unit
      required: false
      schema:
        $ref: '#/components/schemas/Unit'
    topic:
      name: topic
      in: query
      description: topic to limit results to (s0 index). Based on OCLC Conspectus Division
      required: false
      schema:
        type: string
      example: 34000000
    lon:
      name: lon
      in: query
      description: longitude
      required: false
      schema:
        $ref: '#/components/schemas/Longitude'
    audience:
      name: audience
      in: query
      description: Audience to limit results to
      required: false
      schema:
        type: string
        enum:
        - juv
        - nonJuv
      example: juv
    groupRelatedEditions:
      name: groupRelatedEditions
      in: query
      description: Whether or not to use FRBR grouping. Default is 'false'
      required: false
      schema:
        type: boolean
        default: false
    genre:
      name: genre
      in: query
      description: Genre to limit results to (ge index)
      required: false
      schema:
        type: string
      example: fiction
    showHoldingIndicators:
      name: showHoldingsIndicators
      in: query
      description: whether or not to show holdings indicators in response
      required: false
      schema:
        type: boolean
        default: false
    materialType:
      name: materialType
      in: query
      description: Limiter to restrict the response to the specified material type (mt index). (URL, LPS)
      required: false
      schema:
        type: string
      example: URL
    subtopic:
      name: subtopic
      in: query
      description: subtopic to limit results to (s1 index). Based on OCLC Conspectus Category
      required: false
      schema:
        type: string
      example: 34932000
    offset:
      name: offset
      in: query
      description: start position of the bib records to return (0 based), default 0
      required: false
      schema:
        type: integer
        format: int32
        default: 0
      example: 10
    catalogSource:
      name: catalogSource
      in: query
      description: Limiter to restrict the response to the single OCLC symbol as the cataloging source (cs index). (OSL)
      required: false
      schema:
        type: string
      example: OCL
    editionOrderBy:
      name: orderBy
      in: query
      description: how to sort the edition resultsresults
      schema:
        type: string
        enum:
        - library
        - recency
        - bestMatch
        - creator
        - publicationDateAsc
        - publicationDateDesc
        - language
        - mostWidelyHeld
        - title
        default: publicationDateDesc
      example: language
    retentionCommitments:
      name: retentionCommitments
      in: query
      description: Limiter to restrict the response to bibliographic records with a retention commitment (l8 index).
      required: false
      schema:
        type: boolean
        default: false
    lat:
      name: lat
      in: query
      description: latitude
      required: false
      schema:
        $ref: '#/components/schemas/Latitude'
    orderBy:
      name: orderBy
      in: query
      description: result sort key
      required: false
      schema:
        type: string
        default: bestMatch
        enum:
        - library
        - recency
        - bestMatch
        - creator
        - publicationDateAsc
        - publicationDateDesc
        - mostWidelyHeld
        - title
    inLanguage:
      name: inLanguage
      in: query
      description: Limiter to restrict the response to the single specified language (ln index). (eng, fre, ger)
      required: false
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 5
      explode: false
      examples:
        single:
          value:
          - eng
        multiple:
          value:
          - eng
          - fre
          - ger
    inCatalogLanguage:
      name: inCatalogLanguage
      in: query
      description: Limiter to restrict the response to the single specified cataloging language (ll index). (dut, eng)
      required: false
      schema:
        type: string
      example: eng
    groupVariantRecords:
      name: groupVariantRecords
      in: query
      description: Whether or not to group variant records. Default is 'false'
      required: false
      schema:
        type: boolean
        default: false
    parameters-oclcNumberAsId:
      name: oclcNumber
      in: path
      description: record OCLC number
      required: true
      schema:
        $ref: '#/components/schemas/OclcNumber'
      example: 41266045
    itemSubType:
      name: itemSubType
      in: query
      description: Limiter to restrict the response to the single specified OCLC sub facet type (x1 index). (dvd, digital)
      required: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/ItemSubType'
        minItems: 1
        maxItems: 5
      explode: false
      examples:
        single:
          value:
          - book-digital
        multiple:
          value:
          - book-digital
          - audiobook-digital
    distance:
      name: distance
      in: query
      description: distance
      required: false
      schema:
        type: integer
        format: int32
      example: 10
    peerReviewed:
      name: peerReviewed
      in: query
      description: filter to just peer reviewed content
      required: false
      schema:
        type: boolean
    content:
      name: content
      in: query
      description: Content to limit results to
      required: false
      schema:
        type: array
        items:
          type: string
          enum:
          - fic
          - nonFic
          - bio
        minItems: 1
        maxItems: 5
      explode: false
      examples:
        single:
          value:
          - fic
        multiple:
          value:
          - fic
          - bio
    itemType:
      name: itemType
      in: query
      description: Limiter to restrict the response to the single specified OCLC top-level facet type (x0 index). (book, image)
      required: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/ItemType'
        minItems: 1
        maxItems: 5
      explode: false
      examples:
        single:
          value:
          - book
        multiple:
          value:
          - book
          - audiobook
    openAccess:
      name: openAccess
      in: query
      description: filter to just open access content
      required: false
      schema:
        type: boolean
    deweyNumber:
      name: deweyNumber
      in: query
      description: Limiter to restrict the response to the specified dewey classification number(s). For multiple values repeat the URL parameter. (dd index)
      required: false
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 5
      explode: false
      examples:
        single:
          value:
          - 870
    datePublished:
      name: datePublished
      in: query
      description: Limiter to restrict the response to one or more dates or to a range (in index). (2000, 2000-2010, 1990,1991)
      required: false
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 5
      explode: false
      examples:
        single_date:
          value:
          - 2000
        multiple_dates:
          value:
          - 1990
          - 1991
        range:
          value:
          - 2000-2010
  examples:
    missing-query-parameter:
      summary: Error returned when required query parameter not sent
      value:
        type: MISSING_QUERY_PARAMETER
        title: Validation Failure
        detail: Required String parameter 'q' is not present
    success-brief-bibs-photo:
      summary: OCLC Number for photo material format
      value:
        oclcNumber: '722875457'
        title: NRCS photo gallery.
        creator: United States.
        date: 200u
        language: eng
        generalFormat: Vis
        specificFormat: Digital
        publisher: U.S. Dept. of Agriculture, Natural Resources Conservation Service
        publicationPlace: '[Washington, D.C.] :'
        catalogingInfo:
          catalogingAgency: GPO
          transcribingAgency: GPO
          catalogingLanguage: eng
          levelOfCataloging: ' '
    missing-query-parameter-value:
      summary: Error returned when query parameter value not valid
      value:
        type: INVALID_QUERY_PARAMETER_VALUE
        title: Validation Failure
        detail: Query term is not provided.
    success-brief-bibs-search:
      summary: successful search request for brief-bibs
      value:
        numberOfRecords: 2
        briefRecords:
        - oclcNumber: '44959645'
          title: Pride and prejudice.
          creator: Jane Austen
          date: 199u
          language: eng
          generalFormat: Book
          specificFormat: Digital
          publisher: Project Gutenberg
          publicationPlace: Champaign, Ill.
          isbns:
          - 0585013365
          - '9780585013367'
          - '9781925480337'
          - 192548033X
          mergedOclcNumbers:
          - '818363152'
          - '854852439'
          - '859164912'
          - '956345342'
          catalogingInfo:
            catalogingAgency: N$T
            transcribingAgency: N$T
            catalogingLanguage: eng
            levelOfCataloging: L
        - oclcNumber: '1103229133'
          title: Pride and Prejudice [eBook - RBdigital].
          creator: Jane Austen
          date: '1998'
          language: eng
          generalFormat: Book
          specificFormat: Digital
          publisher: Project Gutenberg Literary Archive Foundation
          publicationPlace: Salt Lake City
          isbns:
          - '9781470398842'
          - '1470398842'
          mergedOclcNumbers: null
          catalogingInfo:
            catalogingAgency: HQD
            transcribingAgency: HQD
            catalogingLanguage: eng
            levelOfCataloging: ' '
    failed-not-found:
      summary: Error when resource not found
      value:
        type: NOT_FOUND
        title: Resource Not Found
        detail: The specified resource was not found at this address.
    method-not-allowed-error:
      summary: Error when invalid HTTP method used
      value:
        title: NOT_ALLOWED
        detail: POST method not allowed
    invalid-query-parameter-bad-index:
      summary: Error returned when q parameter contains invalid index
      value:
        type: INVALID_QUERY_PARAMETER_VALUE
        title: Validation Failure
        detail: 'Search term ''mt:doc'' is invalid. Following indexes are not allowed: [dd=, dd:, yr=, yr:, li=, li:, ln=, ln:, ll=, ll:, mt=, mt:, cs=, cs:, x0=, x0:, x4=, x4:]'
    success-brief-bibs-article:
      summary: OCLC Number for article material format
      value:
        oclcNumber: '806039046'
        title: Where to find it guide 2012.
        date: '2012'
        language: eng
        generalFormat: ArtChap
        specificFormat: Artcl
        catalogingInfo:
          catalogingAgency: VG8
          transcribingAgency: VG8
          catalogingLanguage: eng
          levelOfCataloging: ' '
    success-brief-bibs-website:
      summary: OCLC Number for website material format
      value:
        oclcNumber: '37853368'
        title: Web of science.
        creator: Institute for Scientific Information
        date: 19uu
        language: eng
        generalFormat: Web
        specificFormat: Digital
        publisher: Institute for Scientific Information
        publicationPlace: ''
        mergedOclcNumbers:
        - '38843632'
        - '40309342'
        - '50587217'
        - '56261045'
        - '57054977'
        - '58569150'
        - '64095647'
        - '122695701'
        - '223607047'
        - '230709879'
        - '270881261'
        - '520430950'
        - '575541562'
        - '605594496'
        - '612507180'
        - '614013499'
        - '654125984'
        - '697320093'
        - '741254328'
        - '741640936'
        - '753941775'
        - '754930619'
        - '779657497'
        - '779701080'
        - '792926516'
        - '792926517'
        - '813397401'
        - '815723516'
        - '844769748'
        - '868916615'
        - '880438497'
        - '895666123'
        catalogingInfo:
          catalogingAgency: INU
          transcribingAgency: INU
          catalogingLanguage: eng
          levelOfCataloging: ' '
    not-acceptable-error:
      summary: Error when media type in Accept header not supported
      value:
        type: https://developer.api.oclc.org/errors/NOT_ACCEPTABLE
        title: ''
        detail: 'Media type application/xml not supported. Supported media types: application/json'
    invalid-query-parameter-bad-facet-number:
      summary: Error returned when facet parameter contains invalid value
      value:
        type: INVALID_QUERY_PARAMETER_VALUE
        title: Validation Failure
        detail: Number of facet is not numeric.
    success-brief-bibs-digital_article:
      summary: OCLC Number for article material format
      value:
        oclcNumber: '316235490'
        title: 'Tables of difference of latitude and departure : constructed to every quarter of a degree of thr [sic] quadrant, and continued from one, to the distance of one hundred miles or chains.'
        creator: J. Robertson
        date: '1785.'
        language: eng
        generalFormat: ArtChap
        specificFormat: Digital
        publisher: Printed and sold by Joseph Crukshank, in Market-Street, between Second and Third-Streets
        publicationPlace: 'Philadelphia: :'
        catalogingInfo:
          catalogingAgency: LGG
          transcribingAgency: LGG
          catalogingLanguage: eng
          levelOfCataloging: ' '
    success-get-classifications:
      summary: successful request a brief bib record by OCLC Number
      value:
        dewey:
          mostPopular:
          - '302.30285'
        lc:
          mostPopular:
          - HM742 .H55 2010
    success-brief-bibs-ebook:
      summary: OCLC Number for ebook material format
      value:
        oclcNumber: '43475873'
        title: 'EBay the smart way : selling, buying, and profiting on the Webʼs #1 auction site'
        creator: Joseph T. Sinclair
        date: '1999.'
        language: eng
        generalFormat: Book
        specificFormat: Digital
        publisher: American Management Association
        publicationPlace: 'New York :'
        mergedOclcNumbers:
        - '152077258'
        - '532484211'
        isbns:
        - 058510414X
        - '9780585104140'
        catalogingInfo:
          catalogingAgency: N$T
          transcribingAgency: N$T
          catalogingLanguage: eng
          levelOfCataloging: ' '
    success-brief-bibs-oclcnumber:
      summary: successful request a brief bib record by OCLC Number
      value:
        oclcNumber: '318877925'
        title: Simon's cat / by Simon Tofield.
        creator: Simon. Tofield
        date: '2009.'
        language: eng
        generalFormat: Book
        specificFormat: PrintBook
        edition: 1st ed.
        publisher: Grand Central Pub.
        publicationPlace: 'New York :'
        mergedOclcNumbers:
        - '877908501'
        isbns:
        - '9780446560061'
        - '0446560065'
        catalogingInfo:
          catalogingAgency: DLC
          transcribingAgency: DLC
          catalogingLanguage: eng
          levelOfCataloging: ' '
    invalid-query-parameter-bad-orderBy:
      summary: Error returned when orderBy parameter contains invalid value
      value:
        type: INVALID_QUERY_PARAMETER_VALUE
        title: Validation Failure
        detail: 'orderBy value ''somekey'' is invalid. Acceptable orderBy values: [recency, bestMatch, creator, publicationDateAsc, publicationDateDesc, mostWidelyHeld, title, library]'
    success-brief-bibs-chapter:
      summary: OCLC Number for chapter material format
      value:
        oclcNumber: '748392933'
        title: Nanomachine computing by quorum sensing
        creator: Wiedermann J.
        date: '2011'
        language: eng
        generalFormat: ArtChap
        specificFormat: Chptr
    success-brief-bibs-other-editions:
      summary: successful request for brief-bibs other editions
      value:
        numberOfRecords: 61
        briefRecords:
        - oclcNumber: '318877925'
          title: Simon's cat / by Simon Tofield.
          creator: Simon. Tofield
          date: '2009'
          language: eng
          generalFormat: Book
          specificFormat: PrintBook
          edition: 1st ed.
          publisher: Grand Central Pub.
        - oclcNumber: '668192366'
          title: 'Simon''s cat : beyond the fence.'
          creator: Simon. Tofield
          date: '2011'
          language: eng
          generalFormat: Book
          specificFormat: PrintBook
          edition: 1st ed.
          publisher: Grand Central Pub.
        - oclcNumber: '426122879'
          title: Simon's cat.
          creator: Simon. Tofield
          date: '2009'
          language: eng
          generalFormat: Book
          specificFormat: PrintBook
          publisher: Canongate
        - oclcNumber: '698261374'
          title: 'Simon''s cat : beyond the fence.'
          creator: Simon. Tofield
          date: '2010'
          language: eng
          generalFormat: Book
          specificFormat: Digital
          publisher: Canongate
        - oclcNumber: '716443553'
          title: Simon's cat beyond the fence.
          creator: Simon. Tofield
          date: '2010'
          language: eng
          generalFormat: Book
          specificFormat: PrintBook
          publisher: Canongate
        - oclcNumber: '869821272'
          title: Beyond the fence.
          creator: Simon Tofield
          date: '2011'
          language: eng
          generalFormat: Book
          specificFormat: Digital
          publisher: Grand Central Publishing
        - oclcNumber: '698364575'
          title: Simon's cat.
          creator: Simon. Tofield
          date: '2009'
          language: eng
          generalFormat: Book
          specificFormat: Digital
          publisher: Canongate
        - oclcNumber: '471205692'
          title: Simon's cat.
          creator: Simon. Tofield
          date: '2009'
          language: eng
          generalFormat: Book
          specificFormat: PrintBook
          publisher: Canongate
        - oclcNumber: '883250952'
          title: Simon's cat.
          creator: Simon Tofield
          date: '2009'
          language: eng
          generalFormat: Book
          specificFormat: Digital
          edition: First edition.
          publisher: Grand Central Publishing
        - oclcNumber: '637439104'
          title: 'Simon''s cat : beyond the fence.'
          creator: Simon. Tofield
          date: '2010'
          language: eng
          generalFormat: Book
          specificFormat: PrintBook
          publisher: Penguin Canada
    invalid-query-parameter-bad-facet-name:
      summary: Error returned when facet parameter contains invalid value
      value:
        type: INVALID_QUERY_PARAMETER_VALUE
        title: Validation Failure
        detail: 'Facet name ''author'' is invalid. Acceptable facet name: [datePublished, creator, itemType, subject, genre, itemSubType, language]'
    success-brief-bibs-other-editions-holding-indicators:
      summary: successful request for brief-bibs other editions with holding indicators
      value:
        numberOfRecords: 41
        briefRecords:
        - oclcNumber: '1255224820'
          title: Simon's Cat
          creator: Simon Tofield
          date: '2019'
          machineReadableDate: '2019'
          language: eng
          generalFormat: Book
          specificFormat: Digital
          publisher: Canongate Books
          publicationPlace: Edinburgh
          isbns:
          - '9781786897015'
          - '1786897016'
          catalogingInfo:
            catalogingAgency: EBLCP
            catalogingLanguage: eng
            levelOfCataloging: M
            transcribingAgency: EBLCP
          institutionHoldingIndicators:
          - id: '128807'
            holdsItem: false
        - oclcNumber: '937755227'
          title: Simon's cat va al veterinario
          creator: Simon Tofield
          date: '2015'
          machineReadableDate: '2015'
          language: spa
          generalFormat: Book
          specificFormat: PrintBook
          edition: 1ª ed
          publisher: Duomo
          publicationPlace: Barcelona
          isbns:
          - '9788416261864'
          - '8416261865'
          mergedOclcNumbers:
          - '971865897'
          - '991785299'
          - '1125081546'
          catalogingInfo:
            catalogingAgency: BNM
            catalogingLanguage: spa
            levelOfCataloging: M
            transcribingAgency: BNM
          institutionHoldingIndicators:
          - id: '128807'
            holdsItem: false
        - oclcNumber: '1255233554'
          title: Simon's Cat
          creator: Simon Tofield
          date: '2015'
          machineReadableDate: '2015'
          language: eng
          generalFormat: Book
          specificFormat: Digital
          publisher: Canongate Books
          publicationPlace: Edinburgh
          isbns:
          - '9781782115885'
          - '1782115889'
          catalogingInfo:
            catalogingAgency: EBLCP
            catalogingLanguage: eng
            levelOfCataloging: M
            transcribingAgency: EBLCP
          institutionHoldingIndicators:
          - id: '128807'
            holdsItem: false
        - oclcNumber: '893661986'
          title: 'Simon''s cat : une calamité de chat'
          creator: Simon Tofield
          date: DL 2013, cop. 2009
          machineReadableDate: DL 2013, cop. 2009
          language: fre
          generalFormat: Book
          specificFormat: PrintBook
          edition: '[Nouvelle édition]'
          publisher: Fleuve noir
          publicationPlace: '[Paris]'
          isbns:
          - '9782265098565'
          - '2265098566'
          catalogingInfo:
            catalogingAgency: ZWZ
            catalogingLanguage: fre
            levelOfCataloging: M
            transcribingAgency: ZWZ
          institutionHoldingIndicators:
          - id: '128807'
            holdsItem: false
        - oclcNumber: '883290091'
          title: Simon's cat
          creator: Simon Tofield
          date: '2014'
          machineReadableDate: '2014'
          language: eng
          generalFormat: Book
          specificFormat: Digital
          publisher: Grand Central Publishing
          publicationPlace: New York
          isbns:
          - '9781609415877'
          - '1609415876'
          catalogingInfo:
            catalogingAgency: RECBK
            catalogingLanguage: eng
            levelOfCataloging: M
            transcribingAgency: RECBK
          institutionHoldingIndicators:
          - id: '128807'
            holdsItem: false
        - oclcNumber: '933427191'
          title: 'Simon''s cat : une calamité de chat'
          creator: Simon Tofield
          date: DL 2013
          machineReadableDate: DL 2013
          language: fre
          generalFormat: Book
          specificFormat: PrintBook
          edition: Nouvelle édition
          publisher: Fleuve noir
          publicationPlace: Paris
          isbns:
          - '9782265098565'
          - '2265098566'
          catalogingInfo:
            catalogingAgency: FRBML
            catalogingLanguage: fre
            levelOfCataloging: M
            transcribingAgency: FRBML
          institutionHoldingIndicators:
          - id: '128807'
            holdsItem: false
        - oclcNumber: '811550028'
          title: Simon's cat
          creator: Simon Tofield
          date: '2012'
          machineReadableDate: '2012'
          language: ita
          generalFormat: Book
          specificFormat: PrintBook
          edition: 5a rist
          publisher: TEA
          publicationPlace: Milano
          isbns:
          - '9788850220410'
          - '8850220413'
          catalogingInfo:
            catalogingAgency: CHVBK
            catalogingLanguage: ger
            levelOfCataloging: M
            transcribingAgency: CHVBK
          institutionHoldingIndicators:
          - id: '128807'
            holdsItem: false
        - oclcNumber: '668192366'
          title: 'Simon''s cat : beyond the fence'
          creator: Simon Tofield
          date: ©2011
          machineReadableDate: '2011'
          language: eng
          generalFormat: Book
          specificFormat: PrintBook
          edition: 1st ed
          publisher: Grand Central Pub.
          publicationPlace: New York
          isbns:
          - '9780446560078'
          - '0446560073'
          catalogingInfo:
            catalogingAgency: BTCTA
            catalogingLanguage: eng
            levelOfCataloging: ' '
            transcribingAgency: BTCTA
          institutionHoldingIndicators:
          - id: '128807'
            holdsItem: false
        - oclcNumber: '828308278'
          title: ¡Vaya gatito!
          creator: Simon Tofield
          date: '2011'
          machineReadableDate: '2011'
          language: spa
          generalFormat: Book
          specificFormat: PrintBook
          edition: 1ª ed
          publisher: Duomo
          publicationPlace: Barcelona
          isbns:
          - '9788492723997'
          - '8492723998'
          catalogingInfo:
            catalogingAgency: BNM
            catalogingLanguage: spa
            levelOfCataloging: M
            transcribingAgency: BNM
          institutionHoldingIndicators:
          - id: '128807'
            holdsItem: false
        - oclcNumber: '939051992'
          title: Simons katt på andra sidan staketet
          creator: Simon Tofield
          date: '2011'
          machineReadableDate: '2011'
          language: swe
          generalFormat: Book
          specificFormat: PrintBook
          publisher: Bromberg
          publicationPlace: Stockholm
          isbns:
          - '9789173372398'
          - '9173372390'
          catalogingInfo:
            catalogingAgency: S3O
            catalogingLanguage: swe
            levelOfCataloging: M
            transcribingAgency: S3O
          institutionHoldingIndicators:
          - id: '128807'
            holdsItem: false
    success-brief-bibs-film:
      summary: OCLC Number for film material format
      value:
        oclcNumber: '12140861'
        title: Easy street.
        creator: Charlie Chaplin
        date: '[197-?]'
        language: eng
        generalFormat: Video
        specificFormat: Film
        publisher: Blackhawk Films / Eastin-Phelan Corp.
        publicationPlace: 'Davenport, Iowa :'
        catalogingInfo:
          catalogingAgency: YQR
          transcribingAgency: YQR
          catalogingLanguage: eng
          levelOfCataloging: ' '
    invalid-oclc-number:
      summary: Error returned when oclc number isn't valid
      value:
        type: INVALID_QUERY_PARAMETER_VALUE
        title: Validation Failure
        detail: oclcNumber must be a positive whole number
    bibRecordBrief-highlights:
      summary: successful request for searching brief bibs with highlights on
      value:
        numberOfRecords: 2
        briefRecords:
        - oclcNumber: '44959645'
          title: Pride and prejudice
          creator: Jane Austen
          date: 199u
          language: eng
          generalFormat: Book
          specificFormat: Digital
          publisher: Project Gutenberg
          publicationPlace: Champaign, Ill.
          isbns:
          - 0585013365
          - '9780585013367'
          - '9781925480337'
          - 192548033X
          mergedOclcNumbers:
          - '818363152'
          - '854852439'
          - '859164912'
          - '956345342'
          catalogingInfo:
            catalogingAgency: N$T
            transcribingAgency: N$T
            catalogingLanguage: eng
            levelOfCataloging: L
          termHighlights:
            highlightFields:
            - title
            totalHighlights: 1
          termHighlightedRecord:
            title: '{{term}}Pride and prejudice{{/term}'
        - oclcNumber: '1103229133'
          title: Pride and Prejudice [eBook - RBdigital]
          creator: Jane Austen
          date: '1998'
          language: eng
          generalFormat: Book
          specificFormat: Digital
          publisher: Project Gutenberg Literary Archive Foundation
          publicationPlace: Salt Lake City
          isbns:
          - '9781470398842'
          - '1470398842'
          mergedOclcNumbers: null
          catalogingInfo:
            catalogingAgency: HQD
            transcribingAgency: HQD
            catalogingLanguage: eng
            levelOfCataloging: ' '
          termHighlights:
            highlightFields:
            - title
            totalHighlights: 1
          termHighlightedRecord:
            title: '{{term}}Pride and Prejudice{{/term} [eBook - RBdigital]'
    success-brief-bibs-painting:
      summary: OCLC Number for painting material format
      value:
        oclcNumber: '879604262'
        title: Chinese painting & calligraphy.
        creator: Seattle Art Museum
        date: '2011'
        language: eng
        generalFormat: Vis
        specificFormat: Digital
        publisher: Seattle Art Museum
        publicationPlace: 'Seattle :'
        catalogingInfo:
          catalogingAgency: SA1
          transcribingAgency: SA1
          catalogingLanguage: eng
          levelOfCataloging: ' '
    not-acceptable-error-language:
      summary: Error when language in Accept-Language header not supported
      value:
        type: https://developer.api.oclc.org/errors/NOT_ACCEPTABLE
        title: ''
        detail: 'en-UK supported. Supported languages: en, es, fr'
  responses:
    bib_query_error:
      description: Invalid query. The request was unacceptable, often due to missing a required parameter.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            missing-query-parameter:
              $ref: '#/components/examples/missing-query-parameter'
            missing-query-parameter-value:
              $ref: '#/components/examples/missing-query-parameter-value'
            invalid-query-parameter-bad-index:
              $ref: '#/components/examples/invalid-query-parameter-bad-index'
            invalid-query-parameter-bad-facet-name:
              $ref: '#/components/examples/invalid-query-parameter-bad-facet-name'
            invalid-query-parameter-bad-facet-number:
              $ref: '#/components/examples/invalid-query-parameter-bad-facet-number'
            invalid-query-parameter-bad-orderBy:
              $ref: '#/components/examples/invalid-query-parameter-bad-orderBy'
    success-brief-bib-search:
      description: successful request for brief-bib result set
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BibBriefResultSet'
          examples:
            success-brief-bibs-search:
              $ref: '#/components/examples/success-brief-bibs-search'
            success-brief-bibs-highlights:
              $ref: '#/components/examples/bibRecordBrief-highlights'
    success-other-editions:
      description: successful request for other editions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BibBriefResultSet'
          examples:
            success-brief-bibs-other-editions:
              $ref: '#/components/examples/success-brief-bibs-other-editions'
            success-brief-bibs-other-editions-holding-indicators:
              $ref: '#/components/examples/success-brief-bibs-other-editions-holding-indicators'
    success-get-classifications:
      description: successful request for classifications
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BibClassifications'
          examples:
            success-get-classifications:
              $ref: '#/components/examples/success-get-classifications'
    internal-server-error:
      description: Something went wrong (hopfully rare) - please try again
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    method-not-supported:
      description: Method not supported, see response Allow header
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            not-allowed:
              $ref: '#/components/examples/method-not-allowed-error'
    success-single-brief-bib:
      description: successful request for brief-bib result set
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BibRecordBrief'
          examples:
            success-brief-bibs-oclcnumber:
              $ref: '#/components/examples/success-brief-bibs-oclcnumber'
            success-brief-bibs-ebook:
              $ref: '#/components/examples/success-brief-bibs-ebook'
            success-brief-bibs-chapter:
              $ref: '#/components/examples/success-brief-bibs-chapter'
            success-brief-bibs-article:
              $ref: '#/components/examples/success-brief-bibs-article'
            success-brief-bibs-digital_article:
              $ref: '#/components/examples/success-brief-bibs-digital_article'
            success-brief-bibs-dissertation:
              $ref: '#/components/examples/success-brief-bibs-film'
            success-brief-bibs-film:
              $ref: '#/components/examples/success-brief-bibs-film'
            success-brief-bibs-painting:
              $ref: '#/components/examples/success-brief-bibs-painting'
            success-brief-bibs-photo:
              $ref: '#/components/examples/success-brief-bibs-photo'
            success-brief-bibs-website:
              $ref: '#/components/examples/success-brief-bibs-website'
    failed-not-found:
      description: Failed operation - resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            failed-not-found:
              $ref: '#/components/examples/failed-not-found'
    failed-not-acceptable:
      description: Media type not supported
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            not-acceptable-error:
              $ref: '#/components/examples/not-acceptable-error'
            not-acceptable-error-language:
              $ref: '#/components/examples/not-acceptable-error-language'
  schemas:
    BibClassifications:
      type: object
      properties:
        dewey:
          type: object
          properties:
            mostPopular:
              type: array
              items:
                type: string
        lc:
          type: object
          properties:
            mostPopular:
              type: array
              items:
                type: string
    HoldingDetail:
      type: object
      properties:
        lhrControlNumber:
          description: LHR Control Number [LHR -> HldDetRec/c001]
          type: string
        lhrDateEntered:
          description: LHR Date Entered [LHR -> HldDetRec/Admin/CreateDate]
          type: string
        lhrLastUpdated:
          description: LHR Date Last Used [LHR -> HldDetRec/Admin/ReplacedDate]
          type: string
        oclcNumber:
          description: OCLC Number [LHR -> HldDetRec/c004]
          type: string
        format:
          description: material format [LHR -> HldDetRec/c007]
          type: string
        location:
          $ref: '#/components/schemas/HoldingLocation'
        copyNumber:
          description: copy number [LHR -> HldDetRec/v852st]
          type: string
        callNumber:
          $ref: '#/components/schemas/CallNumber'
        lendingPolicy:
          description: local lending policy [LHR -> HldDetRec/Admin/Lend]
          type: string
        hasSharedPrintCommitment:
          $ref: '#/components/schemas/HasSharedPrintCommitment'
        sharedPrintCommitments:
          description: shared print details [LHR -> HldDetRec/v583]
          type: array
          items:
            $ref: '#/components/schemas/SharedPrintCommitment'
        summary:
          description: summary statement [LHR -> HldSummRec/v966sa]
          type: string
        holdingParts:
          description: Textual Holding [LHR -> HldDetRec/v866,v867,v868] Item Information Holding [LHR -> HldDetRec/v876,v877,v878] Enumeration Chronology Holding [LHR -> HldDetRec/v863,v864,v865]
          type: array
          items:
            $ref: '#/components/schemas/HoldingPart'
      required:
      - lhrControlNumber
      - lhrDateEntered
      - lhrLastUpdated
      - oclcNumber
      - format
      - lendingPolicy
      - hasSharedPrintCommitment
    GeneralFormat:
      description: General Format Type [Admin/OCLCDef/StdRT]
      type: string
      enum:
      - Archv
      - ArtChapter
      - AudioBook
      - Book
      - CompFile
      - Encyc
      - Game
      - Image
      - IntMM
      - Jrnl
      - Kit
      - Map
      - MsScr
      - Music
      - News
      - Object
      - Snd
      - Toy
      - Video
      - Vis
      - Web
    SubFacetValue:
      type: object
      properties:
        value:
          type: string
        count:
          type: integer
          format: int32
    CatalogingLanguage:
      description: Language record was cataloged in [v040sb]
      type: string
    RegistryId:
      description: The identifier in the WorldCat Registry for the institution
      type: integer
    HoldingLocation:
      description: Local holding location [LHR -> v852sa,b,c]
      type: object
      properties:
        holdingLocation:
          description: Institution Symbol [LHR -> v852sa]
          type: string
        sublocationCollection:
          $ref: '#/components/schemas/SublocationCollection'
        shelvingLocation:
          $ref: '#/components/schemas/ShelvingLocation'
    SharedPrintCommitment:
      type: object
      properties:
        actionNote:
          description: Action Note [LHR -> HldDetRec/v583sa]
          type: string
        materialsSpecified:
          description: Materials Sepcified [LHR -> HldDetRec/v583s3]
          type: string
        institution:
          description: Institution to which applies [LHR -> HldDetRec/v583s5]
          type: string
        dateOfAction:
          description: date of action [LHR -> HldDetRec/v583sc]
          type: string
        commitmentExpirationDate:
          description: commitment expiration date [LHR -> HldDetRec/v583sd]
          type: string
        authorization:
          description: Authorization [LHR -> HldDetRec/v583sf]
          type: string
        methodOfAction:
          description: Method of Action [LHR -> HldDetRec/v583si]
          type: string
        siteOfAction:
          description: Site of Action [LHR -> HldDetRec/v583sj]
          type: string
        status:
          description: Status [LHR -> HldDetRec/v583sl]
          type: string
        uri:
          description: URI [LHR -> HldDetRec/v583su]
          type: string
        publicNote:
          description: Public Note [LHR -> HldDetRec/v583sz]
          type: string
    ItemType:
      description: Filter values for General Format
      type: string
      enum:
      - archv
      - artchapter
      - audiobook
      - book
      - compfile
      - encyc
      - game
      - image
      - intmm
      - jrnl
      - kit
      - map
      - msscr
      - music
      - news
      - object
      - snd
      - toy
      - video
      - vis
      - web
    HoldingBrief:
      type: object
      properties:
        country:
          description: Country of holding institution [Holdings/Library/Country]
          type: string
        state:
          description: State of holding institution [Holdings/Library/State]
          type: string
        oclcSymbol:
          description: Oclc Symbol of holding institution [Holdings/Library/InstSym]
          type: string
        registryId:
          $ref: '#/components/schemas/RegistryId'
        institutionName:
          description: Name of holding institution [Holdings/Library/InstName]
          type: string
        alsoCalled:
          description: Some name the library might also be called
          type: string
        address:
          $ref: '#/components/schemas/Address'
        institutionType:
          $ref: '#/components/schemas/InstitutionType'
        hasOPACLink:
          description: Whether or not the library has an OPAC deep links
          type: boolean
        distance:
          description: Distance from location if lat/log was specified
          type: string
        self:
          description: URI to find more info about the institution
          type: string
          format: uri
        illStatus:
          description: ILL status [Holdings/Library/ILLStatus]
          type: string
        illGroup:
          description: ILL group [Holdings/Library/ILLGroup]
          type: string
        hasSharedPrintCommitment:
          description: institution has shared print commitment [Holdings/LibHasSharedPrint]
          type: string
          enum:
          - Y
          - N
    InstitutionHolding:
      type: object
      properties:
        totalHoldingCount:
          description: Number of holdings for this item [Holdings/TotalLibCount || FRBRHoldings/B]
          type: integer
          format: int32
        totalWorksHoldingCount:
          description: Number of holdings in the workset [FRBRHoldings/B]
          type: integer
          format: int32
        totalEditions:
          $ref: '#/components/schemas/TotalEditions'
      oneOf:
      - $ref: '#/components/schemas/briefHoldings'
      - $ref: '#/components/schemas/detailedHoldings'
    Address:
      type: object
      properties:
        street1:
          description: Name of street
          type: string
        street2:
          description: Name of street 2
          type: string
        city:
          description: Name of city
          type: string
        state:
          $ref: '#/components/schemas/State'
        postalCode:
          $ref: '#/components/schemas/PostalCode'
        country:
          $ref: '#/components/schemas/Country'
        lat:
          $ref: '#/components/schemas/Latitude'
        lon:
          $ref: '#/components/schemas/Longitude'
    SubFacet:
      type: object
      properties:
        index:
          type: string
        facetType:
          type: string
        values:
          type: array
          items:
            $ref: '#/components/schemas/SubFacetValue'
    TextualHoldingsStatement:
      description: '[866-8 |a]'
      type: string
    ItemLanguage:
      description: Language of the item [v041sa,j]
      type: string
    CreatorString:
      description: List of creators as single string
      type: string
    SummaryOfHoldings:
      description: Summary of Holdings [https://www.loc.gov/marc/holdings/echdcntf.html]
      type: string
    CallNumber:
      description: Local call number [LHR -> v852sh,i,j,k,l,m]
      type: object
      properties:
        displayCallNumber:
          $ref: '#/components/schemas/DisplayCallNumber'
        classificationPart:
          description: LHR -> v852sh
          type: string
        itemParts:
          description: LHR -> v852si
          type: array
          items:
            type: string
        shelvingControlNumber:
          description: LHR -> v852sj
          type: string
        prefixes:
          description: LHR -> v852sk
          type: array
          items:
            type: string
        shelvingForm:
          description: LHR -> v852sl
          type: string
        suffixes:
          description: LHR -> v852sm
          type: array
          items:
            type: string
        shelvingScheme:
          description: Shelving scheme based on 852 field 1st indicator [LHR -> v852 ind1]
          type: string
          enum:
          - Library of Congress classification
          - Dewey Decimal classification
          - National Library of Medicine classification
          - Superintendent of Documents classification
          - Shelving control number
          - Title
          - Shelved separately
          - Other scheme
        privateNotes:
          description: Private notes from 852$x field [LHR -> v852sx]
          type: array
          items:
            type: string
    OclcNumber:
      description: the oclc number of a given bibliographic record
      type: integer
      format: int64
    HoldingRange:
      type: object
      properties:
        from:
          type: string
        to:
          type: string
    FacetValue:
      type: object
      properties:
        value:
          type: string
        count:
          type: integer
          format: int32
        subFacet:
          $ref: '#/components/schemas/SubFacet'
        subFacetItemBrief:
          $ref: '#/components/schemas/SubFacet'
    PieceDesignation:
      description: Piece Designation [852/863-865/866-868/876-878 |p]
      type: string
    SimpleTitle:
      description: Linked [v880sa,b] if present or [v245sa,b]
      type: string
    HoldingPart:
      type: object
      properties:
        linkingAndSequenceNumber:
          description: Field link and sequence number [852/863-865/866-868/876-878 | s8]
          type: string
        summaryOfHoldings:
          $ref: '#/components/schemas/SummaryOfHoldings'
        enumerations:
          description: Enumerations [853-855/863-865 |a-h]
          type: array
          items:
            $ref: '#/components/schemas/CaptionValuePair'
        chronologies:
          description: Chronologies [853-855/863-865 |i-v]
          type: array
          items:
            $ref: '#/components/schemas/CaptionValuePair'
        textualHoldings:
          $ref: '#/components/schemas/TextualHoldingsStatement'
        itemMaterialSpecified:
          $ref: '#/components/schemas/MaterialSpecified'
        pieceDesignation:
          $ref: '#/components/schemas/PieceDesignation'
        cancelledPieceDesignations:
          description: Cancelled Piece Designation [876-878 |r]
          type: array
          items:
            type: string
        temporaryLocation:
          $ref: '#/components/schemas/TemporaryLocation'
        publicNotes:
          description: Public notes [852/863-865/866-868/876-878 |z]
          type: array
          items:
            type: string
        yearRanges:
          description: Year as Range [si]
          type: array
          items:
            $ref: '#/components/schemas/HoldingRange'
        volumeRanges:
          description: Volume Number As Range [sb]
          type: array
          items:
            $ref: '#/components/schemas/HoldingRange'
        itemType:
          description: Category of holding based on MARC field patterns [LHR -> v853,v863,v866,v876 for basic; v854,v864,v867,v877 for supplementary; v855,v865,v868,v878 for index]
          type: string
          enum:
          - basic
          - supplementary
          - index
        privateNotes:
          description: Private notes from 87X$x field [LHR -> v87Xsx]
          type: array
          items:
            type: string
    CatalogingInfo:
      type: object
      properties:
        catalogingAgency:
          description: Cataloging Agency [v040/sa]
          type: string
        transcribingAgency:
          description: Transcribing Agency [v040/sc]
          type: string
        catalogingLanguage:
          $ref: '#/components/schemas/CatalogingLanguage'
        levelOfCataloging:
          description: Level of cataloging [LDR position 5]
          type: string
    Issn:
      description: International Standard Serial Number [v022sal v700,v710,v711,v773,v776,v777,v780,v785 - sx]
      type: string
    HasSharedPrintCommitment:
      description: institution has shared print commitment [Holdings/LibHasSharedPrint || LHR -> HldDetRec/Admin/SPReg]
      type: string
      enum:
      - Y
      - N
    BibRecordBrief:
      type: object
      properties:
        oclcNumber:
          $ref: '#/components/schemas/OclcNumber'
        title:
          $ref: '#/components/schemas/SimpleTitle'
        creator:
          $ref: '#/components/schemas/CreatorString'
        date:
          $ref: '#/components/schemas/Date'
        language:
          $ref: '#/components/schemas/ItemLanguage'
        generalFormat:
          $ref: '#/components/schemas/GeneralFormat'
        specificFormat:
          $ref: '#/components/schemas/SpecificFormat'
        edition:
          $ref: '#/components/schemas/EditionStatement'
        publisher:
          type: string
        isbns:
          $ref: '#/components/schemas/Isbns'
        issns:
          $ref: '#/components/schemas/Issns'
        mergedOclcNumbers:
          $ref: '#/components/schemas/MergedOclcNumbers'
        catalogingInfo:
          $ref: '#/components/schemas/CatalogingInfo'
        institutionHolding:
          $ref: '#/components/schemas/InstitutionHolding'
      required:
      - oclcNumber
      - title
      - creator
      - date
      - language
      - edition
      - publisher
    ShelvingLocation:
      description: Shelving location [LHR -> v852sc]
      type: string
    Date:
      description: machine readable date 008
      type: string
    SpecificFormat:
      description: Specific Format Type [Admin/OCLCDef/StdRT2]
      type: string
      enum:
      - 2D
      - Artcl
      - Bluray
      - Braille
      - Cassette
      - CD
      - Chptr
      - Continuing
      - Digital
      - DVD
      - Encyc
      - Film
      - LargePrint
      - LP
      - Mic
      - mss
      - PrintBook
      - rec
      - Thsis
      - VHS
    MaterialSpecified:
      description: '[876-8 |3]'
      type: string
    Country:
      description: Two-character Country Code, per ISO 3166.
      type: string
    detailedHoldings:
      type: array
      items:
        $ref: '#/components/schemas/HoldingDetail'
    Isbns:
      description: International Standard Book Number [v020sa]
      type: array
      items:
        type: string
    CaptionValuePair:
      description: The caption and value pair for a caption describing a numeric, alphabetic, and/or date designation for an item. The caption is defined as an attribute on the element and the value for the caption is defined by the element contents.
      type: object
      properties:
        caption:
          type: string
        value:
          type: string
    InstitutionType:
      description: The type of institution
      enum:
      - ACADEMIC
      - PUBLIC
      - REGIONAL_OR_NATIONAL
      - OTHER
      - CORPORATE_SPECIAL_LIBRARY
      - HEALTH
      - MUSEUM_OR_ARCHIVES
      - LAW
      - MUSIC
      - LIBRARY_NETWORK_GROUP
      type: string
    ProblemType:
      description: A URI reference [RFC3986] that identifies the problem type.
      type: string
      format: uri
      enum:
      - https://developer.api.oclc.org/errors/NOT_ACCEPTABLE
      - https://developer.api.oclc.org/errors/NOT_ALLOWED
      - https://developer.api.oclc.org/errors/INTERAL_SERVER_ERROR
      - https://developer.api.oclc.org/errors/BAD_REQUEST
      - https://developer.api.oclc.org/errors/NOT_FOUND
      - https://developer.api.oclc.org/errors/NOT_ELIGIBLE
      - https://developer.api.oclc.org/errors/MISSING_QUERY_PARAMETER
      - https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETERS
      - https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_VALUE
      - https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_NAME
      - https://developer.api.oclc.org/errors/SYNTAX_ERROR
      - https://developer.api.oclc.org/errors/INVALID_DOCUMENT
      - https://developer.api.oclc.org/errors/MISSING_ELEMENT
      - https://developer.api.oclc.org/errors/INVALID_ELEMENT_VALUE
    Latitude:
      description: Latitude
      type: number
      format: double
      example: 37.502508
    TemporaryLocation:
      description: Temporary location [876-878 |l]
      type: string
    OCLCSymbol:
      description: institution OCLC Symbol. Special characters need to be encoded properly.
      type: string
      minLength: 3
      maxLength: 8
      pattern: ^[a-zA-Z0-9@*&#%+$/]{1,}$
    Issns:
      description: International Standard Serial Numbers
      type: array
      items:
        $ref: '#/components/schemas/Issn'
    EditionStatement:
      description: Edition Statement [v250sa]
      type: string
    MergedOclcNumbers:
      description: Merged OCLC numbers [v019sa]
      type: array
      items:
        type: string
    DisplayCallNumber:
      description: Display call Number [LHR -> v852 |k,h,i,m / |j/ |l]
      type: string
    Longitude:
      description: Longitude
      type: number
      format: double
      example: -122.22702
    SublocationCollection:
      description: Sublocation or collection [LHR -> v852sb]
      type: string
    BibBriefResultSet:
      type: object
      properties:
        numberOfRecords:
          type: integer
          format: int32
        briefRecords:
          type: array
          items:
            $ref: '#/components/schemas/BibRecordBrief'
        searchFacets:
          type: array
          items:
            $ref: '#/components/schemas/SearchFacet'
    ItemSubType:
      description: Facet values returned and possible filter Values itemSubType [Admin/OCLCDef/StdRT1 + Admin/OCLCDef/StdRT2]
      type: string
      enum:
      - archv-digital
      - archv-
      - artchap-artcl
      - artchap-chptr
      - artchap-digital
      - artchap-mss
      - audiobook-cd
      - audiobook-cassette
      - audiobook-digital
      - audiobook-lp
      - audiobook-
      - book-printbook
      - book-digital
      - book-mic
      - book-thsis
      - book-mss
      - book-largeprint
      - book-braille
      - book-continuing
      - book-
      - compfile-digital
      - compfile-
      - encyc-
      - game-digital
      - game-
      - image-2d
      - intmm-digital
      - intmm-
      - jrnl-print
      - jrnl-digital
      - kit-
      - map-
      - map-mss
      - map-digital
      - msscr-digital
      - msscr-mss
      - msscr-
      - music-cd
      - music-lp
      - music-digital
      - music-cassette
      - music-
      - news-digital
      - news-print
      - object-digital
      - object-
      - snd-
      - snd-rec
      - toy-
      - video-dvd
      - video-vhs
      - video-digital
      - video-film
      - video-bluray
      - video-
      - vis-digital
      - vis-
      - web-digital
      - web-dwn2d
      - web-
    briefHoldings:
      type: array
      items:
        $ref: '#/components/schemas/HoldingBrief'
    State:
      description: Name of the State/Province, per ISO 3166-2.
      type: string
    SearchFacet:
      type: object
      properties:
        index:
          type: string
        facetType:
          type: string
        values:
          type: array
          items:
            $ref: '#/components/schemas/FacetValue'
    PostalCode:
      description: Postal Code
      type: string
    Problem:
      type: object
      description: RFC 7807 description of an error.
      properties:
        type:
          $ref: '#/components/schemas/ProblemType'
        title:
          description: A short, human-readable summary of the problem type.
          type: string
        instance:
          description: A URI reference that identifies the specific occurrence of the problem.
          type: string
          format: uri
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.,
          type: string
        invalidParams:
          description: An array of validation errors.
          type: array
          items:
            description: The validation error descriptor.
            type: object
            properties:
              path:
                type: string
              name:
                type: string
              reason:
                type: string
    TotalEditions:
      description: Total number of editions in the workgroup
      type: integer
      format: int32
    Unit:
      description: The unit of measure is either (M) for miles or (K) for kilometers
      enum:
      - M
      - K
      type: string
      default: M
  securitySchemes:
    worldcat_metadata_auth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://oauth.oclc.org/token
          scopes:
            WorldCatMetadataAPI:view_brief_bib: view brief bibliographic data
            WorldCatMetadataAPI:view_bib: view full bibliographic data
            WorldCatMetadataAPI:view_marc_bib: view marc bibliographic data
            WorldCatMetadataAPI:match_bibs: match bibliographic records
            WorldCatMetadataAPI:get_holding_codes: retrieve holding codes
            WorldCatMetadataAPI:manage_bibs: manage bibliographic data
            WorldCatMetadataAPI:view_retained_holdings: view holdings which libraries have chosen to retain
            WorldCatMetadataAPI:view_summary_holdings: view summary information about library holdings
            WorldCatMetadataAPI:view_my_holdings: view detailed information about the authentication institution's holdings
            WorldCatMetadataAPI:view_my_holdings_private_notes: view private notes in holdings data
            WorldCatMetadataAPI:manage_institution_holdings: manage institution holdings
            WorldCatMetadataAPI:view_my_local_bib_data: view local bibliographic data from the authenticate institution
            WorldCatMetadataAPI:manage_institution_lbds: manage institution local bibliographic data records
            WorldCatMetadataAPI:manage_institution_lhrs: manage institution local holdings data records
            enhMetadataAPI:fieldTransfer: field transfer functionality
        authorizationCode:
          authorizationUrl: https://oauth.oclc.org/auth
          tokenUrl: https://oauth.oclc.org/token
          scopes:
            WorldCatMetadataAPI:view_brief_bib: view brief bibliographic data
            WorldCatMetadataAPI:view_bib: view full bibliographic data
            WorldCatMetadataAPI:view_marc_bib: view marc bibliographic data
            WorldCatMetadataAPI:match_bibs: match bibliographic records
            WorldCatMetadataAPI:get_holding_codes: retrieve holding codes
            WorldCatMetadataAPI:manage_bibs: manage bibliographic data
            WorldCatMetadataAPI:view_retained_holdings: view holdings which libraries have chosen to retain
            WorldCatMetadataAPI:view_summary_holdings: view summary information about library holdings
            WorldCatMetadataAPI:view_my_holdings: view detailed information about the authentication institution's holdings
            WorldCatMetadataAPI:view_my_holdings_private_notes: view private notes in holdings data
            WorldCatMetadataAPI:manage_institution_holdings: manage institution holdings
            WorldCatMetadataAPI:view_my_local_bib_data: view local bibliographic data from the authenticate institution
            WorldCatMetadataAPI:manage_institution_lbds: manage institution local bibliographic data records
            WorldCatMetadataAPI:manage_institution_lhrs: manage institution local holdings data records
            enhMetadataAPI:fieldTransfer: field transfer functionality
externalDocs:
  description: Find out more about WorldCatMetadata API
  url: https://www.oclc.org/developer/develop/web-services/worldcat-metadata-api.en.html
