openapi: 3.0.2
info:
  version: 1.0.6
  title: WorldCat Entity Data Bibliographic Resources Local Holdings Resources API
  description: WorldCat Entity Data
servers:
- url: https://id.oclc.org/worldcat
  description: PROD
tags:
- name: Local Holdings Resources
paths:
  /worldcat/search/v2/my-holdings/{controlNumber}:
    get:
      tags:
      - Local Holdings Resources
      summary: Retrieve LHR Resource
      description: Retrieve LHR Resource
      operationId: retrieve-lhr
      parameters:
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/lhr-control-number'
      responses:
        '200':
          $ref: '#/components/responses/success-my-holdings'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                invalid-accession-number:
                  $ref: '#/components/examples/invalid-accession-number'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
      - worldcat_search_auth:
        - wcapi:view_my_holdings
  /worldcat/search/v2/my-holdings:
    get:
      tags:
      - Local Holdings Resources
      summary: Search LHR Resources
      description: Search LHR Resources
      operationId: search-lhr
      parameters:
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/oclcNumber'
      - $ref: '#/components/parameters/barcode'
      - $ref: '#/components/parameters/lhrOrderBy'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/success-my-holdings-search'
        '400':
          $ref: '#/components/responses/holding_query_error'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
      - worldcat_search_auth:
        - wcapi:view_my_holdings
  /worldcat/search/v2/retained-holdings:
    get:
      tags:
      - Local Holdings Resources
      summary: Search for shared print LHR Resources
      description: Search for shared print LHR Resources
      operationId: search-retrained-lhr
      parameters:
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/oclcNumber'
      - $ref: '#/components/parameters/barcode'
      - $ref: '#/components/parameters/heldBy'
      - $ref: '#/components/parameters/heldBySymbol'
      - $ref: '#/components/parameters/heldByInstitutionID'
      - $ref: '#/components/parameters/spProgram'
      - $ref: '#/components/parameters/retainedHoldingsOrderBy'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/success-retained-holdings'
        '400':
          $ref: '#/components/responses/holding_query_error'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
      - worldcat_search_auth:
        - wcapi:view_retained_holdings
components:
  parameters:
    offset:
      name: offset
      in: query
      description: start position of the bib records to return (0 based), default 0
      required: false
      schema:
        type: integer
        format: int32
        default: 0
      example: 10
    spProgram:
      name: spProgram
      in: query
      description: Limiter to restrict the response to bibliographic records associated with a particular shared print program (l8 index).
      required: false
      schema:
        type: string
      example: WEST
    heldByInstitutionID:
      name: heldByInstitutionID
      in: query
      description: Institution registryId
      required: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/RegistryId'
        minItems: 0
        maxItems: 5
      explode: false
      examples:
        single:
          value:
          - 128807
        multiple:
          value:
          - 128807
          - 91475
    retainedHoldingsOrderBy:
      name: orderBy
      in: query
      description: result sort key
      required: false
      schema:
        type: string
        default: oclcSymbol
        enum:
        - commitmentExpirationDate
        - location
        - oclcSymbol
    accept:
      name: Accept
      in: header
      description: Content Type the client supports and is requesting (application/json currently supported)
      schema:
        type: string
        default: application/json
      required: false
    oclcNumber:
      name: oclcNumber
      in: query
      description: oclc number of the bibliographic item
      required: false
      schema:
        $ref: '#/components/schemas/OclcNumber'
      example: 41266045
    lhrOrderBy:
      name: orderBy
      in: query
      description: result sort key
      required: false
      schema:
        type: string
        default: oclcSymbol
        enum:
        - commitmentExpirationDate
        - location
        - oclcSymbol
    lhr-control-number:
      name: controlNumber
      in: path
      description: LHR control number
      required: true
      schema:
        type: string
      example: 238374600
    limit:
      name: limit
      in: query
      description: maximum number of records to return, maximum 50, default 10
      required: false
      schema:
        type: integer
        format: int32
        default: 10
      example: 50
    heldBy:
      name: heldBy
      in: query
      description: Institution Symbol
      deprecated: true
      required: false
      schema:
        type: string
      example: TXH
    heldBySymbol:
      name: heldBySymbol
      in: query
      description: Institution Symbol
      required: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/OCLCSymbol'
        minItems: 1
        maxItems: 5
      explode: false
      examples:
        single:
          value:
          - TXH
        multiple:
          value:
          - TXH
          - YSM
    barcode:
      name: barcode
      in: query
      description: barcode
      required: false
      schema:
        type: string
      example: K123456789
  schemas:
    SharedPrintCommitment:
      type: object
      properties:
        actionNote:
          description: Action Note [LHR -> HldDetRec/v583sa]
          type: string
        materialsSpecified:
          description: Materials Sepcified [LHR -> HldDetRec/v583s3]
          type: string
        institution:
          description: Institution to which applies [LHR -> HldDetRec/v583s5]
          type: string
        dateOfAction:
          description: date of action [LHR -> HldDetRec/v583sc]
          type: string
        commitmentExpirationDate:
          description: commitment expiration date [LHR -> HldDetRec/v583sd]
          type: string
        authorization:
          description: Authorization [LHR -> HldDetRec/v583sf]
          type: string
        methodOfAction:
          description: Method of Action [LHR -> HldDetRec/v583si]
          type: string
        siteOfAction:
          description: Site of Action [LHR -> HldDetRec/v583sj]
          type: string
        status:
          description: Status [LHR -> HldDetRec/v583sl]
          type: string
        uri:
          description: URI [LHR -> HldDetRec/v583su]
          type: string
        publicNote:
          description: Public Note [LHR -> HldDetRec/v583sz]
          type: string
    HoldingPart:
      type: object
      properties:
        linkingAndSequenceNumber:
          description: Field link and sequence number [852/863-865/866-868/876-878 | s8]
          type: string
        summaryOfHoldings:
          $ref: '#/components/schemas/SummaryOfHoldings'
        enumerations:
          description: Enumerations [853-855/863-865 |a-h]
          type: array
          items:
            $ref: '#/components/schemas/CaptionValuePair'
        chronologies:
          description: Chronologies [853-855/863-865 |i-v]
          type: array
          items:
            $ref: '#/components/schemas/CaptionValuePair'
        textualHoldings:
          $ref: '#/components/schemas/TextualHoldingsStatement'
        itemMaterialSpecified:
          $ref: '#/components/schemas/MaterialSpecified'
        pieceDesignation:
          $ref: '#/components/schemas/PieceDesignation'
        cancelledPieceDesignations:
          description: Cancelled Piece Designation [876-878 |r]
          type: array
          items:
            type: string
        temporaryLocation:
          $ref: '#/components/schemas/TemporaryLocation'
        publicNotes:
          description: Public notes [852/863-865/866-868/876-878 |z]
          type: array
          items:
            type: string
        yearRanges:
          description: Year as Range [si]
          type: array
          items:
            $ref: '#/components/schemas/HoldingRange'
        volumeRanges:
          description: Volume Number As Range [sb]
          type: array
          items:
            $ref: '#/components/schemas/HoldingRange'
        itemType:
          description: Category of holding based on MARC field patterns [LHR -> v853,v863,v866,v876 for basic; v854,v864,v867,v877 for supplementary; v855,v865,v868,v878 for index]
          type: string
          enum:
          - basic
          - supplementary
          - index
        privateNotes:
          description: Private notes from 87X$x field [LHR -> v87Xsx]
          type: array
          items:
            type: string
    DisplayCallNumber:
      description: Display call Number [LHR -> v852 |k,h,i,m / |j/ |l]
      type: string
    HoldingDetail:
      type: object
      properties:
        lhrControlNumber:
          description: LHR Control Number [LHR -> HldDetRec/c001]
          type: string
        lhrDateEntered:
          description: LHR Date Entered [LHR -> HldDetRec/Admin/CreateDate]
          type: string
        lhrLastUpdated:
          description: LHR Date Last Used [LHR -> HldDetRec/Admin/ReplacedDate]
          type: string
        oclcNumber:
          description: OCLC Number [LHR -> HldDetRec/c004]
          type: string
        format:
          description: material format [LHR -> HldDetRec/c007]
          type: string
        location:
          $ref: '#/components/schemas/HoldingLocation'
        copyNumber:
          description: copy number [LHR -> HldDetRec/v852st]
          type: string
        callNumber:
          $ref: '#/components/schemas/CallNumber'
        lendingPolicy:
          description: local lending policy [LHR -> HldDetRec/Admin/Lend]
          type: string
        hasSharedPrintCommitment:
          $ref: '#/components/schemas/HasSharedPrintCommitment'
        sharedPrintCommitments:
          description: shared print details [LHR -> HldDetRec/v583]
          type: array
          items:
            $ref: '#/components/schemas/SharedPrintCommitment'
        summary:
          description: summary statement [LHR -> HldSummRec/v966sa]
          type: string
        holdingParts:
          description: Textual Holding [LHR -> HldDetRec/v866,v867,v868] Item Information Holding [LHR -> HldDetRec/v876,v877,v878] Enumeration Chronology Holding [LHR -> HldDetRec/v863,v864,v865]
          type: array
          items:
            $ref: '#/components/schemas/HoldingPart'
      required:
      - lhrControlNumber
      - lhrDateEntered
      - lhrLastUpdated
      - oclcNumber
      - format
      - lendingPolicy
      - hasSharedPrintCommitment
    SublocationCollection:
      description: Sublocation or collection [LHR -> v852sb]
      type: string
    PieceDesignation:
      description: Piece Designation [852/863-865/866-868/876-878 |p]
      type: string
    OclcNumber:
      description: the oclc number of a given bibliographic record
      type: integer
      format: int64
    Problem:
      type: object
      description: RFC 7807 description of an error.
      properties:
        type:
          $ref: '#/components/schemas/ProblemType'
        title:
          description: A short, human-readable summary of the problem type.
          type: string
        instance:
          description: A URI reference that identifies the specific occurrence of the problem.
          type: string
          format: uri
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.,
          type: string
        invalidParams:
          description: An array of validation errors.
          type: array
          items:
            description: The validation error descriptor.
            type: object
            properties:
              path:
                type: string
              name:
                type: string
              reason:
                type: string
    OCLCSymbol:
      description: institution OCLC Symbol. Special characters need to be encoded properly.
      type: string
      minLength: 3
      maxLength: 8
      pattern: ^[a-zA-Z0-9@*&#%+$/]{1,}$
    CallNumber:
      description: Local call number [LHR -> v852sh,i,j,k,l,m]
      type: object
      properties:
        displayCallNumber:
          $ref: '#/components/schemas/DisplayCallNumber'
        classificationPart:
          description: LHR -> v852sh
          type: string
        itemParts:
          description: LHR -> v852si
          type: array
          items:
            type: string
        shelvingControlNumber:
          description: LHR -> v852sj
          type: string
        prefixes:
          description: LHR -> v852sk
          type: array
          items:
            type: string
        shelvingForm:
          description: LHR -> v852sl
          type: string
        suffixes:
          description: LHR -> v852sm
          type: array
          items:
            type: string
        shelvingScheme:
          description: Shelving scheme based on 852 field 1st indicator [LHR -> v852 ind1]
          type: string
          enum:
          - Library of Congress classification
          - Dewey Decimal classification
          - National Library of Medicine classification
          - Superintendent of Documents classification
          - Shelving control number
          - Title
          - Shelved separately
          - Other scheme
        privateNotes:
          description: Private notes from 852$x field [LHR -> v852sx]
          type: array
          items:
            type: string
    ProblemType:
      description: A URI reference [RFC3986] that identifies the problem type.
      type: string
      format: uri
      enum:
      - https://developer.api.oclc.org/errors/NOT_ACCEPTABLE
      - https://developer.api.oclc.org/errors/NOT_ALLOWED
      - https://developer.api.oclc.org/errors/INTERAL_SERVER_ERROR
      - https://developer.api.oclc.org/errors/BAD_REQUEST
      - https://developer.api.oclc.org/errors/NOT_FOUND
      - https://developer.api.oclc.org/errors/NOT_ELIGIBLE
      - https://developer.api.oclc.org/errors/MISSING_QUERY_PARAMETER
      - https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETERS
      - https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_VALUE
      - https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_NAME
      - https://developer.api.oclc.org/errors/SYNTAX_ERROR
      - https://developer.api.oclc.org/errors/INVALID_DOCUMENT
      - https://developer.api.oclc.org/errors/MISSING_ELEMENT
      - https://developer.api.oclc.org/errors/INVALID_ELEMENT_VALUE
    SummaryOfHoldings:
      description: Summary of Holdings [https://www.loc.gov/marc/holdings/echdcntf.html]
      type: string
    RegistryId:
      description: The identifier in the WorldCat Registry for the institution
      type: integer
    HasSharedPrintCommitment:
      description: institution has shared print commitment [Holdings/LibHasSharedPrint || LHR -> HldDetRec/Admin/SPReg]
      type: string
      enum:
      - Y
      - N
    HoldingLocation:
      description: Local holding location [LHR -> v852sa,b,c]
      type: object
      properties:
        holdingLocation:
          description: Institution Symbol [LHR -> v852sa]
          type: string
        sublocationCollection:
          $ref: '#/components/schemas/SublocationCollection'
        shelvingLocation:
          $ref: '#/components/schemas/ShelvingLocation'
    TextualHoldingsStatement:
      description: '[866-8 |a]'
      type: string
    HoldingResultSet:
      type: object
      properties:
        numberOfHoldings:
          type: integer
          format: int32
        detailedHoldings:
          type: array
          items:
            $ref: '#/components/schemas/HoldingDetail'
    HoldingRange:
      type: object
      properties:
        from:
          type: string
        to:
          type: string
    MaterialSpecified:
      description: '[876-8 |3]'
      type: string
    ShelvingLocation:
      description: Shelving location [LHR -> v852sc]
      type: string
    CaptionValuePair:
      description: The caption and value pair for a caption describing a numeric, alphabetic, and/or date designation for an item. The caption is defined as an attribute on the element and the value for the caption is defined by the element contents.
      type: object
      properties:
        caption:
          type: string
        value:
          type: string
    TemporaryLocation:
      description: Temporary location [876-878 |l]
      type: string
  examples:
    failed-not-found:
      summary: Error when resource not found
      value:
        type: NOT_FOUND
        title: Resource Not Found
        detail: The specified resource was not found at this address.
    success-retained-holdings-monograph:
      summary: return retained holdings for a monograph
      value:
        numberOfHoldings: 1
        detailedHoldings:
        - lhrControlNumber: '184757025'
          lhrDateEntered: '20171208'
          lhrLastUpdated: '20171208'
          oclcNumber: '650'
          format: zu
          location:
            holdingLocation: NKF
            sublocationCollection: NKFA
            shelvingLocation: Stacks
          callNumber:
            displayCallNumber: QA9.F85
            classificationPart: QA9.F85
          hasSharedPrintCommitment: Y
          sharedPrintCommitments:
          - actionNote: committed to retain
            institution: MChiL
            dateOfAction: '20160630'
            commitmentExpirationDate: '20310630'
            authorization: EAST
            uri: http://eastlibraries.org/retained-materials
          summary: Local Holdings Available.
          holdingParts:
          - pieceDesignation: '30594001082474'
    success-retained-holdings:
      summary: successful request for retained holdings
      value:
        numberOfHoldings: 18
        detailedHoldings:
        - lhrControlNumber: '168860541'
          lhrDateEntered: '20180928'
          lhrLastUpdated: '20180928'
          oclcNumber: '25748966'
          format: zu
          location:
            holdingLocation: ANZSL
            sublocationCollection: ANZS
            shelvingLocation: Adult Non-Fiction
          copyNumber: '1'
          callNumber:
            displayCallNumber: 655 ART
            classificationPart: '655'
            suffixes:
            - ART
          hasSharedPrintCommitment: Y
          summary: Local Holdings Available.
          holdingParts:
          - pieceDesignation: '5445454'
        - lhrControlNumber: '184074541'
          lhrDateEntered: '20170807'
          lhrLastUpdated: '20170807'
          oclcNumber: '880521265'
          format: zu
          location:
            holdingLocation: ANZSL
            sublocationCollection: WEST
            shelvingLocation: Junior Fiction
          copyNumber: '1'
          callNumber:
            displayCallNumber: PB 823 WIL
            classificationPart: '823'
            prefixes:
            - PB
            suffixes:
            - WIL
          hasSharedPrintCommitment: Y
          summary: Local Holdings Available.
          holdingParts:
          - pieceDesignation: '38273625'
        - lhrControlNumber: '161419350'
          lhrDateEntered: '20180928'
          lhrLastUpdated: '20180928'
          oclcNumber: '57358293'
          format: zu
          location:
            holdingLocation: ANZSL
            sublocationCollection: ANZS
            shelvingLocation: Junior Non-Fiction
          copyNumber: '1'
          callNumber:
            displayCallNumber: JF ROW
            classificationPart: ROW
            prefixes:
            - JF
          hasSharedPrintCommitment: Y
          summary: Local Holdings Available.
          holdingParts:
          - pieceDesignation: '741258'
        - lhrControlNumber: '103218573'
          lhrDateEntered: '20190328'
          lhrLastUpdated: '20190328'
          oclcNumber: '38374762'
          format: zu
          location:
            holdingLocation: ANZSL
            sublocationCollection: ANZS
            shelvingLocation: Reference
          callNumber:
            displayCallNumber: REF 346.94052 REST
            classificationPart: REF 346.94052 REST
          hasSharedPrintCommitment: Y
          summary: Local Holdings Available.
          holdingParts:
          - pieceDesignation: '980474432'
        - lhrControlNumber: '103216969'
          lhrDateEntered: '20190328'
          lhrLastUpdated: '20190328'
          oclcNumber: '877594832'
          format: zu
          location:
            holdingLocation: ANZSL
            sublocationCollection: ANZS
            shelvingLocation: Junior Paperback
          callNumber:
            displayCallNumber: JPB DICK
            classificationPart: JPB DICK
          hasSharedPrintCommitment: Y
          summary: Local Holdings Available.
          holdingParts:
          - pieceDesignation: '980391610'
        - lhrControlNumber: '195202980'
          lhrDateEntered: '20190328'
          lhrLastUpdated: '20190328'
          oclcNumber: '77485772'
          format: zu
          location:
            holdingLocation: ANZSL
            sublocationCollection: ANZS
            shelvingLocation: Junior Fiction
          copyNumber: '1'
          callNumber:
            displayCallNumber: 823 BEI
            classificationPart: '823'
            suffixes:
            - BEI
          hasSharedPrintCommitment: Y
          sharedPrintCommitments:
          - actionNote: digitized
            materialsSpecified: Scenario 5a
            institution: ESBiUD
            dateOfAction: '20190212'
            commitmentExpirationDate: '20201212'
            methodOfAction: known A
            status: current
            publicNote: LHR-3388
          - actionNote: condition reviewed
            materialsSpecified: Scenario 5b
            institution: ESBiUD
            dateOfAction: 20190414 20190515
            commitmentExpirationDate: 20211111 20211010
            methodOfAction: unknown unknown B
            status: not current
            publicNote: LHR-3388
          summary: Local Holdings Available.
          holdingParts:
          - pieceDesignation: '201010'
        - lhrControlNumber: '103217002'
          lhrDateEntered: '20191029'
          lhrLastUpdated: '20191029'
          oclcNumber: '40064472'
          format: zu
          location:
            holdingLocation: ANZSL
            sublocationCollection: ANZS
            shelvingLocation: Junior Fiction
          callNumber:
            displayCallNumber: F LEW
            classificationPart: F LEW
          hasSharedPrintCommitment: Y
          sharedPrintCommitments:
          - actionNote: committed to retain
            materialsSpecified: none
            institution: ESBiUD
            dateOfAction: '20190311'
            commitmentExpirationDate: '20201225'
            authorization: CLOCKSS
            methodOfAction: known
            status: current
            publicNote: LHR-3486
          summary: Local Holdings Available.
          holdingParts:
          - pieceDesignation: '61008'
        - lhrControlNumber: '103349801'
          lhrDateEntered: '20191115'
          lhrLastUpdated: '20191115'
          oclcNumber: '806097045'
          format: zu
          location:
            holdingLocation: ANZSL
            sublocationCollection: ANZS
            shelvingLocation: Music Cassette
          callNumber:
            displayCallNumber: TALKING BOOK CORN
            classificationPart: TALKING BOOK CORN
          hasSharedPrintCommitment: Y
          sharedPrintCommitments:
          - actionNote: committed to retain
            materialsSpecified: none
            institution: ESBiUD
            dateOfAction: '20190311'
            commitmentExpirationDate: '20201225'
            authorization: CLOCKSS
            methodOfAction: known
            status: current
            publicNote: update
          summary: Local Holdings Available.
          holdingParts:
          - pieceDesignation: '980378205'
        - lhrControlNumber: '225635989'
          lhrDateEntered: '20191115'
          lhrLastUpdated: '20191115'
          oclcNumber: '809427327'
          format: zu
          location:
            holdingLocation: ANZSL
            sublocationCollection: ANZS
          hasSharedPrintCommitment: Y
          sharedPrintCommitments:
          - actionNote: committed to retain
            materialsSpecified: none
            institution: ESBiUD
            dateOfAction: '20190311'
            commitmentExpirationDate: '20201225'
            authorization: CLOCKSS
            methodOfAction: known
            status: current
            publicNote: update
          summary: Local Holdings Available.
        - lhrControlNumber: '187490232'
          lhrDateEntered: '20190328'
          lhrLastUpdated: '20190328'
          oclcNumber: '870425058'
          format: zu
          location:
            holdingLocation: ANZSL
            sublocationCollection: ANZS
            shelvingLocation: Junior Non-Fiction
          copyNumber: '1'
          callNumber:
            displayCallNumber: 933.05092 TRU
            classificationPart: '933.05092'
            suffixes:
            - TRU
          hasSharedPrintCommitment: Y
          sharedPrintCommitments:
          - actionNote: digitized
            materialsSpecified: Scenario 3a
            institution: ESBiUD
            dateOfAction: 20190311 20190212
            commitmentExpirationDate: 20201225 20201212
            methodOfAction: known known A
            status: current
            publicNote: LHR-3388
          summary: Local Holdings Available.
          holdingParts:
          - pieceDesignation: '564474'
    invalid-accession-number:
      summary: Error returned when accession number isn't valid
      value:
        type: INVALID_QUERY_PARAMETER_VALUE
        title: Validation Failure
        detail: accession number must be a positive whole number
    method-not-allowed-error:
      summary: Error when invalid HTTP method used
      value:
        title: NOT_ALLOWED
        detail: POST method not allowed
    success-retained-holdings-serial-2:
      summary: return retained holdings for a serial
      value:
        numberOfHoldings: 1
        detailedHoldings:
        - lhrControlNumber: '2892929'
          lhrDateEntered: '20200505'
          lhrLastUpdated: '20200505'
          oclcNumber: '1696940'
          format: ta
          location:
            holdingLocation: VKM
            sublocationCollection: VKMA
          hasSharedPrintCommitment: Y
          sharedPrintCommitments:
          - actionNote: completeness reviewed
            materialsSpecified: v.1-5 (1906-1910), v.19 (1952), v.21-25 (1954-1958), v.27 (1960), v.29 (1962), v.32-42 (1965-1975), v.45-56 (1978-1990), v.58-75 (1992-2010)
            institution: NLouvS
            dateOfAction: '20160630'
            commitmentExpirationDate: '20310630'
            methodOfAction: volume-level validation
          - actionNote: committed to retain
            materialsSpecified: v.1-5 (1906-1910), v.19 (1952), v.21-25 (1954-1958), v.27 (1960), v.29 (1962), v.32-42 (1965-1975), v.45-56 (1978-1990), v.58-75 (1992-2010)
            institution: NLouvS
            dateOfAction: '20160630'
            commitmentExpirationDate: '20310630'
            authorization: east
            uri: https://eastlibraries.org/retained-materials
          summary: v.1(1906)-v.5(1910),v.19(1952),v.21(1954)-v.25(1958),v.27(1960),v.29(1962),v.32(1965)-v.42(1975),v.45(1978)-v.56(1990),v.58(1992)-v.75(2010)
          holdingParts:
          - linkingAndSequenceNumber: '1.1'
            enumerations:
            - caption: v.
              value: 1-5
            chronologies:
            - caption: (year)
              value: 1906-1910
            yearRanges:
            - from: '1906'
              to: '1910'
            volumeRanges:
            - from: '1'
              to: '5'
          - linkingAndSequenceNumber: '1.2'
            enumerations:
            - caption: v.
              value: '19'
            chronologies:
            - caption: (year)
              value: '1952'
          - linkingAndSequenceNumber: '1.3'
            enumerations:
            - caption: v.
              value: 21-25
            chronologies:
            - caption: (year)
              value: 1954-1958
            yearRanges:
            - from: '1954'
              to: '1958'
            volumeRanges:
            - from: '21'
              to: '25'
          - linkingAndSequenceNumber: '1.4'
            enumerations:
            - caption: v.
              value: '27'
            chronologies:
            - caption: (year)
              value: '1960'
          - linkingAndSequenceNumber: '1.5'
            enumerations:
            - caption: v.
              value: '29'
            chronologies:
            - caption: (year)
              value: '1962'
          - linkingAndSequenceNumber: '1.6'
            enumerations:
            - caption: v.
              value: 32-42
            chronologies:
            - caption: (year)
              value: 1965-1975
            yearRanges:
            - from: '1965'
              to: '1975'
            volumeRanges:
            - from: '32'
              to: '42'
          - linkingAndSequenceNumber: '1.7'
            enumerations:
            - caption: v.
              value: 45-56
            chronologies:
            - caption: (year)
              value: 1978-1990
            yearRanges:
            - from: '1978'
              to: '1990'
            volumeRanges:
            - from: '45'
              to: '56'
          - linkingAndSequenceNumber: '1.8'
            enumerations:
            - caption: v.
              value: 58-75
            chronologies:
            - caption: (year)
              value: 1992-2010
            yearRanges:
            - from: '1992'
              to: '2010'
            volumeRanges:
            - from: '58'
              to: '75'
    success-retained-holdings-serial:
      summary: return retained holdings for a serial
      value:
        numberOfHoldings: 1
        detailedHoldings:
        - lhrControlNumber: '293921067'
          lhrDateEntered: '20200122'
          lhrLastUpdated: '20200122'
          oclcNumber: '1588319'
          format: zu
          location:
            holdingLocation: CRL
            sublocationCollection: JSTR
          hasSharedPrintCommitment: Y
          sharedPrintCommitments:
          - actionNote: condition reviewed
            materialsSpecified: v.1-v.80 (1931-2010)
            institution: ICRL
            dateOfAction: '20110101'
            methodOfAction: issue-level validation
            status: marginalia$torn
            publicNote: marginalia v.40:590,592,594-596;v.42:396,153-159;v.44:463;v.45:211;v.46:189,196-197,199;v.49:153-166,168$torn pages v.49:pp.62-64
          - actionNote: committed to retain
            materialsSpecified: v.1-v.80 (1931-2010)
            institution: ICRL
            dateOfAction: '20110101'
            commitmentExpirationDate: '20501231'
            authorization: CRLJSTOR
            siteOfAction: CRLAA
            uri: http://www.crl.edu/archiving-preservation/print-archives/crl-administered/jstor
          summary: Local Holdings Available.
    success-my-holdings:
      summary: successful search for monograph holdings
      value:
        numberOfHoldings: 1
        detailedHoldings:
        - lhrControlNumber: '132422447'
          lhrDateEntered: '20190816'
          lhrLastUpdated: '20190816'
          oclcNumber: '246197114'
          format: zu
          location:
            holdingLocation: OCWMS
            sublocationCollection: CENT
            shelvingLocation: CENT-STACKS
          copyNumber: '1'
          callNumber:
            displayCallNumber: CATS
            classificationPart: CATS
          hasSharedPrintCommitment: N
          summary: Local holdings available.
          holdingParts:
          - pieceDesignation: CR963528
    not-acceptable-error:
      summary: Error when media type in Accept header not supported
      value:
        type: https://developer.api.oclc.org/errors/NOT_ACCEPTABLE
        title: ''
        detail: 'Media type application/xml not supported. Supported media types: application/json'
    invalid-oclc-number:
      summary: Error returned when oclc number isn't valid
      value:
        type: INVALID_QUERY_PARAMETER_VALUE
        title: Validation Failure
        detail: oclcNumber must be a positive whole number
    success-my-holdings-serial:
      summary: successful search for serial holdings
      value:
        totalHoldingCount: 3
        detailedHoldings:
        - lhrControlNumber: '180160011'
          lhrLastUpdated: '20150504'
          oclcNumber: '2351916'
          format: zu
          location:
            holdingLocation: OCPSB
            sublocationCollection: WEST
            shelvingLocation: WEST-Periodicals
          copyNumber: '2'
          callNumber:
            displayCallNumber: '12457896321'
            classificationPart: '12457896321'
          hasSharedPrintCommitment: N
          holdingParts:
          - linkingAndSequenceNumber: '1.1'
            enumerations:
            - value: '1'
            - value: '1'
            chronologies:
            - value: '2015'
            - value: Jan
          - linkingAndSequenceNumber: '2.1'
            enumerations:
            - value: '1'
            - value: '2'
            chronologies:
            - value: '2015'
            - value: Feb
          - linkingAndSequenceNumber: '1.1'
            summaryOfHoldings: 1:1(2015:Jan)
            pieceDesignation: '986532741'
          - linkingAndSequenceNumber: '2.1'
            summaryOfHoldings: 1:2(2015:Feb)
            pieceDesignation: '986532743'
        - lhrControlNumber: '181735389'
          lhrLastUpdated: '20150504'
          oclcNumber: '2351916'
          format: zu
          location:
            holdingLocation: OCPSB
            sublocationCollection: EAST
            shelvingLocation: EAST-Periodicals
          copyNumber: '3'
          callNumber:
            displayCallNumber: '12457896321'
            classificationPart: '12457896321'
          hasSharedPrintCommitment: N
          holdingParts:
          - linkingAndSequenceNumber: '1.1'
            enumerations:
            - value: '1'
            - value: '1'
            chronologies:
            - value: '2015'
            - value: Jan
          - linkingAndSequenceNumber: '1.1'
            summaryOfHoldings: 1:1(2015:Jan)
            pieceDesignation: '986532742'
        - lhrControlNumber: '84243463'
          lhrDateEntered: '20190613'
          lhrLastUpdated: '20190613'
          oclcNumber: '2351916'
          format: zu
          location:
            holdingLocation: OCPSB
            sublocationCollection: MAIN
            shelvingLocation: MAIN-Periodicals
          copyNumber: '1'
          callNumber:
            displayCallNumber: 020.5 O688465
            classificationPart: '020.5'
            itemParts:
            - O688465
          hasSharedPrintCommitment: N
          holdingParts:
          - linkingAndSequenceNumber: '1.1'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '1'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '01'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.2'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '2'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '01'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.3'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '3'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '02'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.4'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '4'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '02'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.5'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '5'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '03'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.6'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '6'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '03'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.7'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '7'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '04'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.8'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '8'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '04'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.9'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '9'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '05'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.10'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '10'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '05'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.11'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '11'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '06'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.12'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '12'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '06'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.13'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '13'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '07'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.14'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '14'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '07'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.15'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '15'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: 08
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.16'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '16'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: 08
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.17'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '17'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: 09
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.18'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '18'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: 09
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.19'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '19'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '10'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.20'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '20'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '10'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.21'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '21'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '11'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.22'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '22'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '11'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.23'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '23'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '12'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.24'
            enumerations:
            - caption: v.
              value: '133'
            - caption: no.
              value: '24'
            chronologies:
            - caption: (year)
              value: '2008'
            - caption: (month)
              value: '12'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.25'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '1'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '01'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.26'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '2'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '01'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.27'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '3'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '02'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.28'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '4'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '02'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.29'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '5'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '03'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.30'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '6'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '03'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.31'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '7'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '04'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.32'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '8'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '04'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.33'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '9'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '05'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.34'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '10'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '05'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.35'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '11'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '06'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.36'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '12'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '06'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.37'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '13'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '07'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.38'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '14'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '07'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.39'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '15'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: 08
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.40'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '16'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: 08
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.41'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '17'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: 09
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.42'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '18'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: 09
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.43'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '19'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '10'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.44'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '20'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '10'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.45'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '21'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '11'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.46'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '22'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '11'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.47'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '23'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '12'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '1.48'
            enumerations:
            - caption: v.
              value: '134'
            - caption: no.
              value: '24'
            chronologies:
            - caption: (year)
              value: '2009'
            - caption: (month)
              value: '12'
            - caption: (day)
              value: '16'
          - linkingAndSequenceNumber: '1.49'
            enumerations:
            - caption: v.
              value: '135'
            - caption: no.
              value: '1'
            chronologies:
            - caption: (year)
              value: '2010'
            - caption: (month)
              value: '01'
            - caption: (day)
              value: '01'
          - linkingAndSequenceNumber: '3.1'
            enumerations:
            - caption: v.
              value: test 2
            chronologies:
            - caption: (year)
              value: test 2
          - linkingAndSequenceNumber: '0'
            textualHoldings: v.133 - 135 i. 1 (2008-2010)
            yearRanges:
            - from: '2008'
              to: '2010'
          - linkingAndSequenceNumber: '1.1'
            summaryOfHoldings: v.133:no.1(2008:Jan 1)
            pieceDesignation: 22547-361001
          - linkingAndSequenceNumber: '1.2'
            summaryOfHoldings: v.133:no.2(2008:Jan 16)
            pieceDesignation: 22547-361002
          - linkingAndSequenceNumber: '1.3'
            summaryOfHoldings: v.133:no.3(2008:Feb 1)
            pieceDesignation: 22547-361003
          - linkingAndSequenceNumber: '1.4'
            summaryOfHoldings: v.133:no.4(2008:Feb 16)
            pieceDesignation: 22547-361004
          - linkingAndSequenceNumber: '1.5'
            summaryOfHoldings: v.133:no.5(2008:Mar 1)
            pieceDesignation: 22547-361005
          - linkingAndSequenceNumber: '1.6'
            summaryOfHoldings: v.133:no.6(2008:Mar 16)
            pieceDesignation: 22547-361006
          - linkingAndSequenceNumber: '1.7'
            summaryOfHoldings: v.133:no.7(2008:Apr 1)
            pieceDesignation: 22547-361007
          - linkingAndSequenceNumber: '1.8'
            summaryOfHoldings: v.133:no.8(2008:Apr 16)
            pieceDesignation: 22547-361008
          - linkingAndSequenceNumber: '1.9'
            summaryOfHoldings: v.133:no.9(2008:May 1)
            pieceDesignation: 22547-361009
          - linkingAndSequenceNumber: '1.10'
            summaryOfHoldings: v.133:no.10(2008:May 16)
            pieceDesignation: 22547-361010
          - linkingAndSequenceNumber: '1.11'
            summaryOfHoldings: v.133:no.11(2008:Jun 1)
            pieceDesignation: 22547-361011
          - linkingAndSequenceNumber: '1.12'
            summaryOfHoldings: v.133:no.12(2008:Jun 16)
            pieceDesignation: 22547-361012
          - linkingAndSequenceNumber: '1.13'
            summaryOfHoldings: v.133:no.13(2008:Jul 1)
            pieceDesignation: 22547-361013
          - linkingAndSequenceNumber: '1.14'
            summaryOfHoldings: v.133:no.14(2008:Jul 16)
            pieceDesignation: 22547-361014
          - linkingAndSequenceNumber: '1.15'
            summaryOfHoldings: v.133:no.15(2008:Aug 1)
            pieceDesignation: 22547-361015
          - linkingAndSequenceNumber: '1.16'
            summaryOfHoldings: v.133:no.16(2008:Aug 16)
            pieceDesignation: 22547-361016
          - linkingAndSequenceNumber: '1.17'
            summaryOfHoldings: v.133:no.17(2008:Sep 1)
            pieceDesignation: 22547-361017
          - linkingAndSequenceNumber: '1.18'
            summaryOfHoldings: v.133:no.18(2008:Sep 16)
            pieceDesignation: 22547-361018
          - linkingAndSequenceNumber: '1.19'
            summaryOfHoldings: v.133:no.19(2008:Oct 1)
            pieceDesignation: 22547-361019
          - linkingAndSequenceNumber: '1.20'
            summaryOfHoldings: v.133:no.20(2008:Oct 16)
            pieceDesignation: 22547-361020
          - linkingAndSequenceNumber: '1.21'
            summaryOfHoldings: v.133:no.21(2008:Nov 1)
            pieceDesignation: 22547-361021
          - linkingAndSequenceNumber: '1.22'
            summaryOfHoldings: v.133:no.22(2008:Nov 16)
            pieceDesignation: 22547-361022
          - linkingAndSequenceNumber: '1.23'
            summaryOfHoldings: v.133:no.23(2008:Dec 1)
            pieceDesignation: 22547-361023
          - linkingAndSequenceNumber: '1.24'
            summaryOfHoldings: v.133:no.24(2008:Dec 16)
            pieceDesignation: 22547-361024
          - linkingAndSequenceNumber: '1.25'
            summaryOfHoldings: v.134:no.1(2009:Jan 1)
            pieceDesignation: 22547-361025
          - linkingAndSequenceNumber: '1.26'
            summaryOfHoldings: v.134:no.2(2009:Jan 16)
            pieceDesignation: 22547-361026
          - linkingAndSequenceNumber: '1.27'
            summaryOfHoldings: v.134:no.3(2009:Feb 1)
            pieceDesignation: 22547-361027
          - linkingAndSequenceNumber: '1.28'
            summaryOfHoldings: v.134:no.4(2009:Feb 16)
            pieceDesignation: 22547-361028
          - linkingAndSequenceNumber: '1.29'
            summaryOfHoldings: v.134:no.5(2009:Mar 1)
            pieceDesignation: 22547-361029
          - linkingAndSequenceNumber: '1.30'
            summaryOfHoldings: v.134:no.6(2009:Mar 16)
            pieceDesignation: 22547-361030
          - linkingAndSequenceNumber: '1.31'
            summaryOfHoldings: v.134:no.7(2009:Apr 1)
            pieceDesignation: 22547-361031
          - linkingAndSequenceNumber: '1.32'
            summaryOfHoldings: v.134:no.8(2009:Apr 16)
            pieceDesignation: 22547-361032
          - linkingAndSequenceNumber: '1.33'
            summaryOfHoldings: v.134:no.9(2009:May 1)
            pieceDesignation: 22547-361033
          - linkingAndSequenceNumber: '1.34'
            summaryOfHoldings: v.134:no.10(2009:May 16)
            pieceDesignation: 22547-361034
          - linkingAndSequenceNumber: '1.35'
            summaryOfHoldings: v.134:no.11(2009:Jun 1)
            pieceDesignation: 22547-361035
          - linkingAndSequenceNumber: '1.36'
            summaryOfHoldings: v.134:no.12(2009:Jun 16)
            pieceDesignation: 22547-361036
          - linkingAndSequenceNumber: '1.37'
            summaryOfHoldings: v.134:no.13(2009:Jul 1)
            pieceDesignation: 22547-361037
          - linkingAndSequenceNumber: '1.38'
            summaryOfHoldings: v.134:no.14(2009:Jul 16)
            pieceDesignation: 22547-361038
          - linkingAndSequenceNumber: '1.39'
            summaryOfHoldings: v.134:no.15(2009:Aug 1)
            pieceDesignation: 22547-361039
          - linkingAndSequenceNumber: '1.40'
            summaryOfHoldings: v.134:no.16(2009:Aug 16)
            pieceDesignation: 22547-361040
          - linkingAndSequenceNumber: '1.41'
            summaryOfHoldings: v.134:no.17(2009:Sep 1)
            pieceDesignation: 22547-361041
          - linkingAndSequenceNumber: '1.42'
            summaryOfHoldings: v.134:no.18(2009:Sep 16)
            pieceDesignation: 22547-361042
          - linkingAndSequenceNumber: '1.43'
            summaryOfHoldings: v.134:no.19(2009:Oct 1)
            pieceDesignation: 22547-361043
          - linkingAndSequenceNumber: '1.44'
            summaryOfHoldings: v.134:no.20(2009:Oct 16)
            pieceDesignation: 22547-361044
          - linkingAndSequenceNumber: '1.45'
            summaryOfHoldings: v.134:no.21(2009:Nov 1)
            pieceDesignation: 22547-361045
          - linkingAndSequenceNumber: '1.46'
            summaryOfHoldings: v.134:no.22(2009:Nov 16)
            pieceDesignation: 22547-361046
          - linkingAndSequenceNumber: '1.47'
            summaryOfHoldings: v.134:no.23(2009:Dec 1)
            pieceDesignation: 22547-361047
          - linkingAndSequenceNumber: '1.48'
            summaryOfHoldings: v.134:no.24(2009:Dec 16)
            pieceDesignation: 22547-361048
          - linkingAndSequenceNumber: '1.49'
            summaryOfHoldings: v.135:no.1(2010:Jan 1)
            pieceDesignation: 22547-361049
          - summaryOfHoldings: test textual holdings
            itemMaterialSpecified: test textual holdings
            pieceDesignation: FakeBarcode
    success-my-holdings-accession-number:
      summary: successful request for monograph holding by accession number
      value:
        lhrControlNumber: '132422447'
        lhrDateEntered: '20190816'
        lhrLastUpdated: '20190816'
        oclcNumber: '246197114'
        format: zu
        location:
          holdingLocation: OCWMS
          sublocationCollection: CENT
          shelvingLocation: CENT-STACKS
        copyNumber: '1'
        callNumber:
          displayCallNumber: CATS
          classificationPart: CATS
        hasSharedPrintCommitment: N
        summary: Local holdings available.
        holdingParts:
        - pieceDesignation: CR963528
          temporaryLocation: présêlection
    not-acceptable-error-language:
      summary: Error when language in Accept-Language header not supported
      value:
        type: https://developer.api.oclc.org/errors/NOT_ACCEPTABLE
        title: ''
        detail: 'en-UK supported. Supported languages: en, es, fr'
    missing-query-parameter:
      summary: Error returned when required query parameter not sent
      value:
        type: MISSING_QUERY_PARAMETER
        title: Validation Failure
        detail: Required String parameter 'q' is not present
    success-my-holdings-with-private-notes:
      summary: successful search for holdings with private notes
      value:
        numberOfHoldings: 1
        detailedHoldings:
        - lhrControlNumber: '132422447'
          lhrDateEntered: '20190816'
          lhrLastUpdated: '20190816'
          oclcNumber: '246197114'
          format: zu
          location:
            holdingLocation: OCWMS
            sublocationCollection: CENT
            shelvingLocation: CENT-STACKS
          copyNumber: '1'
          callNumber:
            displayCallNumber: QA76.76.A65 M67 2018
            classificationPart: QA76.76.A65
            itemParts:
            - M67
            - 2018
            shelvingScheme: Library of Congress classification
            privateNotes:
            - Show in OPAC
            - Staff only
          hasSharedPrintCommitment: N
          holdingParts:
          - pieceDesignation: CR963528
            itemType: basic
            privateNotes:
            - Internal processing note
    success-my-holdings-with-shelving-scheme:
      summary: successful search for holdings with shelving scheme
      value:
        numberOfHoldings: 1
        detailedHoldings:
        - lhrControlNumber: '132422447'
          lhrDateEntered: '20190816'
          lhrLastUpdated: '20190816'
          oclcNumber: '246197114'
          format: zu
          location:
            holdingLocation: OCWMS
            sublocationCollection: CENT
            shelvingLocation: CENT-STACKS
          copyNumber: '1'
          callNumber:
            displayCallNumber: 025.5 D123 2020
            classificationPart: 25.5
            itemParts:
            - D123
            - 2020
            shelvingScheme: Dewey Decimal classification
          hasSharedPrintCommitment: N
          holdingParts:
          - pieceDesignation: CR963528
            itemType: basic
    success-my-holdings-accession-number-serial:
      summary: successful request for serial holdings by accession number
      value:
        lhrControlNumber: '180160011'
        lhrLastUpdated: '20150504'
        oclcNumber: '2351916'
        format: zu
        location:
          holdingLocation: OCPSB
          sublocationCollection: WEST
          shelvingLocation: WEST-Periodicals
        copyNumber: '2'
        callNumber:
          displayCallNumber: '12457896321'
          classificationPart: '12457896321'
        hasSharedPrintCommitment: N
        summary: v.133 (2008)-
        holdingParts:
        - linkingAndSequenceNumber: '1.1'
          enumerations:
          - value: '1'
          - value: '1'
          chronologies:
          - value: '2015'
          - value: Jan
        - linkingAndSequenceNumber: '2.1'
          enumerations:
          - value: '1'
          - value: '2'
          chronologies:
          - value: '2015'
          - value: Feb
        - linkingAndSequenceNumber: '1.1'
          summaryOfHoldings: 1:1(2015:Jan)
          pieceDesignation: '986532741'
        - linkingAndSequenceNumber: '2.1'
          summaryOfHoldings: 1:2(2015:Feb)
          pieceDesignation: '986532743'
    invalid-query-parameter-bad-orderBy:
      summary: Error returned when orderBy parameter contains invalid value
      value:
        type: INVALID_QUERY_PARAMETER_VALUE
        title: Validation Failure
        detail: 'orderBy value ''somekey'' is invalid. Acceptable orderBy values: [recency, bestMatch, creator, publicationDateAsc, publicationDateDesc, mostWidelyHeld, title, library]'
    success-my-holdings-with-item-types:
      summary: successful search for holdings with different item types
      value:
        numberOfHoldings: 2
        detailedHoldings:
        - lhrControlNumber: '132422447'
          lhrDateEntered: '20190816'
          lhrLastUpdated: '20190816'
          oclcNumber: '246197114'
          format: zu
          location:
            holdingLocation: OCWMS
            sublocationCollection: CENT
            shelvingLocation: CENT-STACKS
          copyNumber: '1'
          callNumber:
            displayCallNumber: QA76.76.A65 M67 2018
            classificationPart: QA76.76.A65
            itemParts:
            - M67
            - 2018
          hasSharedPrintCommitment: N
          holdingParts:
          - pieceDesignation: CR963528
            itemType: basic
          - pieceDesignation: CR963529
            itemType: supplementary
          - pieceDesignation: CR963530
            itemType: index
    missing-query-parameter-value:
      summary: Error returned when query parameter value not valid
      value:
        type: INVALID_QUERY_PARAMETER_VALUE
        title: Validation Failure
        detail: Query term is not provided.
  responses:
    internal-server-error:
      description: Something went wrong (hopfully rare) - please try again
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    success-retained-holdings:
      description: successful search for retained holdings
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HoldingResultSet'
          examples:
            success-retained-holdings:
              $ref: '#/components/examples/success-retained-holdings'
            success-retained-holdings-monograph:
              $ref: '#/components/examples/success-retained-holdings-monograph'
            success-retained-holdings-serial:
              $ref: '#/components/examples/success-retained-holdings-serial'
            success-retained-holdings-serial-2:
              $ref: '#/components/examples/success-retained-holdings-serial-2'
    success-my-holdings-search:
      description: successful search of my holdings
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HoldingResultSet'
          examples:
            success-my-holdings:
              $ref: '#/components/examples/success-my-holdings'
            success-my-holdings-serial:
              $ref: '#/components/examples/success-my-holdings-serial'
            success-my-holdings-with-private-notes:
              $ref: '#/components/examples/success-my-holdings-with-private-notes'
            success-my-holdings-with-shelving-scheme:
              $ref: '#/components/examples/success-my-holdings-with-shelving-scheme'
            success-my-holdings-with-item-types:
              $ref: '#/components/examples/success-my-holdings-with-item-types'
    failed-not-acceptable:
      description: Media type not supported
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            not-acceptable-error:
              $ref: '#/components/examples/not-acceptable-error'
            not-acceptable-error-language:
              $ref: '#/components/examples/not-acceptable-error-language'
    failed-not-found:
      description: Failed operation - resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            failed-not-found:
              $ref: '#/components/examples/failed-not-found'
    holding_query_error:
      description: Invalid query. The request was unacceptable, often due to missing a required parameter.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            missing-query-parameter:
              $ref: '#/components/examples/missing-query-parameter'
            missing-query-parameter-value:
              $ref: '#/components/examples/missing-query-parameter-value'
            invalid-query-parameter-bad-orderBy:
              $ref: '#/components/examples/invalid-query-parameter-bad-orderBy'
            invalid-oclc-number:
              $ref: '#/components/examples/invalid-oclc-number'
    method-not-supported:
      description: Method not supported, see response Allow header
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            not-allowed:
              $ref: '#/components/examples/method-not-allowed-error'
    success-my-holdings:
      description: successful read one of my holdings
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HoldingDetail'
          examples:
            success-my-holdings-accession-number:
              $ref: '#/components/examples/success-my-holdings-accession-number'
            success-my-holdings-accession-number-serial:
              $ref: '#/components/examples/success-my-holdings-accession-number-serial'
  securitySchemes:
    entity_data_auth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://oauth.oclc.org/token
          scopes:
            publicEntities:read_brief_entities: read brief entity data
            publicEntities:read_references: read entity references
        authorizationCode:
          authorizationUrl: https://oauth.oclc.org/auth
          tokenUrl: https://oauth.oclc.org/token
          scopes:
            publicEntities:read_brief_entities: read brief entity data
            publicEntities:read_references: read entity references
