openapi: 3.0.2
info:
  description: WorldCat Metadata API
  version: 2.0.0
  title: WorldCat Metadata API
servers:
  - url: https://metadata.api.oclc.org
    description: PROD
security:
  - worldcat_metadata_auth:
      - WorldCatMetadataAPI
externalDocs:
  description: Find out more about WorldCatMetadata API
  url: https://www.oclc.org/developer/develop/web-services/worldcat-metadata-api.en.html
paths:
  /worldcat/manage/bibs/validate/{validationLevel}:
    post:
      tags:
        - Manage Bibliographic Records
      summary: Validate a Bibliographic Record
      description: Given a Bibliographic record, apply the validation rules that conform to MARC standards.
      operationId: validate-a-bib
      parameters:
        - name: validationLevel
          in: path
          description: Level at which to validate records
          required: true
          schema:
            type: string
            default: validateFull
            enum:
              - validateFull
              - validateAdd
              - validateReplace
      requestBody:
        description: The Bibliographic record to apply validation on.
        required: true
        content:
          application/marcxml+xml:
            schema:
              $ref: '#/components/schemas/MARCXML'
            examples:
              MARCXML:
                $ref: '#/components/examples/bib-marcxml-new'
          application/marc:
            schema:
              type: string
            examples:
              MARC21:
                $ref: '#/components/examples/bib-marc-new'
      responses:
        '200':
          description: Validation was successfully applied to the Bibliographic record.
          content:
            application/json:
              examples:
                success:
                  summary: Valid Bibliographic Record
                  value:
                    status:
                      summary: VALID
                      description: The provided Bib is valid
        '400':
          description: Bad request. The request is unacceptable.
          content:
            application/json:
              examples:
                missing-control-number:
                  summary: Control Number is Missing
                  value:
                    status:
                      summary: BIB_LACKS_CONTROL_NUMBER
                      description: Record is missing a control number
                multiple-errors:
                  $ref: '#/components/examples/validate-multiple-errors'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_bibs
  /worldcat/manage/bibs/current:
    get:
      tags:
        - Manage Bibliographic Records
      summary: Retrieve the current OCLC Numbers from WorldCat.
      description: Given one or more OCLC Numbers, check WorldCat for those numbers. It will return the most current OCLC Number(s) associated w/ the OCLC Number(s) provided. If an OCLC Number does not exist or is invalid, a result of null is returned for the requested number.
      operationId: get-current-oclc-number
      parameters:
        - $ref: '#/components/parameters/oclcNumberListReq'
      responses:
        '200':
          description: The current OCLC Numbers were retrieved successfully.
          content:
            application/json:
              examples:
                success:
                  value:
                    controlNumbers:
                      - requested: '1'
                        current: '1'
                      - requested: '261176486'
                        current: '311684437'
                      - requested: '999999999999'
                        current: null
        '400':
          description: Bad request. The request was unacceptable.
          content:
            application/json:
              examples:
                bad-control-number-provided:
                  summary: Bad Control Number
                  value:
                    type: BAD_REQUEST
                    title: Unable to perform retrieve the current OCLC Numbers from WorldCat.
                    detail: No current found control number
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_bibs
            - WorldCatMetadataAPI:match_bibs
  /worldcat/manage/bibs:
    post:
      tags:
        - Manage Bibliographic Records
      summary: Create a Bibliographic Record
      description: Given a bibliographic record, create it in WorldCat... if it does not exist.
      operationId: bib-create
      requestBody:
        description: The Bibliographic record that will be created.
        required: true
        content:
          application/marcxml+xml:
            schema:
              $ref: '#/components/schemas/MARCXML'
            examples:
              MARCXML:
                $ref: '#/components/examples/bib-marcxml-new'
          application/marc:
            schema:
              type: string
            examples:
              MARC21:
                $ref: '#/components/examples/bib-marc-new'
      responses:
        '200':
          description: The Bibliographic record is created successfully and returns with an OCLC Number.
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/MARCXML'
              examples:
                success:
                  $ref: '#/components/examples/bib-marcxml-existing'
            application/marc:
              examples:
                success:
                  $ref: '#/components/examples/bib-marc-existing'
        '400':
          description: Bad request. The request was unacceptable.
          content:
            application/json:
              examples:
                xml-has-parsing-errors:
                  summary: Bib Has Parsing Errors
                  value:
                    type: BAD_REQUEST
                    title: Unable to crosswalk the record.
                    detail: The record has parsing errors.
                xml-has-missing-or-unusable-data:
                  summary: Bib Has Missing or Unusable Data
                  value:
                    type: BAD_REQUEST
                    title: Unable to perform bib create.
                    detail: Fixed field does not have usable data
                xml-has-validation-errors:
                  summary: Bib has Bad Data
                  value:
                    errorCount: 1
                    errors: '-"Invalid symbol OCWMS in 1st $c in 040."'
                    variableFieldErrors:
                      '-tag': '040'
                      errorLevel: CRITICAL
                      message: Invalid symbol OCWMS in 1st $c in 040.
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_bibs
  /worldcat/manage/bibs/{oclcNumber}:
    get:
      tags:
        - Manage Bibliographic Records
      summary: Retrieve a Bibliographic record
      description: Given an OCLC Number, retrieve a Bibliographic record, if it exists in WorldCat.
      operationId: bib-read
      parameters:
        - $ref: '#/components/parameters/oclcNumberAsId'
      responses:
        '200':
          description: The Bibliographic record was retrieved successfully.
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/MARCXML'
              examples:
                MARCXML:
                  $ref: '#/components/examples/bib-marcxml-existing'
            application/marc:
              examples:
                MARC21:
                  $ref: '#/components/examples/bib-marc-existing'
        '400':
          description: Bad request. The request was unacceptable.
          content:
            application/json:
              examples:
                non-numeric-oclc-number:
                  $ref: '#/components/examples/non-numeric-oclc-number'
                bib-not-found:
                  $ref: '#/components/examples/bib-not-found'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_bibs
            - WorldCatMetadataAPI:view_marc_bib
    put:
      tags:
        - Manage Bibliographic Records
      summary: Replace a Bibliographic record
      description: Given an OCLC Number, replace a Bibliographic record.  If the Bibliographic record does not exist, then a new Bibliographic record will be created.
      parameters:
        - name: oclcNumber
          in: path
          description: The OCLC number associated with the Bibliographic record to be replaced.
          schema:
            type: integer
            format: int32
          required: true
      operationId: bib-replace
      requestBody:
        description: The Bibliographic record that will be replaced.
        required: true
        content:
          application/marcxml+xml:
            schema:
              $ref: '#/components/schemas/MARCXML'
            examples:
              MARCXML:
                $ref: '#/components/examples/bib-marcxml-existing'
          application/marc:
            schema:
              type: string
            examples:
              MARC21:
                $ref: '#/components/examples/bib-marc-existing'
      responses:
        '200':
          description: The Bibliographic record was replaced successfully.
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/MARCXML'
              examples:
                success:
                  $ref: '#/components/examples/bib-marcxml-existing'
            application/marc:
              examples:
                success:
                  $ref: '#/components/examples/bib-marc-existing'
        '400':
          description: Bad request. The request was unacceptable.
          content:
            application/json:
              examples:
                xml-has-parsing-errors:
                  $ref: '#/components/examples/xml-has-parsing-errors'
                xml-has-missing-or-unusable-data:
                  $ref: '#/components/examples/xml-has-missing-or-unusable-data'
                xml-hdas-validation-errors:
                  $ref: '#/components/examples/xml-has-validation-errors'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_bibs
  /worldcat/manage/bibs/match:
    post:
      tags:
        - Manage Bibliographic Records
      summary: Match a Bibliographic Record
      description: Given a Bibliographic record in textual MARC or MARCXML format, apply OCLC matching rules to provide a single best-matched WorldCat result if possible. Bibliographic input record must contain a minimum of a MARC 008 and a MARC 245 field. In the JSON response, numberOfRecords indicates the potentially matched number of records and briefRecords contains the single best-match as determined by the OCLC matching service.
      operationId: match-bib
      requestBody:
        description: The Bibliographic record to match
        required: true
        content:
          application/marcxml+xml:
            schema:
              $ref: '#/components/schemas/MARCXML'
            examples:
              MARCXML:
                $ref: '#/components/examples/bib-marcxml-existing'
          application/marc:
            schema:
              type: string
            examples:
              MARC21:
                $ref: '#/components/examples/bib-marc-existing'
      responses:
        '200':
          description: Matching rules were applied to the Bibliographic record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BibMatchResult'
              examples:
                bib-match-matched:
                  $ref: '#/components/examples/bib-match-matched'
                bib-match-unmatched:
                  $ref: '#/components/examples/bib-match-unmatched'
        '400':
          description: Bad request. The request is unacceptable.
          content:
            application/json:
              examples:
                missing-control-number:
                  summary: Control Number is Missing
                  value:
                    status:
                      summary: BIB_LACKS_CONTROL_NUMBER
                      description: Record is missing a control number
                multiple-errors:
                  $ref: '#/components/examples/validate-multiple-errors'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_bibs
            - WorldCatMetadataAPI:match_bibs
  /worldcat/manage/institution/holdings/current:
    get:
      tags:
        - Manage Institution
      summary: Retrieve the current institution holdings for Bibliographic records from WorldCat.
      description: Given one or more OCLC Numbers (up to 10), check WorldCat for the institution holdings. It will return current institution holdings information associated w/ the OCLC Number(s) provided. If an OCLC Number does not exist or is invalid, a result of null is returned for the current control number.
      operationId: get-current-holdings
      parameters:
        - $ref: '#/components/parameters/oclcNumberListReq'
      responses:
        '200':
          description: The current holdings were retrieved successfully.
          content:
            application/json:
              examples:
                success:
                  value:
                    holdings:
                      - requestedControlNumber: '1'
                        currentControlNumber: '1'
                        institutionSymbol: OCWMS
                        holdingSet: true
                      - requestedControlNumber: '261176486'
                        currentControlNumber: '311684437'
                        institutionSymbol: OCWMS
                        holdingSet: true
                      - requestedControlNumber: '999999999999'
                        currentControlNumber: null
                        institutionSymbol: OCWMS
                        holdingSet: false
        '400':
          description: Bad request. The request was unacceptable.
          content:
            application/json:
              examples:
                non-numeric-control-number-provided:
                  summary: Non-Numeric Control Number
                  value:
                    type: BAD_REQUEST
                    title: 'Invalid value provided for query param: oclcNumbers.'
                    detail: 'A request with an invalid query param value was attempted: oclcNumbers=[abc]'
                too-many-control-numbers-provided:
                  summary: Too Many Control Numbers
                  value:
                    type: BAD_REQUEST
                    title: 'Too many values provided for query parameter: oclcNumbers'
                    detail: A maximum of 10 values can be provided for a given request
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_institution_holdings
  /worldcat/manage/institution/holdings/set:
    post:
      tags:
        - Manage Institution
      summary: Set a holding on a Bibliographic record.
      description: 'Given a Bibliographic record, unset a holding on the record. Note: ONLY one record is allowed in the request body.'
      operationId: set-a-holding
      responses:
        '200':
          description: The holding was set successfully.
          content:
            application/json:
              examples:
                holding-set:
                  $ref: '#/components/examples/holding-set'
                holding-already-set:
                  $ref: '#/components/examples/holding-already-set'
        '400':
          description: Bad request. The request was unacceptable.
          content:
            application/json:
              examples:
                xml-missing-control-number:
                  $ref: '#/components/examples/xml-missing-control-number-set'
                xml-has-parsing-errors:
                  $ref: '#/components/examples/xml-has-parsing-errors'
                xml-has-missing-or-unusable-data:
                  $ref: '#/components/examples/xml-has-missing-or-unusable-data'
                xml-hdas-validation-errors:
                  $ref: '#/components/examples/xml-has-validation-errors'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      requestBody:
        description: The Bibliographic record to set the holding on.
        required: true
        content:
          application/marcxml+xml:
            schema:
              $ref: '#/components/schemas/MARCXML'
            examples:
              MARCXML:
                $ref: '#/components/examples/bib-marcxml-existing'
          application/marc:
            schema:
              type: string
            examples:
              MARC21:
                $ref: '#/components/examples/bib-marc-existing'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_institution_holdings
  /worldcat/manage/institution/holdings/unset:
    post:
      tags:
        - Manage Institution
      summary: Unset a holding on a Bibliographic record.
      description: 'Given a Bibliographic record, unset a holding on the record. Note: ONLY one record is allowed in the request body.'
      operationId: unset-a-holding
      parameters:
        - name: cascadeDelete
          in: query
          description: Remove associated Local Bibliographic Data and/or Local Holdings Records when unsetting the holding
          required: false
          schema:
            type: boolean
            default: true
            enum:
              - true
              - false
      responses:
        '200':
          description: The holding was unset successfully.
          content:
            application/json:
              examples:
                holding-unset:
                  $ref: '#/components/examples/holding-unset'
                holding-already-unset:
                  $ref: '#/components/examples/holding-already-unset'
                holding-unset-blocked-by-lbds:
                  $ref: '#/components/examples/holding-unset-blocked-by-lbds'
                holding-unset-blocked-by-lhrs:
                  $ref: '#/components/examples/holding-unset-blocked-by-lhrs'
                holding-unset-blocked-by-lbds-and-lhrs:
                  $ref: '#/components/examples/holding-unset-blocked-by-lbds-and-lhrs'
        '400':
          description: Bad request. The request was unacceptable.
          content:
            application/json:
              examples:
                non-boolean-cascade-delete:
                  $ref: '#/components/examples/non-boolean-cascade-delete'
                xml-missing-control-number:
                  $ref: '#/components/examples/xml-missing-control-number-unset'
                xml-has-parsing-errors:
                  $ref: '#/components/examples/xml-has-parsing-errors'
                xml-has-missing-or-unusable-data:
                  $ref: '#/components/examples/xml-has-missing-or-unusable-data'
                xml-hdas-validation-errors:
                  $ref: '#/components/examples/xml-has-validation-errors'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      requestBody:
        description: The Bibliographic record to unset the holding on.
        required: true
        content:
          application/marcxml+xml:
            schema:
              $ref: '#/components/schemas/MARCXML'
            examples:
              MARCXML:
                $ref: '#/components/examples/bib-marcxml-existing'
          application/marc:
            schema:
              type: string
            examples:
              MARC21:
                $ref: '#/components/examples/bib-marc-existing'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_institution_holdings
  /worldcat/manage/institution/holdings/{oclcNumber}/set:
    post:
      tags:
        - Manage Institution
      summary: Set the holding on a Bibliographic record for an institution by OCLC Number.
      description: Given an Identifier (OCLC Number), set the holding on the appropriate Bibliographic record.
      operationId: set-holding-for-one-or-multiple-institutions
      parameters:
        - name: oclcNumber
          description: The Identifier is the OCLC Number.
          in: path
          required: true
          schema:
            oneOf:
              - $ref: '#/components/schemas/schemas-OclcNumber'
          examples:
            oclcNumber:
              value: 1234567890
      responses:
        '200':
          description: The holding was set successfully.
          content:
            application/json:
              examples:
                holding-set:
                  $ref: '#/components/examples/holding-set'
                holding-already-set:
                  $ref: '#/components/examples/holding-already-set'
        '400':
          description: Bad request. The request was unacceptable.
          content:
            application/json:
              examples:
                non-numeric-oclc-number:
                  $ref: '#/components/examples/non-numeric-oclc-number'
                bib-not-found:
                  $ref: '#/components/examples/bib-not-found'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_institution_holdings
  /worldcat/manage/institution/holdings/{oclcNumber}/unset:
    post:
      tags:
        - Manage Institution
      summary: Unset the holding on a Bibliographic record for an institution by OCLC Number.
      description: Given an Identifier (OCLC Number), unset the holding on the appropriate Bibliographic record.
      operationId: Unset-holding-for-one-or-multiple-institutions
      parameters:
        - name: oclcNumber
          description: The Identifier is the OCLC Number.
          in: path
          required: true
          schema:
            oneOf:
              - $ref: '#/components/schemas/schemas-OclcNumber'
          examples:
            oclcNumber:
              value: 1234567890
        - name: cascadeDelete
          in: query
          description: Remove associated Local Bibliographic Data and/or Local Holdings Records when unsetting the holding
          required: false
          schema:
            type: boolean
            default: true
            enum:
              - true
              - false
      responses:
        '200':
          description: The holding was unset successfully.
          content:
            application/json:
              examples:
                holding-unset:
                  $ref: '#/components/examples/holding-unset'
                holding-already-unset:
                  $ref: '#/components/examples/holding-already-unset'
                holding-unset-blocked-by-lbds:
                  $ref: '#/components/examples/holding-unset-blocked-by-lbds'
                holding-unset-blocked-by-lhrs:
                  $ref: '#/components/examples/holding-unset-blocked-by-lhrs'
                holding-unset-blocked-by-lbds-and-lhrs:
                  $ref: '#/components/examples/holding-unset-blocked-by-lbds-and-lhrs'
        '400':
          description: Bad request. The request was unacceptable.
          content:
            application/json:
              examples:
                non-boolean-cascade-delete:
                  $ref: '#/components/examples/non-boolean-cascade-delete'
                non-numeric-oclc-number:
                  $ref: '#/components/examples/non-numeric-oclc-number'
                bib-not-found:
                  $ref: '#/components/examples/bib-not-found'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_institution_holdings
  /worldcat/manage/institution/holdings/move:
    post:
      tags:
        - Manage Institution
      summary: Move a holding from one Bibliographic record to another.
      description: Given source and target OCLC numbers, move the holdings from the source to the target.
      operationId: move-holdings
      requestBody:
        description: The source and target OCLC numbers
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveHoldings'
            examples:
              success-single-holding:
                value:
                  sourceOclcNumber: '1'
                  targetOclcNumber: null
      responses:
        '200':
          description: The Holding Codes were retrieved successfully.
          content:
            application/json:
              examples:
                success-lbds:
                  value:
                    - sourceControlNumber: '1'
                    - requestedSourceControlNumber: '1'
                    - targetControlNumber: '2'
                    - requestedTargetControlNumber: '2'
                    - success: true
                    - message: Successfully set holding and moved local bibliographic data (LBD) to bibliographic record {target OCN}.
                    - action: Move Holdings
                success-lhrs:
                  value:
                    - sourceControlNumber: '1'
                    - requestedSourceControlNumber: '1'
                    - targetControlNumber: '2'
                    - requestedTargetControlNumber: '2'
                    - success: true
                    - message: Successfully set holding and moved local holdings record (LHR) to bibliographic record {target OCN}.
                    - action: Move Holdings
                success-lbds-and-lhrs:
                  value:
                    - sourceControlNumber: '1'
                    - requestedSourceControlNumber: '1'
                    - targetControlNumber: '2'
                    - requestedTargetControlNumber: '2'
                    - success: true
                    - message: Successfully set holding and moved local bibliographic data (LBD) and local holdings records (LHRs) to bibliographic record {target OCN}.
                    - action: Move Holdings
                success-lhrs-and-some-lbds:
                  value:
                    - sourceControlNumber: '1'
                    - requestedSourceControlNumber: '1'
                    - targetControlNumber: '2'
                    - requestedTargetControlNumber: '2'
                    - success: true
                    - message: Successfully set holding. Unable to move all local bibliographic data (LBD) to bibliographic record {target OCN}.
                    - action: Move Holdings
                success-not-all-lhrs-and-lbds:
                  value:
                    - sourceControlNumber: '1'
                    - requestedSourceControlNumber: '1'
                    - targetControlNumber: '2'
                    - requestedTargetControlNumber: '2'
                    - success: true
                    - message: Successfully set holding. Unable to move all local bibliographic data (LBD) and local holdings records (LHRs) to bibliographic record {target OCN}.
                    - action: Move Holdings
        '400':
          description: Bad request. The request was unacceptable.
          content:
            application/json:
              examples:
                source-non-numeric:
                  value:
                    - type: BAD_REQUEST
                    - title: Source OCLC number invalid
                    - detail: A non-numeric source OCLC number was provided
                target-non-numberic:
                  value:
                    - type: BAD_REQUEST
                    - title: Target OCLC number invalid.
                    - detail: A non-numeric target OCLC number was provided.
                source-and-target-identical:
                  value:
                    - type: BAD_REQUEST
                    - title: Source and target OCLC number identical.
                    - detail: Identical source and target OCLC numbers were provided.
                unusable-body:
                  value:
                    - type: BAD_REQUEST
                    - title: Invalid body content.
                    - detail: 'A request with an invalid body content was attempted:  null'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '409':
          description: Conflict. The request could not be completed due to a conflict with the current state of the target resource.
          content:
            application/json:
              examples:
                source-not-found:
                  value:
                    - type: CONFLICT
                    - title: Source OCLC number not found.
                    - detail: Unable to find the provided source OCLC number.
                target-not-found:
                  value:
                    - type: CONFLICT
                    - title: Target OCLC number not found.
                    - detail: Unable to find the provided target OCLC number.
                no-lbds-or-lhrs:
                  value:
                    - type: CONFLICT
                    - title: No local bibliographic data (LBD) or local holdings records (LHRs).
                    - detail: Move Holdings Failed. No local bibliographic data (LBD) or local holdings records (LHRs) are attached to the bibliographic record (source OCN).
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_institution_holdings
  /worldcat/manage/institution/holding-codes:
    get:
      tags:
        - Manage Institution
      summary: Retrieve Holding Codes
      description: Retrieve all the Holding Codes associated with the authenticated institution.
      operationId: retrieve-holding-codes
      responses:
        '200':
          description: The Holding Codes were retrieved successfully.
          content:
            application/json:
              examples:
                success:
                  value:
                    holdingLibraryCodes:
                      - code: ABCL
                        name: Engineering Library
                      - code: DEFJ
                        name: Auxilliary Storage
                      - code: GHIO
                        name: Music Library
                      - code: JKLU
                        name: Drama Library
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_bibs
            - WorldCatMetadataAPI:get_holding_codes
  /worldcat/manage/lbds:
    post:
      tags:
        - Manage Local Bibliographic Data
      summary: Create a Local Bibliographic Data record.
      description: Given a Local Bibliographic Data record, create it in WorldCat.
      operationId: lbd-create
      requestBody:
        description: The Local Bibliographic Data record that will be created in WorldCat.
        required: true
        content:
          application/marcxml+xml:
            schema:
              $ref: '#/components/schemas/MARCXML'
            examples:
              MARCXML:
                $ref: '#/components/examples/lbd-marcxml-new'
          application/marc:
            schema:
              type: string
            examples:
              MARC21:
                $ref: '#/components/examples/lbd-marc-new'
      responses:
        '200':
          description: The Local Bibliographic Data record was created successfully.
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/MARCXML'
              examples:
                success:
                  $ref: '#/components/examples/lbd-marcxml-existing'
            application/marc:
              examples:
                success:
                  $ref: '#/components/examples/lbd-marc-existing'
        '400':
          description: Bad request. The request was unacceptable.
          content:
            application/json:
              examples:
                lbd-create-has-control-number:
                  $ref: '#/components/examples/lbd-create-has-control-number'
                lbd-create-lacks-owning-institution:
                  $ref: '#/components/examples/lbd-create-lacks-owning-institution'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_institution_lbds
  /worldcat/manage/lbds/{controlNumber}:
    get:
      tags:
        - Manage Local Bibliographic Data
      summary: Retrieve a Local Bibliographic Data record.
      description: Given a Control Number, retrieve a Local Bibliographic Data record.
      operationId: lbd-read
      parameters:
        - name: controlNumber
          in: path
          description: The Control Number associated with the Local Bibliographic Data record.
          required: true
          schema:
            type: integer
          example: 906268152
      responses:
        '200':
          description: The Local Bibliographic Data record was retrieved successfully.
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/MARCXML'
              examples:
                success:
                  $ref: '#/components/examples/lbd-marcxml-existing'
            application/marc:
              examples:
                success:
                  $ref: '#/components/examples/lbd-marc-existing'
        '400':
          description: Bad request. The request was unacceptable.
          content:
            application/json:
              examples:
                lbd-read-not-found:
                  $ref: '#/components/examples/lbd-read-not-found'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_institution_lbds
    put:
      tags:
        - Manage Local Bibliographic Data
      summary: Replace a Local Bibliographic Data record.
      description: Given a Control Number, find the associated Local Bibliographic Data record and replace it. If the Control Number is not found in WorldCat, then the provided Local Bibliographic Data record will be created.
      operationId: lbd-update
      parameters:
        - name: controlNumber
          in: path
          description: The Control Number associated with the Local Bibliographic Data record in WorldCat
          required: true
          schema:
            type: integer
          example: 906268152
      requestBody:
        description: The provided Local Bibliographic Data record that will replace the Local Bibliographic Data record that matches the same Control Number in WorldCat.
        required: true
        content:
          application/marcxml+xml:
            schema:
              $ref: '#/components/schemas/MARCXML'
            examples:
              MARCXML:
                $ref: '#/components/examples/lbd-marcxml-existing'
          application/marc:
            schema:
              type: string
            examples:
              MARC21:
                $ref: '#/components/examples/lbd-marc-existing'
      responses:
        '200':
          description: The Local Bbibliographic Data record was replaced successfully.
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/MARCXML'
              examples:
                success:
                  $ref: '#/components/examples/lbd-marcxml-existing'
            application/marc:
              examples:
                success:
                  $ref: '#/components/examples/lbd-marc-existing'
        '400':
          description: Bad request. The request was unacceptable.
          content:
            application/json:
              examples:
                lbd-replace-lacks-owning-institution:
                  $ref: '#/components/examples/lbd-replace-lacks-owning-institution'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_institution_lbds
    delete:
      tags:
        - Manage Local Bibliographic Data
      summary: Delete a Local Bibliographic Data record.
      description: Given a Control Number, delete the associated Local Bibliographic Data record.
      operationId: lbd-delete
      parameters:
        - name: controlNumber
          in: path
          description: The Control Number associated with the Local Bibliographic Data record.
          required: true
          schema:
            type: integer
          example: 90626815
      responses:
        '200':
          description: The Local Bbibliographic Data record was deleted successfully.
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/MARCXML'
              examples:
                success:
                  $ref: '#/components/examples/lbd-marcxml-existing'
            application/marc:
              examples:
                success:
                  $ref: '#/components/examples/lbd-marc-existing'
        '400':
          description: Bad request. The request was unacceptable.
          content:
            application/json:
              examples:
                lbd-delete-not-found:
                  $ref: '#/components/examples/lbd-read-not-found'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_institution_lbds
  /worldcat/manage/lhrs:
    post:
      tags:
        - Manage Local Holdings Records
      summary: Create a Local Holdings Record
      description: Given a Local Holdings Record, create it in WorldCat.
      operationId: lhr-create
      requestBody:
        description: The Local Holdings Record that will be created in WorldCat.
        required: true
        content:
          application/marcxml+xml:
            schema:
              $ref: '#/components/schemas/MARCXML'
            examples:
              MARCXML:
                $ref: '#/components/examples/lhr-marcxml-new'
              addSharedPrint:
                $ref: '#/components/examples/lhr-marcxml-shared-print'
          application/marc:
            schema:
              type: string
            examples:
              MARC21:
                $ref: '#/components/examples/lhr-marc-new'
      responses:
        '200':
          description: The Local Holdings Record was created successfully.
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/MARCXML'
              examples:
                success:
                  $ref: '#/components/examples/lhr-marcxml-existing'
            application/marc:
              examples:
                success:
                  $ref: '#/components/examples/lhr-marc-existing'
        '400':
          description: Bad request. The request was unacceptable.
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/MARCXML'
              examples:
                generic-bad-request:
                  $ref: '#/components/examples/generic-bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_institution_lhrs
  /worldcat/manage/lhrs/{controlNumber}:
    get:
      tags:
        - Manage Local Holdings Records
      summary: Retrieve a Local Holdings Record
      description: Given an Accesion Number, retrieve the associated Local Holdings Record.
      operationId: lhr-read
      parameters:
        - name: controlNumber
          in: path
          description: The Control Number associated with the Local Holdings Record.
          required: true
          schema:
            type: integer
          example: 906268152
      responses:
        '200':
          description: The Local Holdings Record was retrieved successfully.
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/MARCXML'
              examples:
                success:
                  $ref: '#/components/examples/lhr-marcxml-existing'
            application/marc:
              examples:
                success:
                  $ref: '#/components/examples/lhr-marc-existing'
        '400':
          description: Bad request. The request was unacceptable.
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/MARCXML'
              examples:
                generic-bad-request:
                  $ref: '#/components/examples/generic-bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_institution_lhrs
    put:
      tags:
        - Manage Local Holdings Records
      summary: Replace a Local Holdings Record.
      description: Given a Control Number, find the associated Local Holdings Record and replace it. If the Control Number is not found in WorldCat, then the provided Local Holdings Record will be created.
      operationId: lhr-update
      parameters:
        - name: controlNumber
          in: path
          description: The Control Number associated with the Local Holdings Record.
          required: true
          schema:
            type: integer
          example: 906268152
      requestBody:
        description: The provided Local Holdings Record that will replace the Local Holdings Record that matches the same Control Number in WorldCat.
        required: true
        content:
          application/marcxml+xml:
            schema:
              $ref: '#/components/schemas/MARCXML'
            examples:
              MARCXML:
                $ref: '#/components/examples/lhr-marcxml-existing'
          application/marc:
            schema:
              type: string
            examples:
              MARC21:
                $ref: '#/components/examples/lhr-marc-existing'
      responses:
        '200':
          description: The Local Holdings Record was replaced successfully.
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/MARCXML'
              examples:
                success:
                  $ref: '#/components/examples/lhr-marcxml-existing'
            application/marc:
              examples:
                success:
                  $ref: '#/components/examples/lhr-marc-existing'
        '400':
          description: Bad request. The request was unacceptable.
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/MARCXML'
              examples:
                generic-bad-request:
                  $ref: '#/components/examples/generic-bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_institution_lhrs
    delete:
      tags:
        - Manage Local Holdings Records
      summary: Delete a Local Holdings Record
      description: Given a Control Number, delete a Local Holdings record.
      operationId: lhr-delete
      parameters:
        - name: controlNumber
          in: path
          description: The Control Number associated with the Local Holdings Record.
          required: true
          schema:
            type: integer
          example: 90626815
      responses:
        '200':
          description: The Local Holdings Record was deleted successfully.
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/MARCXML'
              examples:
                success:
                  $ref: '#/components/examples/lhr-marcxml-existing'
            application/marc:
              examples:
                success:
                  $ref: '#/components/examples/lhr-marc-existing'
        '400':
          description: Bad request. The request was unacceptable.
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/MARCXML'
              examples:
                generic-bad-request:
                  $ref: '#/components/examples/generic-bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/403-forbidden-url'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '406':
          $ref: '#/components/responses/406-accept-header-unacceptable'
        '500':
          $ref: '#/components/responses/500-internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:manage_institution_lhrs
  /worldcat/search/bibs-retained-holdings:
    get:
      tags:
        - Search Member Shared Print Holdings
      summary: Find member shared print holdings for a known item
      description: Given a known item, find the member library holdings with a commitment to retain (Shared Print)
      operationId: find-bib-retained-holdings
      parameters:
        - $ref: '#/components/parameters/accept'
        - $ref: '#/components/parameters/oclcNumber'
        - $ref: '#/components/parameters/isbn'
        - $ref: '#/components/parameters/issn'
        - $ref: '#/components/parameters/heldByGroup'
        - $ref: '#/components/parameters/heldInState'
        - $ref: '#/components/parameters/itemType'
        - $ref: '#/components/parameters/itemSubType'
      responses:
        '200':
          $ref: '#/components/responses/success-bibs-retained-holdings'
        '400':
          $ref: '#/components/responses/bib_holding_query_error'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:view_retained_holdings
  /worldcat/search/bibs-summary-holdings:
    get:
      tags:
        - Search Member General Holdings
      summary: Get summary of holdings for a known item
      description: Given a known item, get summary of holdings
      operationId: find-bib-summary-holdings
      parameters:
        - $ref: '#/components/parameters/accept'
        - $ref: '#/components/parameters/oclcNumber'
        - $ref: '#/components/parameters/isbn'
        - $ref: '#/components/parameters/issn'
        - $ref: '#/components/parameters/holdingsAllEditions'
        - $ref: '#/components/parameters/holdingsAllVariantRecords'
        - $ref: '#/components/parameters/preferredLanguage'
        - $ref: '#/components/parameters/holdingsFilterFormat'
        - $ref: '#/components/parameters/heldInCountry'
        - $ref: '#/components/parameters/heldInState'
        - $ref: '#/components/parameters/heldByGroup'
        - $ref: '#/components/parameters/heldBy'
        - $ref: '#/components/parameters/heldBySymbol'
        - $ref: '#/components/parameters/heldByInstitutionID'
        - $ref: '#/components/parameters/heldByLibraryType'
        - $ref: '#/components/parameters/lat'
        - $ref: '#/components/parameters/lon'
        - $ref: '#/components/parameters/distance'
        - $ref: '#/components/parameters/unit'
      responses:
        '200':
          $ref: '#/components/responses/success-bibs-summary-holdings'
        '400':
          $ref: '#/components/responses/bib_holding_query_error'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:view_summary_holdings
  /worldcat/search/brief-bibs:
    get:
      tags:
        - Search Bibliographic Resources
      summary: Search Brief Bibliographic Resources
      description: Search Brief Bibliographic Resources
      operationId: search-brief-bibs
      parameters:
        - $ref: '#/components/parameters/accept'
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/deweyNumber'
        - $ref: '#/components/parameters/datePublished'
        - $ref: '#/components/parameters/heldByGroup'
        - $ref: '#/components/parameters/heldBy'
        - $ref: '#/components/parameters/heldBySymbol'
        - $ref: '#/components/parameters/heldByInstitutionID'
        - $ref: '#/components/parameters/inLanguage'
        - $ref: '#/components/parameters/inCatalogLanguage'
        - $ref: '#/components/parameters/materialType'
        - $ref: '#/components/parameters/catalogSource'
        - $ref: '#/components/parameters/itemType'
        - $ref: '#/components/parameters/itemSubType'
        - $ref: '#/components/parameters/retentionCommitments'
        - $ref: '#/components/parameters/spProgram'
        - $ref: '#/components/parameters/genre'
        - $ref: '#/components/parameters/topic'
        - $ref: '#/components/parameters/subtopic'
        - $ref: '#/components/parameters/audience'
        - $ref: '#/components/parameters/content'
        - $ref: '#/components/parameters/openAccess'
        - $ref: '#/components/parameters/peerReviewed'
        - $ref: '#/components/parameters/facets'
        - $ref: '#/components/parameters/groupRelatedEditions'
        - $ref: '#/components/parameters/groupVariantRecords'
        - $ref: '#/components/parameters/preferredLanguage'
        - $ref: '#/components/parameters/showHoldingIndicators'
        - $ref: '#/components/parameters/lat'
        - $ref: '#/components/parameters/lon'
        - $ref: '#/components/parameters/distance'
        - $ref: '#/components/parameters/unit'
        - $ref: '#/components/parameters/orderBy'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/success-brief-bib-search'
        '206':
          $ref: '#/components/responses/success-brief-bib-search'
        '400':
          $ref: '#/components/responses/bib_query_error'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:view_brief_bib
  /worldcat/search/brief-bibs/{oclcNumber}:
    get:
      tags:
        - Search Bibliographic Resources
      summary: Retrieve specific Brief Bibliographic Resource
      description: Retrieve specific Bibliographic Resource
      operationId: retrieve-brief-bib
      parameters:
        - $ref: '#/components/parameters/accept'
        - $ref: '#/components/parameters/parameters-oclcNumberAsId'
      responses:
        '200':
          $ref: '#/components/responses/success-single-brief-bib'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                invalid-oclc-number:
                  $ref: '#/components/examples/invalid-oclc-number'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:view_brief_bib
  /worldcat/search/brief-bibs/{oclcNumber}/other-editions:
    get:
      tags:
        - Search Bibliographic Resources
      summary: Retrieve Other Editions related to a particular Bibliographic Resource
      description: Retrieve Other Editions related to a particular Bibliographic Resource
      operationId: retrieve-other-editions
      parameters:
        - $ref: '#/components/parameters/accept'
        - $ref: '#/components/parameters/parameters-oclcNumberAsId'
        - $ref: '#/components/parameters/deweyNumber'
        - $ref: '#/components/parameters/datePublished'
        - $ref: '#/components/parameters/heldByGroup'
        - $ref: '#/components/parameters/heldBy'
        - $ref: '#/components/parameters/heldBySymbol'
        - $ref: '#/components/parameters/heldByInstitutionID'
        - $ref: '#/components/parameters/inLanguage'
        - $ref: '#/components/parameters/inCatalogLanguage'
        - $ref: '#/components/parameters/materialType'
        - $ref: '#/components/parameters/catalogSource'
        - $ref: '#/components/parameters/itemType'
        - $ref: '#/components/parameters/itemSubType'
        - $ref: '#/components/parameters/retentionCommitments'
        - $ref: '#/components/parameters/spProgram'
        - $ref: '#/components/parameters/genre'
        - $ref: '#/components/parameters/topic'
        - $ref: '#/components/parameters/subtopic'
        - $ref: '#/components/parameters/audience'
        - $ref: '#/components/parameters/content'
        - $ref: '#/components/parameters/openAccess'
        - $ref: '#/components/parameters/peerReviewed'
        - $ref: '#/components/parameters/facets'
        - $ref: '#/components/parameters/groupVariantRecords'
        - $ref: '#/components/parameters/preferredLanguage'
        - $ref: '#/components/parameters/showHoldingIndicators'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/editionOrderBy'
      responses:
        '200':
          $ref: '#/components/responses/success-other-editions'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                invalid-oclc-number:
                  $ref: '#/components/examples/invalid-oclc-number'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:view_brief_bib
  /worldcat/search/classification-bibs/{oclcNumber}:
    get:
      tags:
        - Search Bibliographic Resources
      summary: Retrieve classification reccomendations for an oclcNumber
      description: Retrieve classification reccomendations for an oclcNumber
      operationId: get-classifications
      parameters:
        - $ref: '#/components/parameters/accept'
        - $ref: '#/components/parameters/parameters-oclcNumberAsId'
      responses:
        '200':
          $ref: '#/components/responses/success-get-classifications'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                invalid-oclc-number:
                  $ref: '#/components/examples/invalid-oclc-number'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:view_brief_bib
  /worldcat/search/bibs/{oclcNumber}:
    get:
      tags:
        - Bibliographic Resources
      summary: Retrieve specific Bibliographic Resource
      description: Retrieve specific Bibliographic Resource
      operationId: retrieve-bib
      parameters:
        - $ref: '#/components/parameters/accept'
        - $ref: '#/components/parameters/parameters-oclcNumberAsId'
      responses:
        '200':
          $ref: '#/components/responses/success-single-bib'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                invalid-oclc-number:
                  $ref: '#/components/examples/invalid-oclc-number'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:view_bib
  /worldcat/search/summary-holdings:
    get:
      tags:
        - Search Member General Holdings
      summary: Get summary of holdings for a known item
      description: Given a known item, get summary of holdings
      operationId: find-holdings
      parameters:
        - $ref: '#/components/parameters/accept'
        - $ref: '#/components/parameters/oclcNumberReq'
        - $ref: '#/components/parameters/holdingsAllEditions'
        - $ref: '#/components/parameters/holdingsAllVariantRecords'
        - $ref: '#/components/parameters/holdingsFilterFormat'
        - $ref: '#/components/parameters/heldInCountry'
        - $ref: '#/components/parameters/heldInState'
        - $ref: '#/components/parameters/heldByGroup'
        - $ref: '#/components/parameters/heldBySymbol'
        - $ref: '#/components/parameters/heldByInstitutionID'
        - $ref: '#/components/parameters/heldByLibraryType'
        - $ref: '#/components/parameters/lat'
        - $ref: '#/components/parameters/lon'
        - $ref: '#/components/parameters/distance'
        - $ref: '#/components/parameters/unit'
      responses:
        '200':
          $ref: '#/components/responses/success-summary-holdings'
        '400':
          $ref: '#/components/responses/holding_query_error'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:view_summary_holdings
  /worldcat/search/retained-holdings:
    get:
      tags:
        - Search Local Holdings Resources
      summary: Search for shared print LHR Resources
      description: Search for shared print LHR Resources
      operationId: search-retrained-lhr
      parameters:
        - $ref: '#/components/parameters/accept'
        - $ref: '#/components/parameters/oclcNumber'
        - $ref: '#/components/parameters/barcode'
        - $ref: '#/components/parameters/heldBy'
        - $ref: '#/components/parameters/heldBySymbol'
        - $ref: '#/components/parameters/heldByInstitutionID'
        - $ref: '#/components/parameters/spProgram'
        - $ref: '#/components/parameters/retainedHoldingsOrderBy'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/success-retained-holdings'
        '400':
          $ref: '#/components/responses/holding_query_error'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:view_retained_holdings
  /worldcat/search/my-local-bib-data/{controlNumber}:
    get:
      tags:
        - Local Bib Resources
      summary: Retrieve LBD Resource
      description: Retrieve LBD Resource
      operationId: retrieve-lbd
      parameters:
        - $ref: '#/components/parameters/accept'
        - $ref: '#/components/parameters/lbd-control-number'
      responses:
        '200':
          $ref: '#/components/responses/success-my-local-bib-data'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                invalid-control-number:
                  $ref: '#/components/examples/invalid-control-number'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:view_my_local_bib_data
  /worldcat/search/my-local-bib-data:
    get:
      tags:
        - Local Bib Resources
      summary: Search LBD Resources
      description: |
        Search LBD Resources <a href="https://help.oclc.org/Librarian_Toolbox/Searching_WorldCat_Indexes/Local_bibliographic_data_records/Local_bibliographic_data_record_indexes_A-Z">Learn more about the indexes available</a>
      operationId: search-lbd
      parameters:
        - $ref: '#/components/parameters/accept'
        - $ref: '#/components/parameters/query'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/success-my-local-bib-data-search'
        '400':
          $ref: '#/components/responses/lbd_query_error'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:view_my_local_bib_data
  /worldcat/search/my-holdings/{controlNumber}:
    get:
      tags:
        - Search Local Holdings Resources
      summary: Retrieve LHR Resource
      description: Retrieve LHR Resource
      operationId: retrieve-lhr
      parameters:
        - $ref: '#/components/parameters/accept'
        - $ref: '#/components/parameters/lhr-control-number'
      responses:
        '200':
          $ref: '#/components/responses/success-my-holdings'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                invalid-control-number:
                  $ref: '#/components/examples/invalid-control-number'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:view_my_holdings
            - WorldCatMetadataAPI:view_my_holdings_private_notes
  /worldcat/search/my-holdings:
    get:
      tags:
        - Search Local Holdings Resources
      summary: Search LHR Resources
      description: Search LHR Resources
      operationId: search-lhr
      parameters:
        - $ref: '#/components/parameters/accept'
        - $ref: '#/components/parameters/oclcNumber'
        - $ref: '#/components/parameters/barcode'
        - $ref: '#/components/parameters/lhrOrderBy'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/success-my-holdings-search'
        '400':
          $ref: '#/components/responses/holding_query_error'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:view_my_holdings
            - WorldCatMetadataAPI:view_my_holdings_private_notes
  /worldcat/browse/my-holdings:
    get:
      tags:
        - Search Local Holdings Resources
      summary: Browse LHR Resources
      description: Browse LHR Resources
      operationId: browse-lhr
      parameters:
        - $ref: '#/components/parameters/accept'
        - $ref: '#/components/parameters/callNumber'
        - $ref: '#/components/parameters/oclcNumber'
        - $ref: '#/components/parameters/holdingLocation'
        - $ref: '#/components/parameters/shelvingLocation'
        - $ref: '#/components/parameters/position'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/success-my-holdings-browse'
        '400':
          $ref: '#/components/responses/holding_query_error'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:view_my_holdings
            - WorldCatMetadataAPI:view_my_holdings_private_notes
  /worldcat/manage/institution-config/branch-shelving-locations:
    get:
      tags:
        - Manage Institution
      parameters:
        - $ref: '#/components/parameters/accept'
        - $ref: '#/components/parameters/includeShelvingLocations'
        - $ref: '#/components/parameters/branchLocationLimit'
      responses:
        '200':
          $ref: '#/components/responses/success-read-institution-branch-config'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                missing-single-required-query-parameter:
                  $ref: '#/components/examples/missing-single-required-query-parameter'
          description: Bad request. The request was unacceptable, often due to missing required or invalid/unsupported parameter(s)
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      operationId: manage-institution-branch-config
      summary: Retrieve branch holding codes and shelving locations
      description: Retrieve branch holding codes or shelving locations within a branch associated with an authenticated institution.
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:get_holding_codes
            - WorldCatMetadataAPI:manage_bibs
  /worldcat/search/institution:
    get:
      tags:
        - Manage Institution
      parameters:
        - $ref: '#/components/parameters/accept'
        - $ref: '#/components/parameters/registryIds'
        - $ref: '#/components/parameters/oclcSymbols'
      responses:
        '200':
          $ref: '#/components/responses/success-read-institution-branch-config'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                missing-single-required-query-parameter:
                  $ref: '#/components/examples/missing-single-required-query-parameter'
          description: Bad request. The request was unacceptable, often due to missing required or invalid/unsupported parameter(s)
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      operationId: find-institution-by-identifier
      summary: Fetch Identifiers for an Institution
      description: Fetch Identifiers for an Institution
      security:
        - worldcat_metadata_auth:
            - WorldCatMetadataAPI:get_holding_codes
            - WorldCatMetadataAPI:manage_bibs
components:
  securitySchemes:
    worldcat_metadata_auth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://oauth.oclc.org/token
          scopes:
            WorldCatMetadataAPI:view_brief_bib: view brief bibliographic data
            WorldCatMetadataAPI:view_bib: view full bibliographic data
            WorldCatMetadataAPI:view_marc_bib: view marc bibliographic data
            WorldCatMetadataAPI:match_bibs: match bibliographic records
            WorldCatMetadataAPI:get_holding_codes: retrieve holding codes
            WorldCatMetadataAPI:manage_bibs: manage bibliographic data
            WorldCatMetadataAPI:view_retained_holdings: view holdings which libraries have chosen to retain
            WorldCatMetadataAPI:view_summary_holdings: view summary information about library holdings
            WorldCatMetadataAPI:view_my_holdings: view detailed information about the authentication institution's holdings
            WorldCatMetadataAPI:view_my_holdings_private_notes: view private notes in holdings data
            WorldCatMetadataAPI:manage_institution_holdings: manage institution holdings
            WorldCatMetadataAPI:view_my_local_bib_data: view local bibliographic data from the authenticate institution
            WorldCatMetadataAPI:manage_institution_lbds: manage institution local bibliographic data records
            WorldCatMetadataAPI:manage_institution_lhrs: manage institution local holdings data records
            enhMetadataAPI:fieldTransfer: field transfer functionality
        authorizationCode:
          authorizationUrl: https://oauth.oclc.org/auth
          tokenUrl: https://oauth.oclc.org/token
          scopes:
            WorldCatMetadataAPI:view_brief_bib: view brief bibliographic data
            WorldCatMetadataAPI:view_bib: view full bibliographic data
            WorldCatMetadataAPI:view_marc_bib: view marc bibliographic data
            WorldCatMetadataAPI:match_bibs: match bibliographic records
            WorldCatMetadataAPI:get_holding_codes: retrieve holding codes
            WorldCatMetadataAPI:manage_bibs: manage bibliographic data
            WorldCatMetadataAPI:view_retained_holdings: view holdings which libraries have chosen to retain
            WorldCatMetadataAPI:view_summary_holdings: view summary information about library holdings
            WorldCatMetadataAPI:view_my_holdings: view detailed information about the authentication institution's holdings
            WorldCatMetadataAPI:view_my_holdings_private_notes: view private notes in holdings data
            WorldCatMetadataAPI:manage_institution_holdings: manage institution holdings
            WorldCatMetadataAPI:view_my_local_bib_data: view local bibliographic data from the authenticate institution
            WorldCatMetadataAPI:manage_institution_lbds: manage institution local bibliographic data records
            WorldCatMetadataAPI:manage_institution_lhrs: manage institution local holdings data records
            enhMetadataAPI:fieldTransfer: field transfer functionality
  schemas:
    MARCXML:
      description: see https://www.loc.gov/standards/marcxml/schema/MARC21slim.xsd
      type: object
      xml:
        name: record
      externalDocs:
        description: Learn about the Marc Bibliographic Standard
        url: https://www.loc.gov/standards/marcxml/
    MoveHoldings:
      description: Move holdings for an institution
      type: object
      properties:
        sourceOclcNumber:
          $ref: '#/components/schemas/SourceOclcNumber'
        targetOclcNumber:
          $ref: '#/components/schemas/TargetOclcNumber'
    SourceOclcNumber:
      description: The holding library symbol to move from
      type: string
    TargetOclcNumber:
      description: The holding library symbol to move to
      type: string
    OclcNumber:
      description: the oclc number of a given bibliographic record
      type: integer
      format: int64
    schemas-OclcNumber:
      description: the oclc number of a given bibliographic record
      type: integer
      format: int64
      example: 61253844
    ProblemType:
      description: A URI reference [RFC3986] that identifies the problem type.
      type: string
      format: uri
      enum:
        - https://developer.api.oclc.org/errors/NOT_ACCEPTABLE
        - https://developer.api.oclc.org/errors/NOT_ALLOWED
        - https://developer.api.oclc.org/errors/INTERAL_SERVER_ERROR
        - https://developer.api.oclc.org/errors/BAD_REQUEST
        - https://developer.api.oclc.org/errors/NOT_FOUND
        - https://developer.api.oclc.org/errors/NOT_ELIGIBLE
        - https://developer.api.oclc.org/errors/MISSING_QUERY_PARAMETER
        - https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETERS
        - https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_VALUE
        - https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_NAME
        - https://developer.api.oclc.org/errors/SYNTAX_ERROR
        - https://developer.api.oclc.org/errors/INVALID_DOCUMENT
        - https://developer.api.oclc.org/errors/MISSING_ELEMENT
        - https://developer.api.oclc.org/errors/INVALID_ELEMENT_VALUE
    Problem:
      type: object
      description: RFC 7807 description of an error.
      properties:
        type:
          $ref: '#/components/schemas/ProblemType'
        title:
          description: A short, human-readable summary of the problem type.
          type: string
        instance:
          description: A URI reference that identifies the specific occurrence of the problem.
          type: string
          format: uri
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.,
          type: string
        invalidParams:
          description: An array of validation errors.
          type: array
          items:
            description: The validation error descriptor.
            type: object
            properties:
              path:
                type: string
              name:
                type: string
              reason:
                type: string
    SimpleTitle:
      description: Linked [v880sa,b] if present or [v245sa,b]
      type: string
    CreatorString:
      description: List of creators as single string
      type: string
    Date:
      description: machine readable date 008
      type: string
    ItemLanguage:
      description: Language of the item [v041sa,j]
      type: string
    GeneralFormat:
      description: General Format Type [Admin/OCLCDef/StdRT]
      type: string
      enum:
        - Archv
        - ArtChapter
        - AudioBook
        - Book
        - CompFile
        - Encyc
        - Game
        - Image
        - IntMM
        - Jrnl
        - Kit
        - Map
        - MsScr
        - Music
        - News
        - Object
        - Snd
        - Toy
        - Video
        - Vis
        - Web
    SpecificFormat:
      description: Specific Format Type [Admin/OCLCDef/StdRT2]
      type: string
      enum:
        - 2D
        - Artcl
        - Bluray
        - Braille
        - Cassette
        - CD
        - Chptr
        - Continuing
        - Digital
        - DVD
        - Encyc
        - Film
        - LargePrint
        - LP
        - Mic
        - mss
        - PrintBook
        - rec
        - Thsis
        - VHS
    EditionStatement:
      description: Edition Statement [v250sa]
      type: string
    Isbns:
      description: International Standard Book Number [v020sa]
      type: array
      items:
        type: string
    Issn:
      description: International Standard Serial Number [v022sal v700,v710,v711,v773,v776,v777,v780,v785 - sx]
      type: string
    Issns:
      description: International Standard Serial Numbers
      type: array
      items:
        $ref: '#/components/schemas/Issn'
    MergedOclcNumbers:
      description: Merged OCLC numbers [v019sa]
      type: array
      items:
        type: string
    CatalogingLanguage:
      description: Language record was cataloged in [v040sb]
      type: string
    CatalogingInfo:
      type: object
      properties:
        catalogingAgency:
          description: Cataloging Agency [v040/sa]
          type: string
        transcribingAgency:
          description: Transcribing Agency [v040/sc]
          type: string
        catalogingLanguage:
          $ref: '#/components/schemas/CatalogingLanguage'
        levelOfCataloging:
          description: Level of cataloging [LDR position 5]
          type: string
    RegistryId:
      description: The identifier in the WorldCat Registry for the institution
      type: integer
    State:
      description: Name of the State/Province, per ISO 3166-2.
      type: string
    PostalCode:
      description: Postal Code
      type: string
    Country:
      description: Two-character Country Code, per ISO 3166.
      type: string
    Latitude:
      description: Latitude
      type: number
      format: double
      example: 37.502508
    Longitude:
      description: Longitude
      type: number
      format: double
      example: -122.22702
    Address:
      type: object
      properties:
        street1:
          description: Name of street
          type: string
        street2:
          description: Name of street 2
          type: string
        city:
          description: Name of city
          type: string
        state:
          $ref: '#/components/schemas/State'
        postalCode:
          $ref: '#/components/schemas/PostalCode'
        country:
          $ref: '#/components/schemas/Country'
        lat:
          $ref: '#/components/schemas/Latitude'
        lon:
          $ref: '#/components/schemas/Longitude'
    InstitutionType:
      description: The type of institution
      enum:
        - ACADEMIC
        - PUBLIC
        - REGIONAL_OR_NATIONAL
        - OTHER
        - CORPORATE_SPECIAL_LIBRARY
        - HEALTH
        - MUSEUM_OR_ARCHIVES
        - LAW
        - MUSIC
        - LIBRARY_NETWORK_GROUP
      type: string
    HoldingBrief:
      type: object
      properties:
        country:
          description: Country of holding institution [Holdings/Library/Country]
          type: string
        state:
          description: State of holding institution [Holdings/Library/State]
          type: string
        oclcSymbol:
          description: Oclc Symbol of holding institution [Holdings/Library/InstSym]
          type: string
        registryId:
          $ref: '#/components/schemas/RegistryId'
        institutionName:
          description: Name of holding institution [Holdings/Library/InstName]
          type: string
        alsoCalled:
          description: Some name the library might also be called
          type: string
        address:
          $ref: '#/components/schemas/Address'
        institutionType:
          $ref: '#/components/schemas/InstitutionType'
        hasOPACLink:
          description: Whether or not the library has an OPAC deep links
          type: boolean
        distance:
          description: Distance from location if lat/log was specified
          type: string
        self:
          description: URI to find more info about the institution
          type: string
          format: uri
        illStatus:
          description: ILL status [Holdings/Library/ILLStatus]
          type: string
        illGroup:
          description: ILL group [Holdings/Library/ILLGroup]
          type: string
        hasSharedPrintCommitment:
          description: institution has shared print commitment [Holdings/LibHasSharedPrint]
          type: string
          enum:
            - 'Y'
            - 'N'
    briefHoldings:
      type: array
      items:
        $ref: '#/components/schemas/HoldingBrief'
    SublocationCollection:
      description: Sublocation or collection [LHR -> v852sb]
      type: string
    ShelvingLocation:
      description: Shelving location [LHR -> v852sc]
      type: string
    HoldingLocation:
      description: Local holding location [LHR -> v852sa,b,c]
      type: object
      properties:
        holdingLocation:
          description: Institution Symbol [LHR -> v852sa]
          type: string
        sublocationCollection:
          $ref: '#/components/schemas/SublocationCollection'
        shelvingLocation:
          $ref: '#/components/schemas/ShelvingLocation'
    DisplayCallNumber:
      description: Display call Number [LHR -> v852 |k,h,i,m / |j/ |l]
      type: string
    CallNumber:
      description: Local call number [LHR -> v852sh,i,j,k,l,m]
      type: object
      properties:
        displayCallNumber:
          $ref: '#/components/schemas/DisplayCallNumber'
        classificationPart:
          description: LHR -> v852sh
          type: string
        itemParts:
          description: LHR -> v852si
          type: array
          items:
            type: string
        shelvingControlNumber:
          description: LHR -> v852sj
          type: string
        prefixes:
          description: LHR -> v852sk
          type: array
          items:
            type: string
        shelvingForm:
          description: LHR -> v852sl
          type: string
        suffixes:
          description: LHR -> v852sm
          type: array
          items:
            type: string
        shelvingScheme:
          description: Shelving scheme based on 852 field 1st indicator [LHR -> v852 ind1]
          type: string
          enum:
            - Library of Congress classification
            - Dewey Decimal classification
            - National Library of Medicine classification
            - Superintendent of Documents classification
            - Shelving control number
            - Title
            - Shelved separately
            - Other scheme
        privateNotes:
          description: Private notes from 852$x field [LHR -> v852sx]
          type: array
          items:
            type: string
    HasSharedPrintCommitment:
      description: institution has shared print commitment [Holdings/LibHasSharedPrint || LHR -> HldDetRec/Admin/SPReg]
      type: string
      enum:
        - 'Y'
        - 'N'
    SharedPrintCommitment:
      type: object
      properties:
        actionNote:
          description: Action Note [LHR -> HldDetRec/v583sa]
          type: string
        materialsSpecified:
          description: Materials Sepcified [LHR -> HldDetRec/v583s3]
          type: string
        institution:
          description: Institution to which applies [LHR -> HldDetRec/v583s5]
          type: string
        dateOfAction:
          description: date of action [LHR -> HldDetRec/v583sc]
          type: string
        commitmentExpirationDate:
          description: commitment expiration date [LHR -> HldDetRec/v583sd]
          type: string
        authorization:
          description: Authorization [LHR -> HldDetRec/v583sf]
          type: string
        methodOfAction:
          description: Method of Action [LHR -> HldDetRec/v583si]
          type: string
        siteOfAction:
          description: Site of Action [LHR -> HldDetRec/v583sj]
          type: string
        status:
          description: Status [LHR -> HldDetRec/v583sl]
          type: string
        uri:
          description: URI [LHR -> HldDetRec/v583su]
          type: string
        publicNote:
          description: Public Note [LHR -> HldDetRec/v583sz]
          type: string
    SummaryOfHoldings:
      description: Summary of Holdings [https://www.loc.gov/marc/holdings/echdcntf.html]
      type: string
    CaptionValuePair:
      description: The caption and value pair for a caption describing a numeric, alphabetic, and/or date designation for an item. The caption is defined as an attribute on the element and the value for the caption is defined by the element contents.
      type: object
      properties:
        caption:
          type: string
        value:
          type: string
    TextualHoldingsStatement:
      description: '[866-8 |a]'
      type: string
    MaterialSpecified:
      description: '[876-8 |3]'
      type: string
    PieceDesignation:
      description: Piece Designation [852/863-865/866-868/876-878 |p]
      type: string
    TemporaryLocation:
      description: Temporary location [876-878 |l]
      type: string
    HoldingRange:
      type: object
      properties:
        from:
          type: string
        to:
          type: string
    HoldingPart:
      type: object
      properties:
        linkingAndSequenceNumber:
          description: Field link and sequence number [852/863-865/866-868/876-878 | s8]
          type: string
        summaryOfHoldings:
          $ref: '#/components/schemas/SummaryOfHoldings'
        enumerations:
          description: Enumerations [853-855/863-865 |a-h]
          type: array
          items:
            $ref: '#/components/schemas/CaptionValuePair'
        chronologies:
          description: Chronologies [853-855/863-865 |i-v]
          type: array
          items:
            $ref: '#/components/schemas/CaptionValuePair'
        textualHoldings:
          $ref: '#/components/schemas/TextualHoldingsStatement'
        itemMaterialSpecified:
          $ref: '#/components/schemas/MaterialSpecified'
        pieceDesignation:
          $ref: '#/components/schemas/PieceDesignation'
        cancelledPieceDesignations:
          description: Cancelled Piece Designation [876-878 |r]
          type: array
          items:
            type: string
        temporaryLocation:
          $ref: '#/components/schemas/TemporaryLocation'
        publicNotes:
          description: Public notes [852/863-865/866-868/876-878 |z]
          type: array
          items:
            type: string
        yearRanges:
          description: Year as Range [si]
          type: array
          items:
            $ref: '#/components/schemas/HoldingRange'
        volumeRanges:
          description: Volume Number As Range [sb]
          type: array
          items:
            $ref: '#/components/schemas/HoldingRange'
        itemType:
          description: Category of holding based on MARC field patterns [LHR -> v853,v863,v866,v876 for basic; v854,v864,v867,v877 for supplementary; v855,v865,v868,v878 for index]
          type: string
          enum:
            - basic
            - supplementary
            - index
        privateNotes:
          description: Private notes from 87X$x field [LHR -> v87Xsx]
          type: array
          items:
            type: string
    HoldingDetail:
      type: object
      properties:
        lhrControlNumber:
          description: LHR Control Number [LHR -> HldDetRec/c001]
          type: string
        lhrDateEntered:
          description: LHR Date Entered [LHR -> HldDetRec/Admin/CreateDate]
          type: string
        lhrLastUpdated:
          description: LHR Date Last Used [LHR -> HldDetRec/Admin/ReplacedDate]
          type: string
        oclcNumber:
          description: OCLC Number [LHR -> HldDetRec/c004]
          type: string
        format:
          description: material format [LHR -> HldDetRec/c007]
          type: string
        location:
          $ref: '#/components/schemas/HoldingLocation'
        copyNumber:
          description: copy number [LHR -> HldDetRec/v852st]
          type: string
        callNumber:
          $ref: '#/components/schemas/CallNumber'
        lendingPolicy:
          description: local lending policy [LHR -> HldDetRec/Admin/Lend]
          type: string
        hasSharedPrintCommitment:
          $ref: '#/components/schemas/HasSharedPrintCommitment'
        sharedPrintCommitments:
          description: shared print details [LHR -> HldDetRec/v583]
          type: array
          items:
            $ref: '#/components/schemas/SharedPrintCommitment'
        summary:
          description: summary statement [LHR -> HldSummRec/v966sa]
          type: string
        holdingParts:
          description: Textual Holding [LHR -> HldDetRec/v866,v867,v868] Item Information Holding [LHR -> HldDetRec/v876,v877,v878] Enumeration Chronology Holding [LHR -> HldDetRec/v863,v864,v865]
          type: array
          items:
            $ref: '#/components/schemas/HoldingPart'
      required:
        - lhrControlNumber
        - lhrDateEntered
        - lhrLastUpdated
        - oclcNumber
        - format
        - lendingPolicy
        - hasSharedPrintCommitment
    detailedHoldings:
      type: array
      items:
        $ref: '#/components/schemas/HoldingDetail'
    TotalEditions:
      description: Total number of editions in the workgroup
      type: integer
      format: int32
    InstitutionHolding:
      type: object
      properties:
        totalHoldingCount:
          description: Number of holdings for this item [Holdings/TotalLibCount || FRBRHoldings/B]
          type: integer
          format: int32
        totalWorksHoldingCount:
          description: Number of holdings in the workset [FRBRHoldings/B]
          type: integer
          format: int32
        totalEditions:
          $ref: '#/components/schemas/TotalEditions'
      oneOf:
        - $ref: '#/components/schemas/briefHoldings'
        - $ref: '#/components/schemas/detailedHoldings'
    BibRecordBrief:
      type: object
      properties:
        oclcNumber:
          $ref: '#/components/schemas/OclcNumber'
        title:
          $ref: '#/components/schemas/SimpleTitle'
        creator:
          $ref: '#/components/schemas/CreatorString'
        date:
          $ref: '#/components/schemas/Date'
        language:
          $ref: '#/components/schemas/ItemLanguage'
        generalFormat:
          $ref: '#/components/schemas/GeneralFormat'
        specificFormat:
          $ref: '#/components/schemas/SpecificFormat'
        edition:
          $ref: '#/components/schemas/EditionStatement'
        publisher:
          type: string
        isbns:
          $ref: '#/components/schemas/Isbns'
        issns:
          $ref: '#/components/schemas/Issns'
        mergedOclcNumbers:
          $ref: '#/components/schemas/MergedOclcNumbers'
        catalogingInfo:
          $ref: '#/components/schemas/CatalogingInfo'
        institutionHolding:
          $ref: '#/components/schemas/InstitutionHolding'
      required:
        - oclcNumber
        - title
        - creator
        - date
        - language
        - edition
        - publisher
    BibMatchResult:
      type: object
      properties:
        numberOfRecords:
          type: integer
          format: int32
        briefRecords:
          type: array
          items:
            $ref: '#/components/schemas/BibRecordBrief'
    ItemType:
      description: Filter values for General Format
      type: string
      enum:
        - archv
        - artchapter
        - audiobook
        - book
        - compfile
        - encyc
        - game
        - image
        - intmm
        - jrnl
        - kit
        - map
        - msscr
        - music
        - news
        - object
        - snd
        - toy
        - video
        - vis
        - web
    ItemSubType:
      description: Facet values returned and possible filter Values itemSubType [Admin/OCLCDef/StdRT1 + Admin/OCLCDef/StdRT2]
      type: string
      enum:
        - archv-digital
        - archv-
        - artchap-artcl
        - artchap-chptr
        - artchap-digital
        - artchap-mss
        - audiobook-cd
        - audiobook-cassette
        - audiobook-digital
        - audiobook-lp
        - audiobook-
        - book-printbook
        - book-digital
        - book-mic
        - book-thsis
        - book-mss
        - book-largeprint
        - book-braille
        - book-continuing
        - book-
        - compfile-digital
        - compfile-
        - encyc-
        - game-digital
        - game-
        - image-2d
        - intmm-digital
        - intmm-
        - jrnl-print
        - jrnl-digital
        - kit-
        - map-
        - map-mss
        - map-digital
        - msscr-digital
[...]
