openapi: 3.2.0
info:
  title: Worldcat Bibliographic Resources API
  version: 2.0.0
  description: 'Operations tagged Bibliographic Resources across 2 of this provider''s published API definitions: worldcat-metadata-api.yml, worldcat-search-api.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://metadata.api.oclc.org
  description: PROD
- url: https://americas.discovery.api.oclc.org
  description: PROD
tags:
- name: Bibliographic Resources
paths:
  /worldcat/search/bibs/{oclcNumber}:
    get:
      tags:
      - Bibliographic Resources
      summary: Retrieve specific Bibliographic Resource
      description: Retrieve specific Bibliographic Resource
      operationId: retrieve-bib
      parameters:
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/parameters-oclcNumberAsId'
      responses:
        '200':
          $ref: '#/components/responses/success-single-bib'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                invalid-oclc-number:
                  $ref: '#/components/examples/invalid-oclc-number'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
      - worldcat_metadata_auth:
        - WorldCatMetadataAPI:view_bib
    servers:
    - url: https://metadata.api.oclc.org
      description: PROD
  /worldcat/search/v2/bibs:
    get:
      tags:
      - Bibliographic Resources
      summary: Search Bibliographic Resources
      description: Search Bibliographic Resources. Returns bibliographic data.
      operationId: search-bibs
      parameters:
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/deweyNumber'
      - $ref: '#/components/parameters/datePublished'
      - $ref: '#/components/parameters/heldByGroup'
      - $ref: '#/components/parameters/heldBy'
      - $ref: '#/components/parameters/heldBySymbol'
      - $ref: '#/components/parameters/heldByInstitutionID'
      - $ref: '#/components/parameters/heldByRelevanceGroup'
      - $ref: '#/components/parameters/heldByBranchID'
      - $ref: '#/components/parameters/inLanguage'
      - $ref: '#/components/parameters/inCatalogLanguage'
      - $ref: '#/components/parameters/materialType'
      - $ref: '#/components/parameters/catalogSource'
      - $ref: '#/components/parameters/itemType'
      - $ref: '#/components/parameters/itemSubType'
      - $ref: '#/components/parameters/retentionCommitments'
      - $ref: '#/components/parameters/spProgram'
      - $ref: '#/components/parameters/genre'
      - $ref: '#/components/parameters/topic'
      - $ref: '#/components/parameters/subtopic'
      - $ref: '#/components/parameters/audience'
      - $ref: '#/components/parameters/content'
      - $ref: '#/components/parameters/openAccess'
      - $ref: '#/components/parameters/peerReviewed'
      - $ref: '#/components/parameters/dbIds'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/groupRelatedEditions'
      - $ref: '#/components/parameters/groupVariantRecords'
      - $ref: '#/components/parameters/preferredLanguage'
      - $ref: '#/components/parameters/showLocalBibData'
      - $ref: '#/components/parameters/showHoldingIndicators'
      - $ref: '#/components/parameters/enableSearchExpansion'
      - $ref: '#/components/parameters/lat'
      - $ref: '#/components/parameters/lon'
      - $ref: '#/components/parameters/distance'
      - $ref: '#/components/parameters/unit'
      - $ref: '#/components/parameters/bookReviews'
      - $ref: '#/components/parameters/newsArticles'
      - $ref: '#/components/parameters/orderBy'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/success-bibs-search'
        '206':
          $ref: '#/components/responses/success-bibs-search'
        '400':
          $ref: '#/components/responses/bib_query_error'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
      - worldcat_search_auth:
        - wcapi:view_bib
    servers:
    - url: https://americas.discovery.api.oclc.org
      description: PROD
  /worldcat/search/v2/bibs/{oclcNumber}:
    get:
      tags:
      - Bibliographic Resources
      summary: Retrieve specific Bibliographic Resource
      description: Retrieve specific Bibliographic Resource. Returns detailed bibliographic data.
      operationId: retrieve-bib
      parameters:
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/oclcNumberAsId'
      - $ref: '#/components/parameters/showLocalBibData'
      responses:
        '200':
          $ref: '#/components/responses/success-single-bib'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                invalid-oclc-number:
                  $ref: '#/components/examples/invalid-oclc-number'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
      - worldcat_search_auth:
        - wcapi:view_bib
    servers:
    - url: https://americas.discovery.api.oclc.org
      description: PROD
  /worldcat/search/v2/brief-bibs:
    get:
      tags:
      - Bibliographic Resources
      summary: Search Brief Bibliographic Resources
      description: Search Brief Bibliographic Resources. Returns brief bibliographic data.
      operationId: search-brief-bibs
      parameters:
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/query'
      - $ref: '#/components/parameters/deweyNumber'
      - $ref: '#/components/parameters/datePublished'
      - $ref: '#/components/parameters/heldByGroup'
      - $ref: '#/components/parameters/heldBy'
      - $ref: '#/components/parameters/heldBySymbol'
      - $ref: '#/components/parameters/heldByInstitutionID'
      - $ref: '#/components/parameters/heldByRelevanceGroup'
      - $ref: '#/components/parameters/heldByBranchID'
      - $ref: '#/components/parameters/inLanguage'
      - $ref: '#/components/parameters/inCatalogLanguage'
      - $ref: '#/components/parameters/materialType'
      - $ref: '#/components/parameters/catalogSource'
      - $ref: '#/components/parameters/itemType'
      - $ref: '#/components/parameters/itemSubType'
      - $ref: '#/components/parameters/retentionCommitments'
      - $ref: '#/components/parameters/spProgram'
      - $ref: '#/components/parameters/genre'
      - $ref: '#/components/parameters/topic'
      - $ref: '#/components/parameters/subtopic'
      - $ref: '#/components/parameters/audience'
      - $ref: '#/components/parameters/content'
      - $ref: '#/components/parameters/openAccess'
      - $ref: '#/components/parameters/peerReviewed'
      - $ref: '#/components/parameters/dbIds'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/groupRelatedEditions'
      - $ref: '#/components/parameters/groupVariantRecords'
      - $ref: '#/components/parameters/preferredLanguage'
      - $ref: '#/components/parameters/showHoldingIndicators'
      - $ref: '#/components/parameters/enableSearchExpansion'
      - $ref: '#/components/parameters/lat'
      - $ref: '#/components/parameters/lon'
      - $ref: '#/components/parameters/distance'
      - $ref: '#/components/parameters/unit'
      - $ref: '#/components/parameters/bookReviews'
      - $ref: '#/components/parameters/newsArticles'
      - $ref: '#/components/parameters/orderBy'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/success-brief-bib-search'
        '206':
          $ref: '#/components/responses/success-brief-bib-search'
        '400':
          $ref: '#/components/responses/bib_query_error'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
      - worldcat_search_auth:
        - wcapi:view_brief_bib
    servers:
    - url: https://americas.discovery.api.oclc.org
      description: PROD
  /worldcat/search/v2/brief-bibs/{oclcNumber}:
    get:
      tags:
      - Bibliographic Resources
      summary: Retrieve specific Brief Bibliographic Resource
      description: Retrieve specific Brief Bibliographic Resource. Returns brief bibliographic data.
      operationId: retrieve-brief-bib
      parameters:
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/oclcNumberAsId'
      - $ref: '#/components/parameters/showHoldingIndicators'
      - $ref: '#/components/parameters/lat'
      - $ref: '#/components/parameters/lon'
      responses:
        '200':
          $ref: '#/components/responses/success-single-brief-bib'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                invalid-oclc-number:
                  $ref: '#/components/examples/invalid-oclc-number'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
      - worldcat_search_auth:
        - wcapi:view_brief_bib
    servers:
    - url: https://americas.discovery.api.oclc.org
      description: PROD
  /worldcat/search/v2/brief-bibs/{oclcNumber}/other-editions:
    get:
      tags:
      - Bibliographic Resources
      summary: Retrieve Other Editions related to a particular Bibliographic Resource
      description: Retrieve Other Editions related to a particular Bibliographic Resource
      operationId: retrieve-other-editions
      parameters:
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/oclcNumberAsId'
      - $ref: '#/components/parameters/deweyNumber'
      - $ref: '#/components/parameters/datePublished'
      - $ref: '#/components/parameters/heldByGroup'
      - $ref: '#/components/parameters/heldBy'
      - $ref: '#/components/parameters/heldBySymbol'
      - $ref: '#/components/parameters/heldByInstitutionID'
      - $ref: '#/components/parameters/heldByRelevanceGroup'
      - $ref: '#/components/parameters/heldByBranchID'
      - $ref: '#/components/parameters/inLanguage'
      - $ref: '#/components/parameters/inCatalogLanguage'
      - $ref: '#/components/parameters/materialType'
      - $ref: '#/components/parameters/catalogSource'
      - $ref: '#/components/parameters/itemType'
      - $ref: '#/components/parameters/itemSubType'
      - $ref: '#/components/parameters/retentionCommitments'
      - $ref: '#/components/parameters/spProgram'
      - $ref: '#/components/parameters/genre'
      - $ref: '#/components/parameters/topic'
      - $ref: '#/components/parameters/subtopic'
      - $ref: '#/components/parameters/audience'
      - $ref: '#/components/parameters/content'
      - $ref: '#/components/parameters/openAccess'
      - $ref: '#/components/parameters/peerReviewed'
      - $ref: '#/components/parameters/creator'
      - $ref: '#/components/parameters/facets'
      - $ref: '#/components/parameters/groupVariantRecords'
      - $ref: '#/components/parameters/preferredLanguage'
      - $ref: '#/components/parameters/showHoldingIndicators'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/editionOrderBy'
      responses:
        '200':
          $ref: '#/components/responses/success-other-editions'
        '400':
          description: Invalid query. The request was unacceptable, often due to missing a required parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                invalid-oclc-number:
                  $ref: '#/components/examples/invalid-oclc-number'
        '404':
          $ref: '#/components/responses/failed-not-found'
        '405':
          $ref: '#/components/responses/method-not-supported'
        '406':
          $ref: '#/components/responses/failed-not-acceptable'
        '500':
          $ref: '#/components/responses/internal-server-error'
      security:
      - worldcat_search_auth:
        - wcapi:view_brief_bib
    servers:
    - url: https://americas.discovery.api.oclc.org
      description: PROD
components:
  schemas:
    BibRecord:
      type: object
      properties:
        identifier:
          $ref: '#/components/schemas/Identifier'
        title:
          $ref: '#/components/schemas/Title'
        contributor:
          $ref: '#/components/schemas/Contributor'
        subjects:
          type: array
          items:
            $ref: '#/components/schemas/Subject'
        classification:
          $ref: '#/components/schemas/Classification'
        publishers:
          type: array
          items:
            $ref: '#/components/schemas/Publisher'
        date:
          $ref: '#/components/schemas/DateObject'
        language:
          $ref: '#/components/schemas/Language'
        edition:
          $ref: '#/components/schemas/EditionInfo'
        source:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        note:
          $ref: '#/components/schemas/Note'
        format:
          $ref: '#/components/schemas/Format'
        musicInfo:
          $ref: '#/components/schemas/MusicInfo'
        digitalAccessAndLocations:
          type: array
          items:
            $ref: '#/components/schemas/DigitalAccessAndLocation'
        description:
          $ref: '#/components/schemas/Description'
        related:
          $ref: '#/components/schemas/Related'
        work:
          $ref: '#/components/schemas/Work'
        editionCluster:
          $ref: '#/components/schemas/Edition'
        totalEditions:
          $ref: '#/components/schemas/TotalEditions'
        database:
          $ref: '#/components/schemas/Database'
        localTitle:
          $ref: '#/components/schemas/Title'
        localContributor:
          $ref: '#/components/schemas/Contributor'
        localSubjects:
          type: array
          items:
            $ref: '#/components/schemas/Subject'
        localNote:
          $ref: '#/components/schemas/Note'
        localGenres:
          $ref: '#/components/schemas/Genres'
    ReproductionNotes:
      description: Reproduction Notes [v533]
      type: array
      items:
        $ref: '#/components/schemas/ReproductionNote'
    UseAndReproductionNotes:
      description: Terms Governing Use and Reproduction [v540sa]
      type: array
      items:
        type: string
    Contributor:
      type: object
      properties:
        creators:
          description: Creators of work
          type: array
          items:
            $ref: '#/components/schemas/Creator'
        additionalCreators:
          description: Additional creators of work [(v700,v710,v711,v790,v791,v792,v796,v797,v798) - sa,b,c,d,q,n,k,e,j,4]
          type: array
          items:
            $ref: '#/components/schemas/AdditionalRelationship'
        statementOfResponsibility:
          description: 245 |c
          allOf:
          - $ref: '#/components/schemas/StatementOfResponsibility'
    AdditionalRelationship:
      type: object
      properties:
        relationshipInfo:
          type: string
        titles:
          type: array
          items:
            type: string
        issns:
          $ref: '#/components/schemas/Issns'
        relators:
          type: array
          items:
            $ref: '#/components/schemas/Relator'
        relatedData:
          type: string
        additionalRelationshipInfo:
          type: string
    PublicationPlace:
      description: Publication Place [v260sa v264sa]
      type: string
    ArticleWorkset:
      type: object
      properties:
        databaseCollection:
          type: string
        oclcNumber:
          $ref: '#/components/schemas/OclcNumber'
    GeneralFormat:
      description: General Format Type [Admin/OCLCDef/StdRT]
      type: string
      enum:
      - Archv
      - ArtChapter
      - AudioBook
      - Book
      - CompFile
      - Encyc
      - Game
      - Image
      - IntMM
      - Jrnl
      - Kit
      - Map
      - MsScr
      - Music
      - News
      - Object
      - Snd
      - Toy
      - Video
      - Vis
      - Web
    SeriesTitle:
      type: object
      properties:
        seriesTitle:
          $ref: '#/components/schemas/SeriesName'
        volume:
          description: '[(v490,v810,v830 - sv)]'
          type: string
    DissertationNotes:
      type: array
      items:
        $ref: '#/components/schemas/Dissertation'
    InternationalText:
      type: object
      properties:
        text:
          type: string
        romanizedText:
          type: string
        languageCode:
          type: string
        textDirection:
          type: string
          enum:
          - RTL
          - LTR
    CatalogingLanguage:
      description: Language record was cataloged in [v040sb]
      type: string
    ReproductionNote:
      description: Reproduction Note [v533]
      properties:
        reproductionType:
          description: sa
          type: string
        reproductionPlace:
          description: sb
          type: array
          items:
            type: string
        agency:
          description: sc
          type: array
          items:
            type: string
        date:
          description: sd
          type: string
        physicalDescription:
          description: se
          type: string
        seriesStatement:
          description: sf
          type: array
          items:
            type: string
        datesIssuesReproduced:
          description: sm
          type: array
          items:
            type: string
        note:
          description: sn
          type: array
          items:
            type: string
        materialSpecified:
          description: s3
          type: string
        institution:
          description: s5
          type: string
    GeneralNotes:
      description: General Notes [v500sa, v501sa, v590sa,s3, (v59x sa-z)]
      type: array
      items:
        $ref: '#/components/schemas/LocalizableText'
    PhysicalDescription:
      description: Physical Description [v300sa,b,c,d,e,f,g,3]
      type: string
    Database:
      type: object
      properties:
        source:
          description: Source Collection [Admin/SourceCol]
          type: string
        collection:
          description: Db Collection [root collection attribute]
          type: string
    StandardIdentifier:
      type: object
      properties:
        type:
          type: string
        id:
          type: string
    MaterialsSpecified:
      description: Materials specified |3
      type: string
    FormOfWorks:
      description: Form of Work [v380sa]
      type: array
      items:
        type: string
    Publisher:
      description: Publisher Information [v260sa,b v264sa,b v880sa,b]
      type: object
      properties:
        publisherName:
          $ref: '#/components/schemas/PublisherName'
        publicationPlace:
          $ref: '#/components/schemas/PublicationPlace'
    GpoNumber:
      description: GPO Item number [v074sa]
      type: array
      items:
        type: string
    PeerReviewed:
      description: Is this a peer reviewed work [Admin/OCLCDef/PR]
      type: string
      enum:
      - Y
      - N
    Dissertation:
      description: Disseration notes [v502sa,b,c,d,g,o]
      type: object
      properties:
        disserationNote:
          type: string
        type:
          type: string
        institution:
          type: string
        year:
          type: string
        id:
          type: string
        miscellaneousInfo:
          type: string
    ItemLanguage:
      description: Language of the item [v041sa,j]
      type: string
    LinkPublicNote:
      description: A note pertaining to the electronic location of the source identified in the field |z
      type: array
      items:
        type: string
    Work:
      type: object
      properties:
        id:
          description: Id of the workset [Admin/Work/ID]
          type: string
        count:
          description: Number of items in Workset [Admin/Work/Count]
          type: integer
          format: int32
        articleCluster:
          description: Items in Article Workset [WorkSet/NO]
          type: array
          items:
            $ref: '#/components/schemas/ArticleWorkset'
    Identifier:
      type: object
      properties:
        oclcNumber:
          description: OCLC Number [Admin/BaseOCLCNo || Admin/OCLCNo || C001]
          $ref: '#/components/schemas/OclcNumber'
        lccn:
          description: Library of Congress Control Number [v010sa]
          type: string
        isbns:
          $ref: '#/components/schemas/Isbns'
        issns:
          $ref: '#/components/schemas/Issns'
        externalIdentifiers:
          description: External System Control Number [v029sa,b,c,t]
          type: array
          items:
            $ref: '#/components/schemas/ExternalIdentifier'
        otherStandardIdentifiers:
          description: Other Standard Identifier [v024sa]
          type: array
          items:
            $ref: '#/components/schemas/StandardIdentifier'
        dois:
          description: Digital Object Identifier [v901sb v024sa]
          type: array
          items:
            type: string
        mergedOclcNumbers:
          $ref: '#/components/schemas/MergedOclcNumbers'
        gpoNumber:
          $ref: '#/components/schemas/GpoNumber'
    Format:
      type: object
      properties:
        generalFormat:
          $ref: '#/components/schemas/GeneralFormat'
        specificFormat:
          $ref: '#/components/schemas/SpecificFormat'
        materialTypes:
          $ref: '#/components/schemas/MaterialTypes'
    IsPrimaryCreator:
      description: whether or not this contributor is the primary one (the 1xx)
      type: boolean
    OclcNumber:
      description: the oclc number of a given bibliographic record
      type: integer
      format: int64
    CastNotes:
      description: Cast Notes [v511sa]
      type: array
      items:
        type: string
    AudienceNote:
      description: Target Audience Note [v521sa]
      type: string
    IssuedWithEntry:
      type: object
      properties:
        displayConstant:
          type: string
        titles:
          type: array
          items:
            type: string
        recordControlOclcNumbers:
          type: array
          items:
            type: string
        issns:
          $ref: '#/components/schemas/Issns'
        isbns:
          $ref: '#/components/schemas/Isbns'
        mainEntryHeadings:
          type: array
          items:
            type: string
        relatedParts:
          type: array
          items:
            type: string
        uniformTitle:
          type: string
    ExternalIdentifier:
      type: object
      properties:
        oclcSymbol:
          type: string
        systemControlNumber:
          type: string
        oaiSetName:
          type: string
        contentTypeId:
          type: string
    Creator:
      description: '[v100sa,q,b,c,d,e,4,k v110sa,q,b,c,d,e,4,k,n v111sa,q,c,d,e,j,k,n v700sa,q,b,c,d,e,4,k v710sa,q,b,c,d,e,4,k,n v720sa v711 sa,q,c,d,e,j,k,n v790sa,q,c,d,e,j,k,n v791sa,q,b,c,d,e,4,k v792sa,b,q,c, d,e,j,k,n v796 sa,q,b,c,d,e,4,k v797sa,q,b,c,d,e,4,k,n v798sa,b,q,c, d,e,j,k,n]'
      type: object
      properties:
        firstName:
          $ref: '#/components/schemas/InternationalText'
        secondName:
          $ref: '#/components/schemas/InternationalText'
        nonPersonName:
          $ref: '#/components/schemas/InternationalText'
        type:
          type: string
        creatorNotes:
          description: subfield d
          type: array
          items:
            type: string
        relators:
          description: subfield e
          type: array
          items:
            $ref: '#/components/schemas/Relator'
        affiliation:
          description: subfield u
          type: string
        isPrimary:
          $ref: '#/components/schemas/IsPrimaryCreator'
        relatedItem:
          $ref: '#/components/schemas/RelatedItem'
    Issn:
      description: International Standard Serial Number [v022sal v700,v710,v711,v773,v776,v777,v780,v785 - sx]
      type: string
    Description:
      type: object
      properties:
        physicalDescription:
          $ref: '#/components/schemas/PhysicalDescription'
        digitalGraphicRepresentation:
          description: Digital Graphic Representation [v352sa,b,c,i,q]
          type: string
        genres:
          $ref: '#/components/schemas/Genres'
        cartographicData:
          $ref: '#/components/schemas/CartographicData'
        computerFilesCharacteristics:
          description: Computer File Characteristics [v256sa]
          type: array
          items:
            type: string
        formOfWorks:
          $ref: '#/components/schemas/FormOfWorks'
        abstracts:
          description: Abstract [v520sa,b,c]
          type: array
          items:
            $ref: '#/components/schemas/InternationalText'
        summaries:
          description: Summary [v520sa,b,c]
          type: array
          items:
            $ref: '#/components/schemas/InternationalText'
        contents:
          type: array
          items:
            $ref: '#/components/schemas/Content'
        bibliographies:
          description: Bibliography [v504sa]
          type: array
          items:
            $ref: '#/components/schemas/InternationalText'
        peerReviewed:
          $ref: '#/components/schemas/PeerReviewed'
    SpecificFormat:
      description: Specific Format Type [Admin/OCLCDef/StdRT2]
      type: string
      enum:
      - 2D
      - Artcl
      - Bluray
      - Braille
      - Cassette
      - CD
      - Chptr
      - Continuing
      - Digital
      - DVD
      - Encyc
      - Film
      - LargePrint
      - LP
      - Mic
      - mss
      - PrintBook
      - rec
      - Thsis
      - VHS
    DateObject:
      type: object
      properties:
        publicationDate:
          description: Date of Publication [v260sc || c008(bytes 07-14) || v264sc || v362sa]
          type: string
        publicationSequentialDesignationDate:
          description: Chronological issue designations [v362sa]
          type: string
        currentPublicationFrequency:
          description: Frequency of Publication [v310sa]
          type: string
        createDate:
          description: Date Record was Created [Admin/CreateDate]
          type: string
        replaceDate:
          description: Date Record was last Updated [Admin/ReplacedDate]
          type: string
    CartographicData:
      description: Cartographic Mathematical Data [v255sa,b,c]
      type: array
      items:
        type: string
    Edition:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/EditionIdentifier'
        count:
          description: Number of items in edition cluster
          type: integer
          format: int32
    Relator:
      type: object
      properties:
        term:
          type: string
        alternateTerm:
          type: string
    Classification:
      type: object
      properties:
        dewey:
          description: Dewey Decimal Classification Number [v082sa,b]
          type: string
        lc:
          description: Library of Congress Call Number [v050sa,b]
          type: string
        nlm:
          description: National Library of Medicine Call Number [v060sa,b]
          type: string
        govDoc:
          $ref: '#/components/schemas/GovDocClassificationNumber'
    LinkText:
      description: Text associated with a link |y
      type: array
      items:
        type: string
    Language:
      type: object
      properties:
        itemLanguage:
          $ref: '#/components/schemas/ItemLanguage'
        catalogingLanguage:
          $ref: '#/components/schemas/CatalogingLanguage'
    Subject:
      type: object
      description: Subjects [v600sa,b,c,d,n,v,x,y,z,e,j,4 v610sa,b,n,v,x,y,z,e,j,4 v611sa,c,d,n,v,x,y,z,e,j,4 v630sa,d,e,f,k,l,m,n,o,d,p,r,s,v,x,y,z,e,j,4 v650sa,b,x,y,z,v,e,j,4 v651sa,x,y,z,v,e,j,4 v655sa,b,c,v,x,y,z,e,j,4 v648sa,v,w,x,y,z,e,j,4 v653sa,e,j,4 v656sa,k,v,x,y,z,3,e,j,4 v657sa,v,x,y,z,3,e,j,4 (v690,v691,v695,v696,v697,v698,v699 sa,b,c,d,e,f,k,l,m,n,o,p,r,s,v,x,y,z,e,j,4)]
      properties:
        subjectName:
          $ref: '#/components/schemas/InternationalText'
        vocabulary:
          type: string
          description: subject authority vocabularies (MESH, FAST, LCSH, RVM)
        relators:
          type: array
          items:
            $ref: '#/components/schemas/Relator'
        subjectType:
          type: string
        uri:
          type: string
          description: URI [6xx s1]
    MainTitles:
      description: Main Titles [v245sa,b,c,f,g,k,n,p,s]
      type: array
      items:
        $ref: '#/components/schemas/InternationalText'
    Content:
      description: Formatted Contents Note [v505sa,t,r,g,u]
      type: object
      properties:
        contentNote:
          $ref: '#/components/schemas/InternationalText'
        titles:
          type: array
          items:
            type: string
        miscellaneousInfo:
          type: array
          items:
            type: string
        statementsOfResponsibility:
          type: array
          items:
            type: string
        uris:
          type: array
          items:
            type: string
    Note:
      type: object
      properties:
        generalNotes:
          $ref: '#/components/schemas/GeneralNotes'
        audienceNote:
          $ref: '#/components/schemas/AudienceNote'
        dissertationNotes:
          $ref: '#/components/schemas/DissertationNotes'
        castNotes:
          $ref: '#/components/schemas/CastNotes'
        performerNotes:
          $ref: '#/components/schemas/PerformerNotes'
        participantNote:
          description: Participants Notes [v511sa]
          type: string
        eventNotes:
          $ref: '#/components/schemas/EventNotes'
        creditNotes:
          $ref: '#/components/schemas/CreditNotes'
        scaleNotes:
          description: Scale Note for Graphic Material [v507sa,b]
          type: array
          items:
            type: string
        reproductionNotes:
          $ref: '#/components/schemas/ReproductionNotes'
        useAndReproductionNotes:
          $ref: '#/components/schemas/UseAndReproductionNotes'
        useownershipAndCustodialHistories:
          description: Ownership and Custodial History [v561sa,3,5,u]
          type: array
          items:
            type: string
        systemDetailNote:
          description: System Details Note [v538sa,u,i]
          type: string
        awardNote:
          description: Awards Note [v586sa]
          type: string
        languageNotes:
          $ref: '#/components/schemas/LanguageNotes'
    Instrumentation:
      description: Instrumentation [v382sa,b,d,e,n,p,r,s,t,v]
      type: object
      properties:
        mediumOfPerformance:
          $ref: '#/components/schemas/MediumOfPerformance'
        soloists:
          type: array
          items:
            type: string
        doublingInstruments:
          type: array
          items:
            type: string
        numberOfEnsemblesOfSameTypes:
          type: array
          items:
            type: string
        numberOfPerformersOfSameMediums:
          type: array
          items:
            type: string
        alternativeMediumOfPerformances:
          type: array
          items:
            type: string
        numberOfIndividualsPerforming:
          type: string
        numberOfPerformers:
          type: string
        numberOfEnsembles:
          type: string
    LocalizableText:
      type: object
      properties:
        text:
          type: string
        private:
          description: 1st indicator of 590
          type: boolean
          default: false
    Isbns:
      description: International Standard Book Number [v020sa]
      type: array
      items:
        type: string
    Title:
      type: object
      properties:
        mainTitles:
          $ref: '#/components/schemas/MainTitles'
        seriesTitles:
          description: Series Titles [(v490,v810,v830 - sa,v)]
          type: array
          items:
            $ref: '#/components/schemas/SeriesTitle'
        uniformTitles:
          description: Uniform Titles [(v130,v730,v793,v799 - sa,d,f,g,k,l,m,n,o,p,r,s,t) && v240sa,d,f,g,k,l,m,n,o,p,r,s]
          type: array
          items:
            type: string
        additionalTitles:
          $ref: '#/components/schemas/AdditionalTitles'
    LanguageNotes:
      description: language note [v546sa]
      type: array
      items:
        type: string
    EventNotes:
      type: array
      items:
        $ref: '#/components/schemas/Event'
    ProblemType:
      description: A URI reference [RFC3986] that identifies the problem type.
      type: string
      format: uri
      enum:
      - https://developer.api.oclc.org/errors/NOT_ACCEPTABLE
      - https://developer.api.oclc.org/errors/NOT_ALLOWED
      - https://developer.api.oclc.org/errors/INTERAL_SERVER_ERROR
      - https://developer.api.oclc.org/errors/BAD_REQUEST
      - https://developer.api.oclc.org/errors/NOT_FOUND
      - https://developer.api.oclc.org/errors/NOT_ELIGIBLE
      - https://developer.api.oclc.org/errors/MISSING_QUERY_PARAMETER
      - https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETERS
      - https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_VALUE
      - https://developer.api.oclc.org/errors/INVALID_QUERY_PARAMETER_NAME
      - https://developer.api.oclc.org/errors/SYNTAX_ERROR
      - https://developer.api.oclc.org/errors/INVALID_DOCUMENT
      - https://developer.api.oclc.org/errors/MISSING_ELEMENT
      - https://developer.api.oclc.org/errors/INVALID_ELEMENT_VALUE
    StatementOfResponsibility:
      allOf:
      - $ref: '#/components/schemas/InternationalText'
    MaterialTypes:
      description: Material Types [Admin/OCLCDef/MT[@form='gen']]
      type: array
      items:
        type: string
    Event:
      description: Notes about event [v518sa,d,o,p,3]
      type: object
      properties:
        compositeNote:
          type: string
        eventDate:
          type: string
        eventPlace:
          type: string
        eventInfo:
          type: string
        material:
          type: string
    GovDocClassificationNumber:
      description: Government Doc number [v086sa]
      type: array
      items:
        type: string
    Issns:
      description: International Standard Serial Numbers
      type: array
      items:
        $ref: '#/components/schemas/Issn'
    EditionStatement:
      description: Edition Statement [v250sa]
      type: string
    RelatedItem:
      type: object
      properties:
        typeOfRelationship:
          type: string
        relatedItemTitle:
          type: string
        relationshipInfo:
          type: array
          items:
            type: string
        relatedParts:
          type: array
          items:
            type: string
        mainEntryHeading:
          type: string
        edition:
          $ref: '#/components/schemas/EditionStatement'
        qualifyingInfo:
          type: string
        publicationInfo:
          type: string
        physicalDescription:
          type: string
        seriesData:
          type: array
          items:
            type: string
        materialSpecificDetail:
          type: string
        relatedItemNotes:
          type: array
          items:
            type: string
        otherItemIdentifiers:
          type: array
          items:
            type: string
        reportNumbers:
          type: array
          items:
            type: string
        uniformTitle:
          type: string
        standardTechReportNumber:
          type: string
        recordControlNumbers:
          type: array
          items:
            type: string
        issns:
          $ref: '#/components/schemas/Issns'
        coden:
          type: string
        isbns:
          $ref: '#/components/schemas/Isbns'
    SeriesName:
      description: '[(v490,v810,v830 - sa)]'
      type: string
    MergedOclcNumbers:
      description: Merged OCLC numbers [v019sa]
      type: array
      items:
        type: string
    Genres:
      description: Genre of work [v655sa,b,v,x,y,z v380sa, (v600,v610,v611,v630,v648, v650,v651,v654 sv) v653sa]
      type: array
      items:
        type: string
    EditionInfo:
      type: object
      properties:
        statement:
          $ref: '#/components/schemas/EditionStatement'
    Related:
      description: Related [v787] Preceeding [v780] Succeeding [v785] (sa,b,c,d,g,h,i,k,m,n,o,r,s,t,u,w,x,y,z)
      type: object
      properties:
        relatedItems:
          type: array
          items:
            $ref: '#/components/schemas/RelatedItem'
        precedingEntries:
          type: array
          items:
            $ref: '#/components/schemas/RelatedItem'
        succeedingEntries:
          type: array
          items:
            $ref: '#/components/schemas/RelatedItem'
        issuedWithEntries:
          description: '[v777]'
          type: array
          items:
            $ref: '#/components/schemas/IssuedWithEntry'
        additionalPhysicalFormEntries:
          type: array
          items:
            $ref: '#/components/schemas/IssuedWithEntry'
    CreditNotes:
      description: Production Credits Notes [v508sa]
      type: string
    AdditionalTitles:
      description: Added Entry Uniform Titles [v730sa,d,f,g,k,l,m,n,o,p,r,s,i,t,x]
      type: array
      items:
        $ref: '#/components/schemas/AdditionalRelationship'
    PerformerNotes:
      description: Performers Notes [v511sa]
      type: array
      items:
        type: string
    DigitalAccessAndLocation:
      type: object
      required:
      - uri
      properties:
        uri:
          description: URI of resource [v856su]
          type: string
        materialSpecified:
          $ref: '#/components/schemas/MaterialsSpecified'
        instructions:
          description: Instruction [v856si]
          type: array
          items:
            type: string
        linkText:
          $ref: '#/components/schemas/LinkText'
        nonPublicNote:
          description: Nonpublic note [v856sx]
          type: string
        publicNote:
          $ref: '#/components/schemas/LinkPublicNote'
        accessMethod:
          description: Access method [v856s2]
          type: string
        accessStatus:
          description: Access method [v856s7]
          type: string
        relationship:
          $ref: '#/components/schemas/LinkRelationship'
    EditionIdentifier:
      description: An id associated with a particular edition cluster [Admin/Edition/ID]
      type: string
    MusicInfo:
      type: object
      properties:
        instrumentations:
          type: array
          items:
            $ref: '#/components/schemas/Instrumentation'
        musicalKey:
          description: Musical Key [v384sa]
          type: string
        instrumentsCodes:
          description: Musical Instruments [v048sa,b]
          type: array
          items:
            type: string
        numericDesignation:
          description: Numeric Designation of Musical Work [v383sa,b,c]
          type: string
        musicalPresentationStatement:
          description: Musical Presentation Statement [v254sa]
          type: string
    MediumOfPerformance:
      type: array
      items:
        type: string
    LinkRelationship:
      description: Relationship to the item described in the record as a whole [v856 second indicator]
      type: string
      enum:
      - unknown
      - resource
      - version of resource
      - related resource
    PublisherName:
      description: Publisher Name [v260sb v264sb v880b]
      allOf:
      - $ref: '#/components/schemas/InternationalText'
    Problem:
      type: object
      description: RFC 7807 description of an error.
      properties:
        type:
          $ref: '#/components/schemas/ProblemType'
        title:
          description: A short, human-readable summary of the problem type.
          type: string
        instance:
          description: A URI reference that identifies the specific occurrence of the problem.
          type: string
          format: uri
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.,
          type: string
        invalidParams:
          description: An array of validation errors.
          type: array
          items:
            description: The validation error descriptor.
            type: object
            properties:
              path:
                type: string
              name:
                type: string
              reason:
                type: string
    TotalEditions:
      description: Total number of editions in the workgroup
      type: integer
      format: int32
    SimpleSource:
      type: object
      properties:
        relatedParts:
          description: Related Parts [v773sg]
          type: array
          items:
            type: string
        sourceTitle:
          description: Source Title [v799st v773st]
          type: string
        sourceIssn:
          description: Source ISSN [v773sx]
          type: string
        sourceIsbns:
          description: Source ISBNs [v799sz]
          type: array
          items:
            type: string
        sourceAuthor:
          description: Source Author [v799sa]
          type: string
        publicationInformation:
          description: Publication Information [v773sd]
          type: string
        volumes:
          description: Volumes [v799sm v949sa]
          type: array
          items:
            type: string
        issues:
          description: Issues [v799sp v949sb]
          type: array
          items:
            type: string
        pageRanges:
          description: Page Range [v949sc]
          type: array
          items:
            type: string
    Source:
      type: object
      allOf:
      - $ref: '#/components/schemas/SimpleSource'
      properties:
        supplements:
          description: Supplements [v949sd]
          type: array
          items:
            type: string
        firstPages:
          description: First Page [v949sf]
          type: array
          items:
            type: string
        issueDates:
          description: Issue Dates [v949se]
          type: array
          items:
            type: string
        mainEntry:
          description: Main Entry [v773sa]
          type: string
        otherPublicationData:
          description: Other Publication Data [v799sa,d,g,o]
          type: array
          items:
            type: string
    HoldingDetail:
      type: object
      properties:
        lhrControlNumber:
          description: LHR Control Number [LHR -> HldDetRec/c001]
          type: string
        lhrDateEntered:
          description: LHR Date Entered [LHR -> HldDetRec/Admin/CreateDate]
          type: string
        lhrLastUpdated:
          description: LHR Date Last Used [LHR -> HldDetRec/Admin/ReplacedDate]
          type: string
        oclcNumber:
          description: OCLC Number [LHR -> HldDetRec/c004]
          type: string
        format:
          description: material format [LHR -> HldDetRec/c007]
          type: string
        location:
          $ref: '#/components/schemas/HoldingLocation'
        copyNumber:
          description: copy number [LHR -> HldDetRec/v852st]
          type: string
        callNumber:
          $ref: '#/components/schemas/CallNumber'
        lendingPolicy:
          description: local lending policy [LHR -> HldDetRec/Admin/Lend]
          type: string
        hasSharedPrintCommitment:
          $ref: '#/components/schemas/HasSharedPrintCommitment'
        sharedPrintCommitments:
          description: shared print details [LHR -> HldDetRec/v583]
          type: array
          items:
            $ref: '#/components/schemas/SharedPrintCommitment'
        summary:
          description: summary statement [LHR -> HldSummRec/v966sa]
          type: string
        holdingParts:
          description: Textual Holding [LHR -> HldDetRec/v866,v867,v868] Item Information Holding [LHR -> HldDetRec/v876,v877,v878] Enumeration Chronology Holding [LHR -> HldDetRec/v863,v864,v865]
          type: array
          items:
            $ref: '#/components/schemas/HoldingPart'
      required:
      - lhrControlNumber
      - lhrDateEntered
      - lhrLastUpdated
      - oclcNumber
      - format
      - lendingPolicy
      - hasSharedPrintCommitment
    SubFacetValue:
      type: object
      properties:
        value:
          type: string
        count:
          type: integer
          format: int32
    RegistryId:
      description: The identifier in the WorldCat Registry for the institution
      type: integer
    HoldingLocation:
      description: Local holding location [LHR -> v852sa,b,c]
      type: object
      properties:
        holdingLocation:
          description: Institution Symbol [LHR -> v852sa]
          type: string
        sublocationCollection:
          $ref: '#/components/schemas/SublocationCollection'
        shelvingLocation:
          $ref: '#/components/schemas/ShelvingLocation'
    Unit:
      description: The unit of measure is either (M) for miles or (K) for kilometers
      enum:
      - M
      - K
      type: string
      default: M
    SharedPrintCommitment:
      type: object
      properties:
        actionNote:
          description: Action Note [LHR -> HldDetRec/v583sa]
          type: string
        materialsSpecified:
          description: Materials Sepcified [LHR -> HldDetRec/v583s3]
          type: string
        institution:
          description: Institution to which applies [LHR -> HldDetRec/v583s5]
          type: string
        dateOfAction:
          description: date of action [LHR -> HldDetRec/v583sc]
          type: string
        commitmentExpirationDate:
          description: commitment expiration date [LHR -> HldDetRec/v583sd]
          type: string
        authorization:
          description: Authorization [LHR -> HldDetRec/v583sf]
          type: string
        methodOfAction:
          description: Method of Action [LHR -> HldDetRec/v583si]
          type: string
        siteOfAction:
          description: Site of Action [LHR -> HldDetRec/v583sj]
          type: string
        status:
          description: Status [LHR -> HldDetRec/v583sl]
          type: string
        uri:
          description: URI [LHR -> HldDetRec/v583su]
          type: string
        publicNote:
          description: Public Note [LHR -> HldDetRec/v583sz]
          type: string
    ItemType:
      description: Filter values for General Format
      type: string
      enum:
      - archv
      - artchapter
      - audiobook
      - book
      - compfile
      - encyc
      - game
      - image
      - intmm
      - jrnl
      - kit
      - map
      - msscr
      - music
      - news
      - object
      - snd
      - toy
      - video
      - vis
      - web
    HoldingBrief:
      type: object
      properties:
        country:
          description: Country of holding institution [Holdings/Library/Country]
          type: string
        state:
          description: State of holding institution [Holdings/Library/State]
          type: string
        oclcSymbol:
          description: Oclc Symbol of holding institution [Holdings/Library/InstSym]
          type: string
        registryId:
          $ref: '#/components/schemas/RegistryId'
        institutionName:
          description: Name of holding institution [Holdings/Library/InstName]
          type: string
        alsoCalled:
          description: Some name the library might also be called
          type: string
        address:
          $ref: '#/components/schemas/Address'
        institutionType:
          $ref: '#/components/schemas/InstitutionType'
        hasOPACLink:
          description: Whether or not the library has an OPAC deep links
          type: boolean
        distance:
          description: Distance from location if lat/log was specified
          type: string
        self:
          description: URI to find more info about the institution
          type: string
          format: uri
        illStatus:
          description: ILL status [Holdings/Library/ILLStatus]
          type: string
        illGroup:
          description: ILL group [Holdings/Library/ILLGroup]
          type: string
        hasSharedPrintCommitment:
          description: institution has shared print commitment [Holdings/LibHasSharedPrint]
          type: string
          enum:
          - Y
          - N
    BibResultSet:
      type: object
      properties:
        numberOfRecords:
          type: integer
          format: int32
        bibRecords:
          type: array
          items:
            $ref: '#/components/schemas/BibRecord'
        searchFacets:
          type: array
          items:
            $ref: '#/components/schemas/SearchFacet'
    InstitutionHolding:
      type: object
      properties:
        totalHoldingCount:
          description: Number of holdings for this item [Holdings/TotalLibCount || FRBRHoldings/B]
          type: integer
          format: int32
        totalWorksHoldingCount:
          description: Number of holdings in the workset [FRBRHoldings/B]
          type: integer
          format: int32
        totalEditions:
          $ref: '#/components/schemas/TotalEditions'
      oneOf:
      - $ref: '#/components/schemas/briefHoldings'
      - $ref: '#/components/schemas/detailedHoldings'
    Address:
      type: object
      properties:
        street1:
          description: Name of street
          type: string
        street2:
          description: Name of street 2
          type: string
        city:
          description: Name of city
          type: string
        state:
          $ref: '#/components/schemas/State'
        postalCode:
          $ref: '#/components/schemas/PostalCode'
        country:
          $ref: '#/components/schemas/Country'
        lat:
          $ref: '#/components/schemas/Latitude'
        lon:
          $ref: '#/components/schemas/Longitude'
    SubFacet:
      type: object
      properties:
        index:
          type: string
        facetType:
          type: string
        values:
          type: array
          items:
            $ref: '#/components/schemas/SubFacetValue'
    TextualHoldingsStatement:
      description: '[866-8 |a]'
      type: string
    CreatorString:
      description: List of creators as single string
      type: string
    SummaryOfHoldings:
      description: Summary of Holdings [https://www.loc.gov/marc/holdings/echdcntf.html]
      type: string
    CallNumber:
      description: Local call number [LHR -> v852sh,i,j,k,l,m]
      type: object
      properties:
        displayCallNumber:
          $ref: '#/components/schemas/DisplayCallNumber'
        classificationPart:
          description: LHR -> v852sh
          type: string
        itemParts:
          description: LHR -> v852si
          type: array
          items:
            type: string
        shelvingControlNumber:
          description: LHR -> v852sj
          type: string
        prefixes:
          description: LHR -> v852sk
          type: array
          items:
            type: string
        shelvingForm:
          description: LHR -> v852sl
          type: string
        suffixes:
          description: LHR -> v852sm
          type: array
          items:
            type: string
        shelvingScheme:
          description: Shelving scheme based on 852 field 1st indicator [LHR -> v852 ind1]
          type: string
          enum:
          - Library of Congress classification
          - Dewey Decimal classification
          - National Library of Medicine classification
          - Superintendent of Documents classification
          - Shelving control number
          - Title
          - Shelved separately
          - Other scheme
        privateNotes:
          description: Private notes from 852$x field [LHR -> v852sx]
          type: array
          items:
            type: string
    HoldingRange:
      type: object
      properties:
        from:
          type: string
        to:
          type: string
    FacetValue:
      type: object
      properties:
        value:
          type: string
        count:
          type: integer
          format: int32
        subFacet:
          $ref: '#/components/schemas/SubFacet'
        subFacetItemBrief:
          $ref: '#/components/schemas/SubFacet'
    PieceDesignation:
      description: Piece Designation [852/863-865/866-868/876-878 |p]
      type: string
    SimpleTitle:
      description: Linked [v880sa,b] if present or [v245sa,b]
      type: string
    HoldingPart:
      type: object
      properties:
        linkingAndSequenceNumber:
          description: Field link and sequence number [852/863-865/866-868/876-878 | s8]
          type: string
        summaryOfHoldings:
          $ref: '#/components/schemas/SummaryOfHoldings'
        enumerations:
          description: Enumerations [853-855/863-865 |a-h]
          type: array
          items:
            $ref: '#/components/schemas/CaptionValuePair'
        chronologies:
          description: Chronologies [853-855/863-865 |i-v]
          type: array
          items:
            $ref: '#/components/schemas/CaptionValuePair'
        textualHoldings:
          $ref: '#/components/schemas/TextualHoldingsStatement'
        itemMaterialSpecified:
          $ref: '#/components/schemas/MaterialSpecified'
        pieceDesignation:
          $ref: '#/components/schemas/PieceDesignation'
        cancelledPieceDesignations:
          description: Cancelled Piece Designation [876-878 |r]
          type: array
          items:
            type: string
        temporaryLocation:
          $ref: '#/components/schemas/TemporaryLocation'
        publicNotes:
          description: Public notes [852/863-865/866-868/876-878 |z]
          type: array
          items:
            type: string
        yearRanges:
          description: Year as Range [si]
          type: array
          items:
            $ref: '#/components/schemas/HoldingRange'
        volumeRanges:
          description: Volume Number As Range [sb]
          type: array
          items:
            $ref: '#/components/schemas/HoldingRange'
        itemType:
          description: Category of holding based on MARC field patterns [LHR -> v853,v863,v866,v876 for basic; v854,v864,v867,v877 for supplementary; v855,v865,v868,v878 for index]
          type: string
          enum:
          - basic
          - supplementary
          - index
        privateNotes:
          description: Private notes from 87X$x field [LHR -> v87Xsx]
          type: array
          items:
            type: string
    CatalogingInfo:
      type: object
      properties:
        catalogingAgency:
          description: Cataloging Agency [v040/sa]
          type: string
        transcribingAgency:
          description: Transcribing Agency [v040/sc]
          type: string
        catalogingLanguage:
          $ref: '#/components/schemas/CatalogingLanguage'
        levelOfCataloging:
          description: Level of cataloging [LDR position 5]
          type: string
    HasSharedPrintCommitment:
      description: institution has shared print commitment [Holdings/LibHasSharedPrint || LHR -> HldDetRec/Admin/SPReg]
      type: string
      enum:
      - Y
      - N
    BibRecordBrief:
      type: object
      properties:
        oclcNumber:
          $ref: '#/components/schemas/OclcNumber'
        title:
          $ref: '#/components/schemas/SimpleTitle'
        creator:
          $ref: '#/components/schemas/CreatorString'
        date:
          $ref: '#/components/schemas/Date'
        language:
          $ref: '#/components/schemas/ItemLanguage'
        generalFormat:
          $ref: '#/components/schemas/GeneralFormat'
        specificFormat:
          $ref: '#/components/schemas/SpecificFormat'
        edition:
          $ref: '#/components/schemas/EditionStatement'
        publisher:
          type: string
        isbns:
          $ref: '#/components/schemas/Isbns'
        issns:
          $ref: '#/components/schemas/Issns'
        mergedOclcNumbers:
          $ref: '#/components/schemas/MergedOclcNumbers'
        catalogingInfo:
          $ref: '#/components/schemas/CatalogingInfo'
        institutionHolding:
          $ref: '#/components/schemas/InstitutionHolding'
      required:
      - oclcNumber
      - title
      - creator
      - date
      - language
      - edition
      - publisher
    ShelvingLocation:
      description: Shelving location [LHR -> v852sc]
      type: string
    Date:
      description: machine readable date 008
      type: string
    MaterialSpecified:
      description: '[876-8 |3]'
      type: string
    Country:
      description: Two-character Country Code, per ISO 3166.
      type: string
    detailedHoldings:
      type: array
      items:
        $ref: '#/components/schemas/HoldingDetail'
    CaptionValuePair:
      description: The caption and value pair for a caption describing a numeric, alphabetic, and/or date designation for an item. The caption is defined as an attribute on the element and the value for the caption is defined by the element contents.
      type: object
      properties:
        caption:
          type: string
        value:
          type: string
    InstitutionType:
      description: The type of institution
      enum:
      - ACADEMIC
      - PUBLIC
      - REGIONAL_OR_NATIONAL
      - OTHER
      - CORPORATE_SPECIAL_LIBRARY
      - HEALTH
      - MUSEUM_OR_ARCHIVES
      - LAW
      - MUSIC
      - LIBRARY_NETWORK_GROUP
      type: string
    Latitude:
      description: Latitude
      type: number
      format: double
      example: 37.502508
    TemporaryLocation:
      description: Temporary location [876-878 |l]
      type: string
    OCLCSymbol:
      description: institution OCLC Symbol. Special characters need to be encoded properly.
      type: string
      minLength: 3
      maxLength: 8
      pattern: ^[a-zA-Z0-9@*&#%+$/]{1,}$
    DisplayCallNumber:
      description: Display call Number [LHR -> v852 |k,h,i,m / |j/ |l]
      type: string
    Longitude:
      description: Longitude
      type: number
      format: double
      example: -122.22702
    SublocationCollection:
      description: Sublocation or collection [LHR -> v852sb]
      type: string
    BibBriefResultSet:
      type: object
      properties:
        numberOfRecords:
          type: integer
          format: int32
        briefRecords:
          type: array
          items:
            $ref: '#/components/schemas/BibRecordBrief'
        searchFacets:
          type: array
          items:
            $ref: '#/components/schemas/SearchFacet'
    ItemSubType:
      description: Facet values returned and possible filter Values itemSubType [Admin/OCLCDef/StdRT1 + Admin/OCLCDef/StdRT2]
      type: string
      enum:
      - archv-digital
      - archv-
      - artchap-artcl
      - artchap-chptr
      - artchap-digital
      - artchap-mss
      - audiobook-cd
      - audiobook-cassette
      - audiobook-digital
      - audiobook-lp
      - audiobook-
      - book-printbook
      - book-digital
      - book-mic
      - book-thsis
      - book-mss
      - book-largeprint
      - book-braille
      - book-continuing
      - book-
      - compfile-digital
      - compfile-
      - encyc-
      - game-digital
      - game-
      - image-2d
      - intmm-digital
      - intmm-
      - jrnl-print
      - jrnl-digital
      - kit-
      - map-
      - map-mss
      - map-digital
      - msscr-digital
      - msscr-mss
      - msscr-
      - music-cd
      - music-lp
      - music-digital
      - music-cassette
      - music-
      - news-digital
      - news-print
      - object-digital
      - object-
      - snd-
      - snd-rec
      - toy-
      - video-dvd
      - video-vhs
      - video-digital
      - video-film
      - video-bluray
      - video-
      - vis-digital
      - vis-
      - web-digital
      - web-dwn2d
      - web-
    briefHoldings:
      type: array
      items:
        $ref: '#/components/schemas/HoldingBrief'
    State:
      description: Name of the State/Province, per ISO 3166-2.
      type: string
    SearchFacet:
      type: object
      properties:
        index:
          type: string
        facetType:
          type: string
        values:
          type: array
          items:
            $ref: '#/components/schemas/FacetValue'
    PostalCode:
      description: Postal Code
      type: string
  parameters:
    accept:
      name: Accept
      in: header
      description: Content Type the client supports and is requesting (application/json currently supported)
      schema:
        type: string
        default: application/json
      required: false
    parameters-oclcNumberAsId:
      name: oclcNumber
      in: path
      description: record OCLC number
      required: true
      schema:
        $ref: '#/components/schemas/OclcNumber'
      example: 41266045
    creator:
      name: creator
      in: query
      description: creator strings to filter to
      required: false
      schema:
        description: pipe delimited set of creator strings to filter to
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 5
        example:
        - austen
        - jane|bronte
        - emily
      explode: false
      style: pipeDelimited
    heldByGroup:
      name: heldByGroup
      in: query
      description: Restrict to holdings held by Group Symbol
      required: false
      schema:
        type: string
      example: ASRL
    spProgram:
      name: spProgram
      in: query
      description: Limiter to restrict the response to bibliographic records associated with a particular shared print program (l8 index).
      required: false
      schema:
        type: string
      example: WEST
    heldBySymbol:
      name: heldBySymbol
      in: query
      description: Institution Symbol
      required: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/OCLCSymbol'
        minItems: 1
        maxItems: 5
      explode: false
      examples:
        single:
          value:
          - TXH
        multiple:
          value:
          - TXH
          - YSM
    facets:
      name: facets
      in: query
      description: The requested list of facets requested in the response
      required: false
      schema:
        type: array
        items:
          type: string
          enum:
          - subject
          - creator
          - datePublished
          - genre
          - itemType
          - itemSubTypeBrief
          - itemSubType
          - language
          - topic
          - subtopic
          - content
          - audience
          - databases
        minItems: 1
        maxItems: 13
      explode: false
      examples:
        single:
          value:
          - creator
        multiple:
          value:
          - creator
          - itemType
    query:
      name: q
      in: query
      description: query in the form of a keyword search or fielded search, for example  (au:gazihan OR au:womacka) AND kw:java See - https://help.oclc.org/Librarian_Toolbox/Searching_WorldCat_Indexes/Bibliographic_records/Bibliographic_record_indexes/Bibliographic_record_index_lists
      required: true
      schema:
        type: string
      example: 'ti: Simon''s Cat'
    limit:
      name: limit
      in: query
      description: maximum number of records to return, maximum 50, default 10
      required: false
      schema:
        type: integer
        format: int32
        default: 10
      example: 50
    dbIds:
      name: dbIds
      in: query
      description: The database IDs to filter to
      required: false
      schema:
        type: array
        items:
          type: integer
        minItems: 1
      explode: false
    heldByInstitutionID:
      name: heldByInstitutionID
      in: query
      description: Institution registryId
      required: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/RegistryId'
        minItems: 0
        maxItems: 5
      explode: false
      examples:
        single:
          value:
          - 128807
        multiple:
          value:
          - 128807
          - 91475
    heldBy:
      name: heldBy
      in: query
      description: Institution Symbol
      deprecated: true
      required: false
      schema:
        type: string
      example: TXH
    preferredLanguage:
      name: preferredLanguage
      in: query
      description: language user would prefer metadata description in
      required: false
      schema:
        description: three character MARC code for language to prefer records in
        type: string
        example: fre
    unit:
      name: unit
      in: query
      description: distance unit
      required: false
      schema:
        $ref: '#/components/schemas/Unit'
    topic:
      name: topic
      in: query
      description: topic to limit results to (s0 index). Based on OCLC Conspectus Division
      required: false
      schema:
        type: string
      example: 34000000
    lon:
      name: lon
      in: query
      description: longitude
      required: false
      schema:
        $ref: '#/components/schemas/Longitude'
    audience:
      name: audience
      in: query
      description: Audience to limit results to
      required: false
      schema:
        type: string
        enum:
        - juv
        - nonJuv
      example: juv
    groupRelatedEditions:
      name: groupRelatedEditions
      in: query
      description: Whether or not to use FRBR grouping. Default is 'false'
      required: false
      schema:
        type: boolean
        default: false
    enableSearchExpansion:
      name: enableSearchExpansion
      in: query
      description: whether or not to expand search terms
      schema:
        type: boolean
        default: false
    genre:
      name: genre
      in: query
      description: Genre to limit results to (ge index)
      required: false
      schema:
        type: string
      example: fiction
    showHoldingIndicators:
      name: showHoldingsIndicators
      in: query
      description: whether or not to show holdings indicators in response
      required: false
      schema:
        type: boolean
        default: false
    showLocalBibData:
      name: showLocalBibData
      in: query
      description: whether or not to show local bibliographic data in response
      required: false
      schema:
        type: boolean
        default: false
    materialType:
      name: materialType
      in: query
      description: Limiter to restrict the response to the specified material type (mt index). (URL, LPS)
      required: false
      schema:
        type: string
      example: URL
    subtopic:
      name: subtopic
      in: query
      description: subtopic to limit results to (s1 index). Based on OCLC Conspectus Category
      required: false
      schema:
        type: string
      example: 34932000
    offset:
      name: offset
      in: query
      description: start position of the bib records to return (0 based), default 0
      required: false
      schema:
        type: integer
        format: int32
        default: 0
      example: 10
    catalogSource:
      name: catalogSource
      in: query
      description: Limiter to restrict the response to the single OCLC symbol as the cataloging source (cs index). (OSL)
      required: false
      schema:
        type: string
      example: OCL
    editionOrderBy:
      name: orderBy
      in: query
      description: how to sort the edition resultsresults
      schema:
        type: string
        enum:
        - library
        - recency
        - bestMatch
        - creator
        - publicationDateAsc
        - publicationDateDesc
        - language
        - mostWidelyHeld
        - title
        default: publicationDateDesc
      example: language
    retentionCommitments:
      name: retentionCommitments
      in: query
      description: Limiter to restrict the response to bibliographic records with a retention commitment (l8 index).
      required: false
      schema:
        type: boolean
        default: false
    lat:
      name: lat
      in: query
      description: latitude
      required: false
      schema:
        $ref: '#/components/schemas/Latitude'
    orderBy:
      name: orderBy
      in: query
      description: result sort key
      required: false
      schema:
        type: string
        default: bestMatch
        enum:
        - library
        - recency
        - bestMatch
        - creator
        - publicationDateAsc
        - publicationDateDesc
        - mostWidelyHeld
        - title
    inLanguage:
      name: inLanguage
      in: query
      description: Limiter to restrict the response to the single specified language (ln index). (eng, fre, ger)
      required: false
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 5
      explode: false
      examples:
        single:
          value:
          - eng
        multiple:
          value:
          - eng
          - fre
          - ger
    inCatalogLanguage:
      name: inCatalogLanguage
      in: query
      description: Limiter to restrict the response to the single specified cataloging language (ll index). (dut, eng)
      required: false
      schema:
        type: string
      example: eng
    bookReviews:
      name: bookReviews
      in: query
      description: Filter results to include, exclude, or only show book reviews
      required: false
      schema:
        type: string
        enum:
        - include
        - exclude
        - only
        default: exclude
      example: exclude
    groupVariantRecords:
      name: groupVariantRecords
      in: query
      description: Whether or not to group variant records. Default is 'false'
      required: false
      schema:
        type: boolean
        default: false
    newsArticles:
      name: newsArticles
      in: query
      description: Filter results to include, exclude, or only show news articles
      required: false
      schema:
        type: string
        enum:
        - include
        - exclude
        - only
        default: exclude
      example: exclude
    itemSubType:
      name: itemSubType
      in: query
      description: Limiter to restrict the response to the single specified OCLC sub facet type (x1 index). (dvd, digital)
      required: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/ItemSubType'
        minItems: 1
        maxItems: 5
      explode: false
      examples:
        single:
          value:
          - book-digital
        multiple:
          value:
          - book-digital
          - audiobook-digital
    distance:
      name: distance
      in: query
      description: distance
      required: false
      schema:
        type: integer
        format: int32
      example: 10
    peerReviewed:
      name: peerReviewed
      in: query
      description: filter to just peer reviewed content
      required: false
      schema:
        type: boolean
    heldByBranchID:
      name: heldByBranchID
      in: query
      description: Filter holdings to specified branch IDs
      required: false
      schema:
        type: array
        items:
          type: integer
        minItems: 1
        maxItems: 5
      explode: false
    heldByRelevanceGroup:
      name: heldByRelevanceGroup
      in: query
      description: Filter holdings to specified relevance groups
      required: false
      schema:
        type: array
        items:
          type: integer
        minItems: 1
        maxItems: 5
      explode: false
    oclcNumberAsId:
      name: oclcNumber
      in: path
      description: record OCLC number
      required: true
      schema:
        $ref: '#/components/schemas/OclcNumber'
      example: 41266045
    content:
      name: content
      in: query
      description: Content to limit results to
      required: false
      schema:
        type: array
        items:
          type: string
          enum:
          - fic
          - nonFic
          - bio
        minItems: 1
        maxItems: 5
      explode: false
      examples:
        single:
          value:
          - fic
        multiple:
          value:
          - fic
          - bio
    itemType:
      name: itemType
      in: query
      description: Limiter to restrict the response to the single specified OCLC top-level facet type (x0 index). (book, image)
      required: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/ItemType'
        minItems: 1
        maxItems: 5
      explode: false
      examples:
        single:
          value:
          - book
        multiple:
          value:
          - book
          - audiobook
    openAccess:
      name: openAccess
      in: query
      description: filter to just open access content
      required: false
      schema:
        type: boolean
    deweyNumber:
      name: deweyNumber
      in: query
      description: Limiter to restrict the response to the specified dewey classification number(s). For multiple values repeat the URL parameter. (dd index)
      required: false
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 5
      explode: false
      examples:
        single:
          value:
          - 870
    datePublished:
      name: datePublished
      in: query
      description: Limiter to restrict the response to one or more dates or to a range (in index). (2000, 2000-2010, 1990,1991)
      required: false
      schema:
        type: array
        items:
          type: string
        minItems: 1
        maxItems: 5
      explode: false
      examples:
        single_date:
          value:
          - 2000
        multiple_dates:
          value:
          - 1990
          - 1991
        range:
          value:
          - 2000-2010
  examples:
    failed-not-found:
      summary: Error when resource not found
      value:
        type: NOT_FOUND
        title: Resource Not Found
        detail: The specified resource was not found at this address.
    method-not-allowed-error:
      summary: Error when invalid HTTP method used
      value:
        title: NOT_ALLOWED
        detail: POST method not allowed
    not-acceptable-error:
      summary: Error when media type in Accept header not supported
      value:
        type: https://developer.api.oclc.org/errors/NOT_ACCEPTABLE
        title: ''
        detail: 'Media type application/xml not supported. Supported media types: application/json'
    success-bibs-oclcnumber:
      summary: successful request a bib record by OCLC Number
      value:
        identifier:
          oclcNumber: '311684437'
          lccn: '2008937609'
          isbns:
          - '9781594743344'
          - '1594743347'
          - '9781594743351'
          - '1594743355'
          - '9781594744518'
          - '1594744513'
          externalIdentifiers:
          - oclcSymbol: AU@
            systemControlNumber: 43839587
          - oclcSymbol: AU@
            systemControlNumber: '000044205433'
          - oclcSymbol: AU@
            systemControlNumber: 44218081
          - oclcSymbol: AU@
            systemControlNumber: 54552395
          - oclcSymbol: CBK
            systemControlNumber: '120281791'
          - oclcSymbol: COVCL
            systemControlNumber: '1594743347'
          - oclcSymbol: DEBBG
            systemControlNumber: BV035970551
          - oclcSymbol: LBRUT
            systemControlNumber: '1594743347'
          - oclcSymbol: NLGGC
            systemControlNumber: '321202333'
          - oclcSymbol: NOK
            systemControlNumber: '1594743347'
          - oclcSymbol: NOK
            systemControlNumber: '1594744513'
          - oclcSymbol: NZ1
            systemControlNumber: '12866253'
          - oclcSymbol: NZ1
            systemControlNumber: '14508856'
          - oclcSymbol: OXFCL
            systemControlNumber: '1594743347'
          - oclcSymbol: REABC
            systemControlNumber: '1594743347'
          - oclcSymbol: UKBCI
            systemControlNumber: '120281791'
          - oclcSymbol: UKBCI
            systemControlNumber: 12033044X
          - oclcSymbol: UKBED
            systemControlNumber: '1594743347'
          - oclcSymbol: UKBFB
            systemControlNumber: '1594743347'
          - oclcSymbol: UKBNS
            systemControlNumber: '120281791'
          - oclcSymbol: UKBNS
            systemControlNumber: 12033044X
          - oclcSymbol: UKBNT
            systemControlNumber: '1594743347'
          - oclcSymbol: UKBOR
            systemControlNumber: 12033044X
          - oclcSymbol: UKBUR
            systemControlNumber: '1594743347'
          - oclcSymbol: UKCHS
            systemControlNumber: '1594743347'
          - oclcSymbol: UKDEL
            systemControlNumber: '120281791'
          - oclcSymbol: UKDLI
            systemControlNumber: '1594743347'
          - oclcSymbol: UKDON
            systemControlNumber: '1594743347'
          - oclcSymbol: UKDOR
            systemControlNumber: '120281791'
          - oclcSymbol: UKGTH
            systemControlNumber: '1594743347'
          - oclcSymbol: UKJSY
            systemControlNumber: '1594743347'
          - oclcSymbol: UKKCC
            systemControlNumber: '1594743347'
          - oclcSymbol: UKKUT
            systemControlNumber: '1594743347'
          - oclcSymbol: UKLBB
            systemControlNumber: '1594743347'
          - oclcSymbol: UKLCL
            systemControlNumber: '1594743347'
          - oclcSymbol: UKLLS
            systemControlNumber: '1594743347'
          - oclcSymbol: UKNLL
            systemControlNumber: '1594743347'
          - oclcSymbol: UKNWH
            systemControlNumber: '1594743347'
          - oclcSymbol: UKNWP
            systemControlNumber: '1594743347'
          - oclcSymbol: UKPMH
            systemControlNumber: '120281791'
          - oclcSymbol: UKSCO
            systemControlNumber: '120281791'
          - oclcSymbol: UKSCO
            systemControlNumber: 12033044X
          - oclcSymbol: UKSCO
            systemControlNumber: '1594743347'
          - oclcSymbol: UKSFD
            systemControlNumber: '1594743347'
          - oclcSymbol: UKSGC
            systemControlNumber: '120281791'
          - oclcSymbol: UKSGC
            systemControlNumber: 12033044X
          - oclcSymbol: UKSGC
            systemControlNumber: '1594743347'
          - oclcSymbol: UKSOM
            systemControlNumber: '120281791'
          - oclcSymbol: UKSOM
            systemControlNumber: 12033044X
          - oclcSymbol: UKSUS
            systemControlNumber: '1594743347'
          - oclcSymbol: UKTLS
            systemControlNumber: '120281791'
          - oclcSymbol: UNITY
            systemControlNumber: '120281791'
          - oclcSymbol: UNITY
            systemControlNumber: 12033044X
          - oclcSymbol: WARCC
            systemControlNumber: '1594743347'
          - oclcSymbol: NZ1
            systemControlNumber: '1338416'
          mergedOclcNumbers:
          - '261176486'
          - '330361568'
          - '377707240'
          - '426228842'
          - '701739996'
          - '716923895'
          - '731216527'
          - '887752101'
          - '945738851'
        title:
          mainTitles:
          - text: 'Pride and prejudice and zombies : the classic regency romance--now with ultraviolent zombie mayhem / by Jane Austen and Seth Grahame-Smith.'
          seriesTitles:
          - seriesTitle: Quirk classics
          - seriesTitle: Quirk classics.
        contributor:
          creators:
          - firstName:
              text: Seth.
            secondName:
              text: Grahame-Smith
            type: person
          - firstName:
              text: Jane
            secondName:
              text: Austen
            type: person
            creatorNotes:
            - 1775-1817.
        subjects:
        - subjectName:
            text: Austen, Jane, 1775-1817 Parodies, imitations, etc.
          vocabulary: Library of Congress Subject Headings
          subjectType: personalName
        - subjectName:
            text: Bennet, Elizabeth (Fictitious character) Fiction.
          vocabulary: Library of Congress Subject Headings
          subjectType: personalName
        - subjectName:
            text: Darcy, Fitzwilliam (Fictitious character) Fiction.
          vocabulary: Library of Congress Subject Headings
          subjectType: personalName
        - subjectName:
            text: Austen, Jane, 1775-1817 Parodies, imitations, etc.
          vocabulary: sears
          subjectType: personalName
        - subjectName:
            text: Austen, Jane, 1775-1817.
          vocabulary: fast
          subjectType: personalName
        - subjectName:
            text: Bennet, Elizabeth (Fictitious character)
          vocabulary: fast
          subjectType: personalName
        - subjectName:
            text: Darcy, Fitzwilliam (Fictitious character)
          vocabulary: fast
          subjectType: personalName
        - subjectName:
            text: Zombies Fiction.
          vocabulary: Library of Congress Subject Headings
          subjectType: topic
        - subjectName:
            text: Young women England Fiction.
          vocabulary: Library of Congress Subject Headings
          subjectType: topic
        - subjectName:
            text: Social classes England Fiction.
          vocabulary: Library of Congress Subject Headings
          subjectType: topic
        - subjectName:
            text: Sisters Fiction.
          vocabulary: Library of Congress Subject Headings
          subjectType: topic
        - subjectName:
            text: Darcy, Fitzwilliam (Fictional character) Fiction.
          vocabulary: sears
          subjectType: topic
        - subjectName:
            text: Bennet, Elizabeth (Fictional character) Fiction.
          vocabulary: sears
          subjectType: topic
        - subjectName:
            text: Zombies Fiction.
          vocabulary: sears
          subjectType: topic
        - subjectName:
            text: Sisters.
          vocabulary: fast
          subjectType: topic
        - subjectName:
            text: Social classes.
          vocabulary: fast
          subjectType: topic
        - subjectName:
            text: Young women.
          vocabulary: fast
          subjectType: topic
        - subjectName:
            text: Zombies.
          vocabulary: fast
          subjectType: topic
        - subjectName:
            text: England Fiction.
          vocabulary: Library of Congress Subject Headings
          subjectType: geographicalTerm
        - subjectName:
            text: England.
          vocabulary: fast
          subjectType: geographicalTerm
        - subjectName:
            text: Horror tales.
          vocabulary: Library of Congress Subject Headings
          subjectType: genreFormTerm
        - subjectName:
            text: Regency fiction.
          vocabulary: gsafd
          subjectType: genreFormTerm
        - subjectName:
            text: Regency novels.
          vocabulary: sears
          subjectType: genreFormTerm
        - subjectName:
            text: Fiction.
          vocabulary: fast
          subjectType: genreFormTerm
        - subjectName:
            text: Horror tales.
          vocabulary: fast
          subjectType: genreFormTerm
        - subjectName:
            text: Parodies, imitations, etc.
          vocabulary: fast
          subjectType: genreFormTerm
        classification:
          dewey: 813/.6
          lc: PS3607.R348 P75 2009
        publishers:
        - publisherName:
            text: Quirk Books ; Distributed in North America by Chronicle Books
          publicationPlace: 'Philadelphia :, San Francisco :'
        date:
          publicationDate: ©2009.
          createDate: '20080916'
          replaceDate: '20160418'
        language:
          catalogingLanguage: eng
        edition: {}
        note: {}
        format:
          generalFormat: Book
          specificFormat: PrintBook
          materialTypes:
          - fic
        musicInfo: {}
        description:
          physicalDescription: '335 pages : illustrations ; 21 cm.'
          genres:
          - Horror tales.
          - Regency fiction.
          - Regency novels.
          - Fiction.
          - Parodies, imitations, etc.
          summaries:
          - text: As a mysterious plague falls upon the village of Meryton and zombies start rising from the dead, Elizabeth Bennet is determined to destroy the evil menace, but becomes distracted by the arrival of the dashing and arrogant Mr. Darcy.
          peerReviewed: N
        related: {}
        work:
          id: '2289778060'
          count: 54
        editionCluster:
          id: d1627d1ae0c1cfa1446621aa64d1313a
          count: 11
        totalEditions: 9
        database:
          source: xwc
          collection: xwc
    invalid-oclc-number:
      summary: Error returned when oclc number isn't valid
      value:
        type: INVALID_QUERY_PARAMETER_VALUE
        title: Validation Failure
        detail: oclcNumber must be a positive whole number
    not-acceptable-error-language:
      summary: Error when language in Accept-Language header not supported
      value:
        type: https://developer.api.oclc.org/errors/NOT_ACCEPTABLE
        title: ''
        detail: 'en-UK supported. Supported languages: en, es, fr'
    missing-query-parameter:
      summary: Error returned when required query parameter not sent
      value:
        type: MISSING_QUERY_PARAMETER
        title: Validation Failure
        detail: Required String parameter 'q' is not present
    success-brief-bibs-photo:
      summary: OCLC Number for photo material format
      value:
        oclcNumber: '722875457'
        title: NRCS photo gallery.
        creator: United States.
        date: 200u
        language: eng
        generalFormat: Vis
        specificFormat: Digital
        publisher: U.S. Dept. of Agriculture, Natural Resources Conservation Service
        publicationPlace: '[Washington, D.C.] :'
        catalogingInfo:
          catalogingAgency: GPO
          transcribingAgency: GPO
          catalogingLanguage: eng
          levelOfCataloging: ' '
    missing-query-parameter-value:
      summary: Error returned when query parameter value not valid
      value:
        type: INVALID_QUERY_PARAMETER_VALUE
        title: Validation Failure
        detail: Query term is not provided.
    success-brief-bibs-search:
      summary: successful search request for brief-bibs
      value:
        numberOfRecords: 2
        briefRecords:
        - oclcNumber: '44959645'
          title: Pride and prejudice.
          creator: Jane Austen
          date: 199u
          language: eng
          generalFormat: Book
          specificFormat: Digital
          publisher: Project Gutenberg
          publicationPlace: Champaign, Ill.
          isbns:
          - 0585013365
          - '9780585013367'
          - '9781925480337'
          - 192548033X
          mergedOclcNumbers:
          - '818363152'
          - '854852439'
          - '859164912'
          - '956345342'
          catalogingInfo:
            catalogingAgency: N$T
            transcribingAgency: N$T
            catalogingLanguage: eng
            levelOfCataloging: L
        - oclcNumber: '1103229133'
          title: Pride and Prejudice [eBook - RBdigital].
          creator: Jane Austen
          date: '1998'
          language: eng
          generalFormat: Book
          specificFormat: Digital
          publisher: Project Gutenberg Literary Archive Foundation
          publicationPlace: Salt Lake City
          isbns:
          - '9781470398842'
          - '1470398842'
          mergedOclcNumbers: null
          catalogingInfo:
            catalogingAgency: HQD
            transcribingAgency: HQD
            catalogingLanguage: eng
            levelOfCataloging: ' '
    invalid-query-parameter-bad-index:
      summary: Error returned when q parameter contains invalid index
      value:
        type: INVALID_QUERY_PARAMETER_VALUE
        title: Validation Failure
        detail: 'Search term ''mt:doc'' is invalid. Following indexes are not allowed: [dd=, dd:, yr=, yr:, li=, li:, ln=, ln:, ll=, ll:, mt=, mt:, cs=, cs:, x0=, x0:, x4=, x4:]'
    success-brief-bibs-article:
      summary: OCLC Number for article material format
      value:
        oclcNumber: '806039046'
        title: Where to find it guide 2012.
        date: '2012'
        language: eng
        generalFormat: ArtChap
        specificFormat: Artcl
        catalogingInfo:
          catalogingAgency: VG8
          transcribingAgency: VG8
          catalogingLanguage: eng
          levelOfCataloging: ' '
    success-brief-bibs-website:
      summary: OCLC Number for website material format
      value:
        oclcNumber: '37853368'
        title: Web of science.
        creator: Institute for Scientific Information
        date: 19uu
        language: eng
        generalFormat: Web
        specificFormat: Digital
        publisher: Institute for Scientific Information
        publicationPlace: ''
        mergedOclcNumbers:
        - '38843632'
        - '40309342'
        - '50587217'
        - '56261045'
        - '57054977'
        - '58569150'
        - '64095647'
        - '122695701'
        - '223607047'
        - '230709879'
        - '270881261'
        - '520430950'
        - '575541562'
        - '605594496'
        - '612507180'
        - '614013499'
        - '654125984'
        - '697320093'
        - '741254328'
        - '741640936'
        - '753941775'
        - '754930619'
        - '779657497'
        - '779701080'
        - '792926516'
        - '792926517'
        - '813397401'
        - '815723516'
        - '844769748'
        - '868916615'
        - '880438497'
        - '895666123'
        catalogingInfo:
          catalogingAgency: INU
          transcribingAgency: INU
          catalogingLanguage: eng
          levelOfCataloging: ' '
    invalid-query-parameter-bad-facet-number:
      summary: Error returned when facet parameter contains invalid value
      value:
        type: INVALID_QUERY_PARAMETER_VALUE
        title: Validation Failure
        detail: Number of facet is not numeric.
    success-bibs:
      summary: successful request for bibs
      value:
        numberOfRecords: 14249
        bibRecords:
        - identifier:
            oclcNumber: '311684437'
            lccn: '2008937609'
            isbns:
            - '9781594743344'
            - '1594743347'
            - '9781594743351'
            - '1594743355'
            - '9781594744518'
            - '1594744513'
            externalIdentifiers:
            - oclcSymbol: AU@
              systemControlNumber: 43839587
            - oclcSymbol: AU@
              systemControlNumber: '000044205433'
            - oclcSymbol: AU@
              systemControlNumber: 44218081
            - oclcSymbol: AU@
              systemControlNumber: 54552395
            - oclcSymbol: CBK
              systemControlNumber: '120281791'
            - oclcSymbol: COVCL
              systemControlNumber: '1594743347'
            - oclcSymbol: DEBBG
              systemControlNumber: BV035970551
            - oclcSymbol: LBRUT
              systemControlNumber: '1594743347'
            - oclcSymbol: NLGGC
              systemControlNumber: '321202333'
            - oclcSymbol: NLNZL
              systemControlNumber: '9913384163502836'
            - oclcSymbol: NOK
              systemControlNumber: '1594743347'
            - oclcSymbol: NOK
              systemControlNumber: '1594744513'
            - oclcSymbol: NZ1
              systemControlNumber: '12866253'
            - oclcSymbol: NZ1
              systemControlNumber: '1338416'
            - oclcSymbol: NZ1
              systemControlNumber: '14508856'
            - oclcSymbol: OXFCL
              systemControlNumber: '1594743347'
            - oclcSymbol: REABC
              systemControlNumber: '1594743347'
            - oclcSymbol: UKBCI
              systemControlNumber: '120281791'
            - oclcSymbol: UKBCI
              systemControlNumber: 12033044X
            - oclcSymbol: UKBED
              systemControlNumber: '1594743347'
            - oclcSymbol: UKBFB
              systemControlNumber: '1594743347'
            - oclcSymbol: UKBNS
              systemControlNumber: '120281791'
            - oclcSymbol: UKBNS
              systemControlNumber: 12033044X
            - oclcSymbol: UKBNT
              systemControlNumber: '1594743347'
            - oclcSymbol: UKBOR
              systemControlNumber: 12033044X
            - oclcSymbol: UKBUR
              systemControlNumber: '1594743347'
            - oclcSymbol: UKCHS
              systemControlNumber: '1594743347'
            - oclcSymbol: UKDEL
              systemControlNumber: '120281791'
            - oclcSymbol: UKDLI
              systemControlNumber: '1594743347'
            - oclcSymbol: UKDON
              systemControlNumber: '1594743347'
            - oclcSymbol: UKDOR
              systemControlNumber: '120281791'
            - oclcSymbol: UKGTH
              systemControlNumber: '1594743347'
            - oclcSymbol: UKJSY
              systemControlNumber: '1594743347'
            - oclcSymbol: UKKCC
              systemControlNumber: '1594743347'
            - oclcSymbol: UKKUT
              systemControlNumber: '1594743347'
            - oclcSymbol: UKLBB
              systemControlNumber: '1594743347'
            - oclcSymbol: UKLCL
              systemControlNumber: '1594743347'
            - oclcSymbol: UKLLS
              systemControlNumber: '1594743347'
            - oclcSymbol: UKNLL
              systemControlNumber: '1594743347'
            - oclcSymbol: UKNWH
              systemControlNumber: '1594743347'
            - oclcSymbol: UKNWP
              systemControlNumber: '1594743347'
            - oclcSymbol: UKPMH
              systemControlNumber: '120281791'
            - oclcSymbol: UKSCO
              systemControlNumber: '120281791'
            - oclcSymbol: UKSCO
              systemControlNumber: 12033044X
            - oclcSymbol: UKSCO
              systemControlNumber: '1594743347'
            - oclcSymbol: UKSFD
              systemControlNumber: '1594743347'
            - oclcSymbol: UKSGC
              systemControlNumber: '120281791'
            - oclcSymbol: UKSGC
              systemControlNumber: 12033044X
            - oclcSymbol: UKSGC
              systemControlNumber: '1594743347'
            - oclcSymbol: UKSOM
              systemControlNumber: '120281791'
            - oclcSymbol: UKSOM
              systemControlNumber: 12033044X
            - oclcSymbol: UKSUS
              systemControlNumber: '1594743347'
            - oclcSymbol: UKTLS
              systemControlNumber: '120281791'
            - oclcSymbol: UNITY
              systemControlNumber: '120281791'
            - oclcSymbol: UNITY
              systemControlNumber: 12033044X
            - oclcSymbol: WARCC
              systemControlNumber: '1594743347'
            mergedOclcNumbers:
            - '261176486'
            - '330361568'
            - '377707240'
            - '426228842'
            - '701739996'
            - '716923895'
            - '731216527'
            - '887752101'
            - '945738851'
            - '1045429884'
          title:
            mainTitles:
            - text: 'Pride and prejudice and zombies : the classic regency romance--now with ultraviolent zombie mayhem / by Jane Austen and Seth Grahame-Smith.'
            seriesTitles:
            - seriesTitle: Quirk classics
            - seriesTitle: Quirk classics.
          contributor:
            creators:
            - firstName:
                text: Seth
              secondName:
                text: Grahame-Smith
              type: person
              creatorNotes:
              - author.
              relators:
              - term: Author.
                alternateTerm: aut
            - firstName:
                text: Jane
              secondName:
                text: Austen
              type: person
              creatorNotes:
              - 1775-1817. http://rdaregistry.info/Elements/w/P10197
              relators:
              - alternateTerm: http://rdaregistry.info/Elements/w/P10197
            additionalCreators:
            - relationshipInfo: 'Parody of (work):'
              titles:
              - Pride and prejudice.
              relators:
              - alternateTerm: http://rdaregistry.info/Elements/w/P10197
              relatedData: Austen, Jane, 1775-1817.
          subjects:
          - subjectName:
              text: Austen, Jane, 1775-1817 Parodies, imitations, etc.
            vocabulary: Library of Congress Subject Headings
            subjectType: personalName
          - subjectName:
              text: Bennet, Elizabeth (Fictitious character) Fiction.
            vocabulary: Library of Congress Subject Headings
            subjectType: personalName
          - subjectName:
              text: Darcy, Fitzwilliam (Fictitious character) Fiction.
            vocabulary: Library of Congress Subject Headings
            subjectType: personalName
[...]
